[2017-05-18 04:01] patrickhulce commented on #2293
- [ ] https://plustimer.firebaseapp.com/ (fails the perf metrics with an `atob is not defined` debug string)

[2017-05-18 04:46] patrickhulce commented on #2265
Are you still experiencing this @stramel? I'm not seeing it with any combination of categories on the latest canary extension

#2206 may have fixed it

[2017-05-18 05:02] stramel commented on #2265
Seems like it is fixed! Thanks for checking @patrickhulce

[2017-05-18 05:02] #2265 closed

[2017-05-18 05:31] benschwarz commented on #2293
- [ ] [Bloomberg](https://www.bloomberg.com/europe) was having trouble too

[2017-05-18 07:29] janbaer commented on #2292
Yes Chrome is starting from the commandline in the headless mode and also in the normal mode. The userdata dir was empty when I started it. So directly from the commandline it's working perfectly. And yes, it sounds weird since I saw the command line args and spawn should do nothing different then I would do in the manual mode.

[2017-05-18 09:19] janbaer commented on #2292
It seems that on the Computer of my colleague it's working, but he's using the Chrome 59 Beta on Linux and I've Chrome Canary on MacOS.

[2017-05-18 10:41] Mika83AC opened #2301 "Big difference in perf measurement between Lighthouse and Chrome DevTools?!"
Hello everyone,

not sure if it's correct to open an issue for that, if not, please forgive me ;)

I'm checking my PWA with Lighthouse and I'm getting a very big difference to its performance than to what the ChromeDevTools Performance tab tells me about it.

Here is the result of what the ChromeDevTools Performance tab tells (with Nexus 5 "emulation", Cache disabled, network throttled to "Good 3G

[2017-05-18 15:30] patrickhulce commented on #2301
The screenshot of the trace in the performance tab looks like network throttling has not been applied (perhaps a bug if this is reproducible for you?), and I would not trust those results.

For the LH report, I see you're using 1.6.5 which uses much lighter throttling that isn't quite as representative of actual 3G speeds which we've addressed in our 2.0.0-alpha builds. The results of a quick run

[2017-05-18 15:45] patrickhulce commented on #2293
@benschwarz could you elaborate with what issues you're seeing there? On a couple runs the only issue I'm seeing is running up to the 30s timeout before TTCI is computed

[2017-05-18 16:18] rmorales2016 opened #2302 "Extension Error: Protocol error (Tracing.start): Tracing is already started"
**Lighthouse Version**: 1.6.5
**Chrome Version**: 58.0.3029.110
**URL**: https://ivf-dev.com/trending/deals
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-05-18 16:22] patrickhulce commented on #2302
dupe of #1091

[2017-05-18 16:22] #2302 closed

[2017-05-18 23:50] patrickhulce opened #2304 "Measure the execution time of each task more accurately"
Right now some audits that request computed artifacts are before the audit that most clearly identifies what's being computed (loadfast4pwa uses first interactive and looks like it takes a very long time while first interactive later appears to be very fast since it's using the now cached result.

[2017-05-19 00:03] ErstwhileWork opened #2305 "Extension Error: Invalid string length"
**Lighthouse Version**: 1.6.5
**Chrome Version**: 59.0.3071.47
**URL**: http://mcdcc.org/
**Error Message**: Invalid string length
**Stack Trace**:
[code]

[2017-05-19 00:09] ErstwhileWork opened #2306 "Extension Error: Invalid string length when generationg report on mcdcc.org page"
**Lighthouse Version**: 1.6.5
**Chrome Version**: 59.0.3071.47
**URL**: http://mcdcc.org/
**Error Message**: Invalid string length
**Stack Trace**:
[code]

[2017-05-19 00:15] patrickhulce commented on #2306
dupe of #2305

[2017-05-19 00:15] #2306 closed

[2017-05-19 06:28] TigressBailey opened #2309 "Extension Error: You must provide a url to the runner"
**Lighthouse Version**: 1.6.5
**Chrome Version**: 58.0.3029.81
**URL**: http://www.mysiteurl.com/
**Error Message**: You must provide a url to the runner
**Stack Trace**:
[code]

[2017-05-19 06:30] benschwarz commented on #2293
Ok, if it runs at all it must've been fixed in the last two weeks. 👍
The 30s timeout is a whole other thing, which is being tracked elsewhere, right?

[2017-05-19 06:59] Mika83AC commented on #2301
@patrickhulce Oh, you're right. I had set the network throttling in the Network tab which does not affect the measurement on the Performance tab! Missed the hidden options there. Thx for your hint :)!

[2017-05-19 06:59] #2301 closed

[2017-05-19 17:19] glittle opened #2311 "Wording issue --> "won't" should be "will""
![image](https://cloud.githubusercontent.com/assets/85186/26259178/f7eb72a0-3c84-11e7-91a2-dbfd5fb29c15.png)

[2017-05-19 17:56] patrickhulce commented on #2311
related #1611 #1613

[2017-05-19 17:56] yorchv opened #2313 "Hash route is removed when running an Audit"
Using 60.0.3104.0 (Official Build) canary (64-bit) built in Audit Dev Tool you are losing the state of the hash route when the audit begins.

Test Case:

Open a web page that contains a hash route:
IE: `www.example.com/index.html?queryParam=123#/hashRoute/secondParam`

Open Audit Developer Tool and Run a new Audit
Expected behavior:
Open the same URL Route that is currently active.
Actual Behavior

[2017-05-19 18:07] patrickhulce commented on #2313
thanks for the report @yorchv I can confirm the issue! as a temporary workaround you can use the CLI or extension

filed https://bugs.chromium.org/p/chromium/issues/detail?id=724558

[2017-05-19 21:39] rossPatton commented on #1615
has this fix been merged into lighthouse?

[2017-05-19 21:55] canamo06 commented on #1418
Any update on this issue? is there a way to do it in the 2.0.0 version? I need to test an authenticated page from CLI.

[2017-05-19 21:59] fdn commented on #1418
I never submitted a pull request since the API is quite gross. You might be able to cherry pick my commit into your local... or use the commit from above 2f54c0e

https://github.com/fdn/lighthouse/commits/feature/new-flags

[2017-05-19 22:52] kgdev opened #2316 "Extension Error: You must provide a url to the runner"
**Lighthouse Version**: 1.6.5
**Chrome Version**: 58.0.3029.110
**URL**: https://connect-local.unity.com:8443/p
**Error Message**: You must provide a url to the runner
**Stack Trace**:
[code]

[2017-05-20 00:04] patrickhulce commented on #2309
dupe of #1834

[2017-05-20 00:04] #2309 closed

[2017-05-20 00:04] patrickhulce commented on #2316
dupe of #1834

[2017-05-20 00:04] #2316 closed

[2017-05-20 11:41] fchristant opened #2317 "Should HTML element itself be subject to accessibility testing"
Just checking if this is a false positive:

# Elements Describe Contents Well
## Screen readers and other assistive technologies require annotations to understand otherwise ambiguous content.

The element this is failing on:

`<html lang="en" data-template="empty" class="multiplebgs opacity rgba touchevents fontface textshadow backgroundsize flexbox flexboxlegacy objectfit object-fit no-ie no-ipad

[2017-05-20 16:24] obihill opened #2318 "Extension Error: Protocol error (Tracing.start): Tracing is already started"
**Lighthouse Version**: 2.0.0
**Chrome Version**: 57.0.2987.133
**URL**: https://www.google.com.ng/search?q=lighthouse chrome error

[2017-05-20 17:00] XhmikosR opened #2319 "Lighthouse 2.0.0 error"
[code]

Using Chrome 58 64-bit on Windows 7 64-bit.

[2017-05-20 17:08] XhmikosR opened #2320 "Lighthouse 2.0.0 FF issues"
I'm using Firefox 54 beta on Windows 7 64-bit

1. Some of the new SVG icons don't show up here
2. The score on the sidebar shows NaN

![screen shot 2017-05-20 at 20 01 33-fullpage](https://cloud.githubusercontent.com/assets/349621/26277798/0eaa3512-3d98-11e7-8f89-ef9d2e0b4898.png)

[2017-05-20 17:21] stramel commented on #2318
Dupe of #1091

[2017-05-20 17:25] obihill commented on #2318
Ok, thanks. Sorry, I just clicked on report error without checking.

[2017-05-20 17:25] #2318 closed

[2017-05-20 17:44] stramel commented on #2318
No problem :) Thanks for reporting

[2017-05-20 18:12] XhmikosR commented on #2319
Took a while but I managed to fix this.

It was caused by my CSP which I didn't have `connect-src` specified so the fallback was `default-src none`.

This didn't happen with the previous Lighthouse version, but feel free to close if you think you shouldn't handle this.

[2017-05-20 18:18] wardpeet commented on #2319
Thanks for reporting, we will have a look :)

[2017-05-20 21:48] stefanedberg opened #2321 "Lighthouse 2.0.0 crash"
Tested with multiple URLs, all crash.

OS: macOS 10.12.4

[code]

[2017-05-20 23:51] ev1stensberg commented on #1798
@paulirish Do you have some test case of some sort I can run this against to make sure this is working?

[2017-05-21 00:40] robdodson commented on #1615
Yep https://github.com/GoogleChrome/lighthouse/pull/2090 contained the fix.

@ebidel should we close this?

[2017-05-21 02:18] ebidel commented on #1615
Done!

[2017-05-21 02:18] #1615 closed

[2017-05-21 05:40] shahraship opened #2323 "blob url shouldn't be flagged as insecure"
when using Blob and window object url to load it, it flags it as an insecure request
for example:
`var blob = new Blob(['SOME JS WEB WORKER CONTENT']);
var worker = new Worker(window.URL.createObjectURL(blob));
worker.postMessage({});`
This loads a blob url in the browser network requests and is flagged as insecure.

[2017-05-21 07:48] XhmikosR commented on #1412
@paulirish: were the tools updated? I don't see the error with v2.0.0 anymore.

[2017-05-21 07:49] XhmikosR commented on #1705
This is still a valid issue. I'm not sure if it's a bug with axe or something else...

[2017-05-21 07:54] XhmikosR commented on #2321
Weird, personally I can't reproduce with node.js 6.10.3 on Windows with any http URL.

Maybe you could uninstall and reinstall lighthouse. Also, `npm cache clean` beforehand just to be safe.

[2017-05-21 07:56] XhmikosR commented on #2305
Maybe try with version 2.0.0. I can't reproduce this v2.0.0 CLI.

[2017-05-21 09:25] stefanedberg commented on #2321
Ok, strange.

[code]

Same problem. If I install 1.6.5 it works.

[2017-05-21 12:23] fchristant opened #2324 "Update critical request chains description to reflect inclusion of non-render-blocking requests"
Consider this more of a question or discussion rather than an issue. In some cases, I find this text in the Critical Request chain section to be somewhat misleading:

**The Critical Request Chains below show you what resources are required for first render of this page.**

Imagine a page with a CSS reference in the head, and all script references just before the end body tag. Lighthouse will repor

[2017-05-21 17:20] kscm commented on #2304
Since v2.0.0, performance measures are baffling, like here:
 _Consistently Interactive_ 850ms, but registering _First meaningful paint_ 851.9ms

First meaningful paint 851.9ms
First Interactive (beta) 850ms
Consistently Interactive (beta) 850ms

And somehow the "850ms" ~ "1+ sec" I get as results don't really match what I see:
https://www.webpagetest.org/result/170521_31_TBB/

LH v1 was measuring

[2017-05-21 17:34] benschwarz commented on #2304
I'm seeing this too on plenty of runs

[2017-05-21 17:56] CharlesOkwuagwu commented on #1978
@jandry , @ebidel is there a temporary workaround for localhost?

The best I can think of for now is to serve both http and https from the same port using https://github.com/mscdex/httpolyglot

[2017-05-21 21:21] kscm opened #2325 "feature: Measure a warm load"
It may be useful to separate performance testing in two:

1) when the web-app is "first run" (before/when Service Worker is registered)
2) repeated run, after Service Worker registration (all resources are cached by the service worker in the first run)

[2017-05-21 21:24] brendankenny commented on #2304
@kscm that sounds unrelated to the original post. This is talking about the wall clock time to compute an audit, not the time an audit measures. Would you mind filing a separate issue?

[2017-05-21 21:42] XhmikosR commented on #2321
I still can't reproduce this on my system.

[code]

[2017-05-21 23:43] oninross opened #2326 "[user-scalable="no"] is not used in the <meta name="viewport"> even though its declared"
![screenshot_052217_094347_am](https://cloud.githubusercontent.com/assets/2233813/26288337/27da9ba8-3ed3-11e7-948c-4906f0498e55.jpg)

Am I missing something here?

[2017-05-22 02:04] kscm opened #2327 "performance measures, since v2.0.0"
Since v2.0.0, performance measures are baffling, like here:
_Consistently Interactive_ 850ms, but registering _First meaningful paint_ 851.9ms

First meaningful paint 851.9ms
First Interactive (beta) 850ms
Consistently Interactive (beta) 850ms

The "850ms" ~ "1s+" I get as results don't really match what I see:
https://www.webpagetest.org/result/170521_31_TBB/

LH v1 was measuring those at about 2

[2017-05-22 02:36] sunilp opened #2328 "DevTools Error: Protocol error (Tracing.start): Tracing is already started"
**Initial URL**: https://www.google.com.sg/?gfe_rd=cr
**Chrome Version**: 60.0.3106.0
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-05-22 04:12] stramel commented on #2328
Dupe of #1091

[2017-05-22 11:28] tobysoby commented on #2321
Same here :-(

OS: macOS 10.12.3

Stacktrace:
$ node -v && npm -v
v7.9.0
4.2.0
$ lighthouse --version
2.0.0
$ lighthouse http://google.com
  ChromeLauncher Waiting for browser. +0ms
  ChromeLauncher Waiting for browser... +2ms
  ChromeLauncher Waiting for browser..... +515ms
  ChromeLauncher Waiting for browser.....✓ +4ms
  Lighthouse:warn The URL provided should be on HTTPS +1s
  Lighthouse:warn

[2017-05-22 11:32] XhmikosR commented on #2321
OK, so it's something OSX related as it seems. So /me is out since I'm a Windows user.

[2017-05-22 13:10] gilberto-torrezan commented on #1418
Just a comment, if you're using basic authentication, you can run lighthouse this way:

[code]

[2017-05-22 13:32] #2328 closed

[2017-05-22 13:33] sunilp commented on #2328
yes found it to be similar.. #1091

[2017-05-22 13:39] wardpeet commented on #2328
we will try to fix it asap :)

[2017-05-22 13:40] wardpeet commented on #2326
thanks, might be a bug with our audit! Perhaps you have a real url we can test on?

[2017-05-22 13:48] oninross commented on #2326
Here you go
https://project-infinite-127eb.firebaseapp.com/#/hello/

[2017-05-22 15:22] wardpeet commented on #2321
@tobysoby & @stefanedberg could you post the output of locale. Could you also try running lighthouse with the flag `--disable-cpu-throttling`
`lighthouse <url> --disable-cpu-throttling`

what version of chrome canary do you have installed? or chrome whatever you're running lighthouse on

![image](https://cloud.githubusercontent.com/assets/1120926/26315890/d5d3fdfa-3f12-11e7-98c0-9c4eb1981b6f.png)

[2017-05-22 15:38] ErstwhileWork opened #2329 "Extension Error: Invalid string length"
**Lighthouse Version**: 2.0.0
**Chrome Version**: 59.0.3071.61
**URL**: http://mcdcc.org/
**Error Message**: Invalid string length
**Stack Trace**:
[code]

[2017-05-22 16:12] patrickhulce commented on #2323
good catch thanks for the report @shahraship!

[2017-05-22 16:13] patrickhulce commented on #1705
related #2214

[2017-05-22 16:21] patrickhulce commented on #2324
@fchristant you are correct that such scripts are not render blocking and we should update our text to reflect the set of resources we are highlighting there. Currently, it's the set of network requests (and their parents) that Chrome issued with a relatively "high priority" which typically includes stylesheets, fonts, and non-async scripts. Thanks for bringing up this inconsistency! 👍

[2017-05-22 16:28] patrickhulce commented on #2327
@kscm a couple of things are going on here

* The WPT run I see looks like no throttling was applied (using "Cable" network settings), are you comparing to a Lighthouse run without throttling as well?
* Assuming you're using the default LH setup, the drastic increase in metric times is a result of harsher throttling that we've made default in 2.0 (#2238)
* FMP seemingly after interactive is fixed

[2017-05-22 16:32] patrickhulce commented on #2326
Ah @oninross @wardpeet this is a result of confusing help text :)

The audit is telling you to *not* use `user-scalable=no` and make sure your `maximum-scale` is greater than or equal to 5. Since you *are* disabling zoom by setting `user-scalable` to no and have a `maximum-scale` attribute less than 5, the audit failed.

[2017-05-22 16:34] patrickhulce commented on #2326
closing in favor of #1611

[2017-05-22 16:34] #2326 closed

[2017-05-22 16:46] patrickhulce commented on #2321
Hmmm strange that this would be new, there must be odd behavior with one of the protocol methods we started using recently.

@stefanedberg any chance you could throw a `console.log(data)` line into `/usr/local/lib/node_modules/lighthouse/lighthouse-core/lib/log.js` on line 110 and let us know the output? That would be a huge help to tracking down since having a hard time reproing. :)

[2017-05-22 16:46] paulirish commented on #2323
@shahraship nice catch.

[2017-05-22 17:00] paulirish commented on #2321
I can't repro but here's what I see what I throw `console.trace()` right into line 110.
I've also reduced the logs to only be the ones that (appear to) match the above stack trace

<details>
<summary>all in here</summary>

[code]
</details>

[2017-05-22 17:00] patrickhulce commented on #2317
@fchristant "Elements Describe Contents Well" is the overall audit group that contains a number of specific checks. If you could you send a screenshot or name of the specific audit that's failing, we'd be able to help more, but off the top of my head I might guess that it's the `bypass` audit that is failing which you can read more about in the [axe docs](https://dequeuniversity.com/rules/axe/1.1/

[2017-05-22 17:09] #2323 closed

[2017-05-22 17:14] benschwarz opened #2331 "Runs with very slow network connections will not resolve a firstMeaningfulPaintCandidate"
When slowing a page down to a 2G connection (via chrome's definition of this), lighthouse times out the run at 30 seconds, and then attempts to grab the trace… only to find that there is no `firstMeaningfulPaintCandidate` present.

Given that 2G connections make up around 60% of global mobile connections, I think its worth pursing this issue. Keen to hear your ideas.

[2017-05-22 17:15] paulirish commented on #2321
To shorten that up, these are the events i'm seeing emitted in that time:

[code]

To get here, we'd get:

1. a protocol message
1. the message seemingly doesn't have an `object.id` (which implies its an event, rather than a method response)
1. however the event message doesn't have an `object.method` string

all very odd.

-----------

@tobysoby and @stefanedberg if you can toss the console.log i

[2017-05-22 17:20] patrickhulce commented on #1615
@rossPatton yes version 2.0.0 of Lighthouse has axe 2.2.0 and re-running on that URL you provided seems to have just 1 valid failure now for an [orange background](http://leaverou.github.io/contrast-ratio/#%23ff5722-on-white).

[2017-05-22 17:26] patrickhulce commented on #2331
@benschwarz we've been discussing potential timeout changes, but since any site with an FMP of >30s will fail nearly every perf audit we have with a 0, it's not super clear what value we get out of identifying exactly how bad it is since we'd also be slowing down the default runs of all other sites.

In those situations where you're trying to track performance beyond 30s and as a workaround, you c

[2017-05-22 17:40] benschwarz commented on #2331
@patrickhulce Yeah, I was thinking that would be the case — Perhaps the timeout could be raised for runs that have network set below x many bytes per second? At least that way the runs wouldn't take longer for no reason.

I don't know that theres any LH action to take here, but I wanted to share it somewhere that you can come back to it when looking at network timeout. :1st_place_medal:

[2017-05-22 17:42] wardpeet commented on #2324
Just to be clear we don't affect your score at all with this audit we only show this in the report as informative so you shouldn't worry about it too much but we are happy to get pointers on how to improve this audit.

[2017-05-22 17:49] rossPatton commented on #1615
lighthouse 2.0 is very 👍

[2017-05-22 18:37] NamKot opened #2332 "Audit without a page refresh?"
Hi there! Lighthouse is a great tool that generates a consolidated report of performance, accessibility and best practices report. The webapp we are currently developing is a SPA (single page application) which throws an error on refreshing the page. Due to security concerns (since it is a Test Delivery application), refresh is disallowed.

It would be a great feature if the report could be genera

[2017-05-22 18:39] fchristant commented on #2317
@patrickhulce Thanks for responding. The text in my post is basically the exact output.
You are right though that this was due to the bypass test. I simply added a H1 to the page and then it passes.

I do believe the wording and the specific element that is reported (the HTML element itself) is misleading, but now I understand why it failed, so thanks!

[2017-05-22 18:48] patrickhulce commented on #2317
Are the individual audits with explanations not showing up in your report? You should have seen an item that said "The page contains a heading, skip link, or landmark region" with a red X next to it. Looks like the below when passing. Please file another issue if you aren't seeing the details! :) Otherwise marking as closed

![image](https://cloud.githubusercontent.com/assets/2301202/26323590/567f

[2017-05-22 18:48] #2317 closed

[2017-05-22 18:50] wwwillchen opened #2333 "Errors in recorded traces"
I've been running some benchmarking analysis for CPU throttling and came across some unusual trace from using Lighthouse to collect traces on an Android Nexus 4 device.

The aggregated statistics (e.g. scripting) shows a negative value. I noticed there were numerous console errors from DevTools when loading these traces.

From caseq:

[2017-05-22 18:53] fchristant commented on #2324
Thanks @patrickhulce now I understand what is really meant in that report: high priority instead of actually being render-blocking, an important difference.

@wardpeet If that is the conclusion, the audit text should reflect that imho. I admit that I am micro managing the statements that Lighthouse outputs, but I do that for good reasons. I believe Lighthouse rapidly is going to be the go-to tool

[2017-05-22 18:59] fchristant commented on #2317
Yes, I did see that. The only thing I found misleading is the actual item it is failing on, which was the HTML element itself. Without further explanation, this suggests that the HTML element itself needs some adjustment to pass the check, which is false.

Could be that that is just my wrong interpretation though.

[2017-05-22 20:08] wardpeet commented on #2332
The only option I see at the moment is to run multiple lighthouse runs with 3 different configs as they only run 1 pass.

If you need help I'm happy to support you with an example.

[2017-05-22 20:13] wardpeet commented on #2329
is there any reason you are testing on Chrome Beta and not chrome canary?

[2017-05-22 20:27] wardpeet commented on #2324
@fchristant thanks for the feedback! We are aware on that and trying our best to improve the report as best as we can.

Can I ask what the biggest problem you're having troubles with not seeing it as informative. We don't show a score in front of it but a big blue icon
 ![image](https://cloud.githubusercontent.com/assets/1120926/26326870/732ba81c-3f3d-11e7-95e2-4929a6eb4094.png)

Perhaps move it t

[2017-05-22 20:53] ebidel commented on #1913
`/deep/` is being removed in Chrome 60. I'll get going on this.

https://www.chromestatus.com/feature/4964279606312960

[2017-05-22 20:57] fchristant commented on #2324
Thanks for being open to feedback, @wardpeet
Fair point that it is a diagnostic, and not a scoring element. Still, a wrong or misleading diagnostic can lead to wrong conclusions and incorrect follow-up actions. So here goes:

My first point of critique is on this piece of text:

**The Critical Request Chains below show you what resources are required for first render of this page.**

As we just es

[2017-05-22 21:37] wwwillchen opened #2334 "Trace ended too quickly on Twitter"
Sometimes the trace for Twitter ends too quickly. Included a couple of examples where it stopped before Twitter actually finished loading.

* Macbook Pro w/ 4x CPU throttling
* https://mobile.twitter.com/ChromeDevTools
* Re-using network cache between runs

Uploaded to Google Drive (accessible to google accounts) the lighthouse results and trace json files:
https://drive.google.com/drive/folders/0

[2017-05-22 21:50] ErstwhileWork commented on #2305
Works now after extension was updated to v2 automatically.  Tks

On May 21, 2017 3:57 AM, "XhmikosR" <notifications@github.com> wrote:

[2017-05-22 21:52] paulirish commented on #2305
Cheers. Usually has to do with a trace that's too big for JSON.parse to handle.

This is effectively a dupe of #1685

[2017-05-22 21:52] #2305 closed

[2017-05-22 21:52] paulirish commented on #2329
dupe of #1685

[2017-05-22 21:52] #2329 closed

[2017-05-22 22:33] patrickhulce opened #2336 "Sites with redirects have wonky stats"
I was puzzling over some recent metrics on a plots run of http://www.vkontakte.ru/ which reported traceEnd as 5s shorter than the length of the trace. This is because we take our stats relative to navstart which removes the time of the initial HTTP request, it seems we have inconsistent handling somewhere though because TTCI failed even though there is 5s of quiet.

Example Screenshot
![image](htt

[2017-05-22 22:35] oninross commented on #2326
@patrickhulce thank you for the insights.  I thought it was standard to disable pinch zoom

[2017-05-22 23:01] ev1stensberg commented on #2329
Working on a fix on this.

[2017-05-22 23:15] patrickhulce commented on #2336
Even more disturbing finding: traceviewer model does not give us timestamps that are relative to navstart but instead relative to TracingStartedInPage! This throws off *all* our timings and timestamps that use the traceviewer model, another great reason to get rid of it :)

[2017-05-23 00:07] patrickhulce commented on #2313
fixed by https://codereview.chromium.org/2895913003, should be in tomorrow's Canary build

[2017-05-23 00:07] #2313 closed

[2017-05-23 00:34] brendankenny commented on #1798
I spent some time today looking at the available options (I was working on a separate problem, but it intersected streaming JSON parsing, so it was worth a look :)

Right now I think the `BalancedJSONTokenizer` and `_writeBalancedJSON` mentioned in https://github.com/GoogleChrome/lighthouse/issues/1798#issuecomment-301934352 are the way forward. The options out there are kind of overkill, and they

[2017-05-23 01:10] ev1stensberg commented on #1798
I've been trying to reproduce the bug using lighthouse, lighthouse CLI, clone of lighthouse against my clone of chrome, but I don't get this error. Do you mind walking me through how to reproduce this? Assume I've got everything set up. A screenshot would be great. @brendankenny do you mind me working on this? Good First Contribution :)

[2017-05-23 02:54] kscm commented on #2327
Thanks.

[2017-05-23 02:54] #2327 closed

[2017-05-23 04:35] brendankenny commented on #1448
this was closed in #1752

[2017-05-23 04:35] #1448 closed

[2017-05-23 04:36] brendankenny commented on #1434
fixed in #2241

[2017-05-23 04:36] #1434 closed

[2017-05-23 04:48] brendankenny commented on #1798
@ev1stensberg unfortunately this is one I've only seen once or twice myself, and haven't been able to reliably reproduce, so it's more of something we know is happening and (think we) know why it's happening, so hopefully can just fix and watch the number of error reports drop :)

One option for testing/development is creating an artificial test case, taking one of the test traces (e.g. [this one]

[2017-05-23 05:48] stefanedberg commented on #2321
Hi,

Thanks for looking into this.

- Lighthouse starts Chrome 58.0.3029.110 (64-bit).
- Updated to Node.js v6.10.3
- Added console.trace(data); to line 110.

[code]

[code]

[2017-05-23 08:00] ev1stensberg commented on #1798
I've really just hovered around the source code, but using the suggestions from you & @paulirish is enough to convince me. Also, this is internal, so we are avoiding extra dependencies, which is good. Stepping on my toes are alright.

Do you have a crbug on this that I could have a look at? Also, my guess is that our work isn't colliding extensively, as this isn't a very novel & code extensive exe

[2017-05-23 09:31] tobysoby commented on #2321
Hey,

thanks also!

*Chrome Version 58.0.3029.96 (64-bit)

<details>
  <summary>Click to expand</summary>
 <p>
$ lighthouse https://google.com --disable-cpu-throttling
  ChromeLauncher Waiting for browser. +0ms
  ChromeLauncher Waiting for browser... +1ms
  ChromeLauncher Waiting for browser..... +517ms
  ChromeLauncher Waiting for browser.....✓ +4ms
Trace: { method: 'Network.enable', params: {} }

[2017-05-23 10:49] FluorescentHallucinogen commented on #2005
GitHub has launched [GitHub Marketplace](https://github.com/marketplace): https://github.com/blog/2359-introducing-github-marketplace-and-more-tools-to-customize-your-workflow

Does it make sense to publish Lighthouse in GitHub Marketplace?

[2017-05-23 12:17] tdresser commented on #2336
@deepanjanroy @benshayden

[2017-05-23 15:24] li-kai opened #2337 "Chromelauncher error on when killing instance"
I've been trying to get headless chrome running, but I've been getting `Error: read ECONNRESET` which I've been able to reproduce consistently here:
[code]
Node versions used: 6.8.0 & 7.9.0
Lighthouse: 2.0.0
OS: Mac OS Sierra 10.12.4 & Ubuntu LTS 14.04 (Travis)

I've been able to fix this by either catching the `process.on('uncaughtException', ...` event in `chrome-launcher.js`, or setting a timeo

[2017-05-23 15:28] timgupta opened #2338 "Launch Lighthouse Viewer 2.0"
With the new output from the Lighthouse chrome extension, I'm getting an error in the online lighthouse report viewer:
Unknown formatter: url-list

Here's the report I'm trying to view:
https://googlechrome.github.io/lighthouse/viewer/?gist=9d2eb55e4969527cbfaa76c557ea9755

[2017-05-23 15:48] awebdeveloper opened #2339 "Cannot read property 'args' of undefined"
[code]

[2017-05-23 15:51] shahraship opened #2340 "Extension Error: Protocol error (Tracing.start): Tracing is already started"
**Lighthouse Version**: 2.0.0
**Chrome Version**: 58.0.3029.110
**URL**: ***
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-05-23 15:51] stramel commented on #2340
Dupe of #1091

[2017-05-23 15:57] ebidel commented on #2339
Do you have repro steps? What site were you testing and what version of Lighthouse?

[2017-05-23 15:57] #2340 closed

[2017-05-23 15:59] ebidel commented on #2338
Thanks for reporting. Viewer needs to be updated to work with 2.0's output. We'll be looking at this soon.

[2017-05-23 16:15] ebidel commented on #2337
I've been seeing this too when using headless Chrome. We need to investigate.

Until then, the workaround is what you're doing...introduce a small delay before killing chrome. See also https://github.com/GoogleChrome/lighthouse/issues/1931#issuecomment-298247273.

[2017-05-23 16:19] awebdeveloper commented on #2339
it's a internal under dev site so can't share the url yet

Looks like restarting chrome fixed the issue

[2017-05-23 16:37] patrickhulce commented on #2336
Related: https://bugs.chromium.org/p/chromium/issues/detail?id=725301

LH-specific issues: We need to have consistent interpretation of task start/end timestamps by either remapping the times received from traceviewer model or remove it entirely and parse the trace ourselves

Overall metric questions: Which navstart in the trace is correct? `window.performance` identifies the beginning of the firs

[2017-05-23 16:40] timgupta commented on #2338
Great thanks! By the way, the new 2.0 output is beautiful! :)

[2017-05-23 16:58] patrickhulce commented on #2336
The switch to use the last navstart occurred [here](https://github.com/GoogleChrome/lighthouse/commit/ea4561a42f1c750910c038aace4bf041b9eca4a1) in response to tracingStartedInPage being after navStart and to move in alignment with [traceviewer](https://github.com/catapult-project/catapult/blob/master/tracing/tracing/metrics/system_health/loading_metric.html#L99), though I believe we could still us

[2017-05-23 17:03] ebidel commented on #2339
K. Let us know if you run into this again.

[2017-05-23 17:03] #2339 closed

[2017-05-23 17:24] deepanjanroy commented on #2336
Since lighthouse usually takes in a url, and gives back some metrics on that url, I think it makes sense to include the time for redirects. If I want to know the stats for http://example.com, I care about the total time from when I click the link to when key user events happen.

For traceviewer/chrome internal metrics, the story may be different - we'll have to think more about what makes sense.

[2017-05-23 18:41] ErstwhileWork commented on #2329
Even -- when recently tested it appears that the google extension updated
to v 2.0.0 .. and the site in question (mcdcc.org) did successfully
complete.

FYI!

Thanks for your help!
Joseph

On Mon, May 22, 2017 at 7:01 PM Even Stensberg <notifications@github.com>
wrote:

[2017-05-23 19:44] wardpeet opened #2342 "Improve cache start_url gatherer (strategy)"
There are a few issues with start_url being cached.
1) of them is that the manifest is not cached and can not be retrieved.
2) Another is that the start_url is not yet cached by the service worker.

There are a couple of solutions that we went over

1) Cache manifest inside driver.js (getAppManifest). We cache the manifest during the main pass. And get it in the offline pass.
-- Downside is that w

[2017-05-23 19:53] wardpeet commented on #2333
Can this be related to https://github.com/GoogleChrome/lighthouse/issues/2336 ?

[2017-05-23 20:01] wardpeet commented on #2324
I hear ya! I think it's wise for us to improve the naming and improve the audit itself!

Just in case they want a say in this.
cc @paulirish @patrickhulce @ebidel @brendankenny

[2017-05-23 20:17] wardpeet commented on #2292
@janbaer node & npm version are the same? i'll give it a go somewhere this week

[2017-05-23 20:20] wardpeet commented on #2286
@paulirish @brendankenny @patrickhulce should we close this in favor of #1769

[2017-05-23 20:24] wardpeet commented on #2275
Sorry to ask but what are Tuples?

[2017-05-23 20:28] wardpeet commented on #2259
Fine by
cc @paulirish @ebidel @patrickhulce @brendankenny

[2017-05-23 20:30] paulirish opened #2344 "WebPageTest is using 2.0.0 w/ the old report"
Example: https://www.webpagetest.org/lighthouse.php?test=170523_CK_1C1G&run=1

Doesn't look all that bad, but we should flip the `html` default to the new report, so everybody has the new stuff, eh?

[2017-05-23 20:31] wardpeet commented on #2250
Can you try out version 2.0.0 as I can't reproduce it with the latest version @vijayyadav06

[2017-05-23 20:31] wardpeet commented on #2249
Can you try out version 2.0.0 as I can't reproduce it with the latest version @ahsankhan1911

[2017-05-23 20:31] ebidel commented on #2259
I like it. We need to cater better to the common cases like this.  One question I have is how we would handle lh flags, flags to the launcher, and `chromeFlags` Would everything go in `flags`?

[2017-05-23 20:41] wardpeet commented on #2186
Do you still have an issue with extension 2.0.0?

[2017-05-23 20:45] wardpeet commented on #2336
going to link https://github.com/GoogleChrome/lighthouse/issues/2235 to this issue

[2017-05-23 20:48] patrickhulce commented on #2344
@paulirish domhtml is the default now, but WPT explicitly requests HTML and JSON output I believe :)

[2017-05-23 21:10] paulirish opened #2345 "New audit: Flag password fields that can't be pasted into"
Last week this article went around: https://www.ncsc.gov.uk/blog-post/let-them-paste-passwords
And it makes the case for password fields always being paste-able.

This is something we can test in Lighthouse without too much work.

While we could do this all on the protocol side, it seems rough: `DOM.querySelectorAll` for `input[type=password]`, then use `getEventListeners` on each node to see if t

[2017-05-23 21:11] paulirish commented on #2344
ah! let's give WPT a PR then!

[2017-05-23 21:22] paulirish commented on #2186
Yup. Still a problem in 2.0.0, just confirmed.

This is exclusive to the extension.
We can do an early check in the extensions's popup or lh-background methods to reject on a url that starts with `chrome://`.

Trying to run the ext on blob:chrome-extension already fails with "Cannot access contents of the page. Extension manifest must request permission to access the respective host." error writte

[2017-05-23 21:29] brendankenny commented on #2186
the other error messages are done [here](https://github.com/GoogleChrome/lighthouse/blob/2d48f672e01c6e14cecd644608465c4015d8884d/lighthouse-extension/app/src/popup.js#L23-L34) and the check for error message with custom strings/no github link is done [here](https://github.com/GoogleChrome/lighthouse/blob/2d48f672e01c6e14cecd644608465c4015d8884d/lighthouse-extension/app/src/popup.js#L136-L142)

Po

[2017-05-23 21:35] patrickhulce commented on #2275
ordered n-pairs, basically we want computed artifacts to be able to accept more than a single argument :)

[2017-05-23 21:38] wardpeet commented on #2174
Does this still happen on 2.0?

[2017-05-23 21:40] wardpeet commented on #2345
+1 for new contributors!!! Ask away if you're having troubles.

[2017-05-23 21:43] #2186 closed

[2017-05-23 21:47] wardpeet commented on #2270
I'm still looking into this but I can already say that whenever we fail inside an audit / gatherer. we show an error message inside the report but there is no easy way to log an issue.

[2017-05-23 21:52] brendankenny commented on #2270
one issue is what defines an "odd" debugString. I guess we could just start with all debugStrings and see how it works from there?

[2017-05-23 21:52] paulirish commented on #1769
Including @minorninth's comments from #2286

[2017-05-23 21:53] paulirish commented on #2286
good call. i updated its title. we'll pick up there.

[2017-05-23 21:53] #2286 closed

[2017-05-23 22:15] wardpeet commented on #2270
Odd debug string wouldn't that be an audit or gather that throws an error?

[2017-05-23 22:23] wardpeet commented on #2008
@ebidel can we close this? As your IO talks cover lots of this

[2017-05-23 22:27] paulirish commented on #2008
Lighthouse works with --headless but we need to do some testing to verify any perf skew is acceptable.

[2017-05-23 22:49] wardpeet commented on #1745
@mblayman  just looking at some old issues but do you still have issues running lighthouse?

[2017-05-24 00:13] mblayman commented on #1745
I was successful with the node version and I'm not really using lighthouse that much so I'm fine with closing the issue.

[2017-05-24 00:13] #1745 closed

[2017-05-24 00:48] ebidel commented on #1913
Filed an upstream FR ^ (https://github.com/ChromeDevTools/devtools-protocol/issues/19) to add better support for this int he DT protocol. We can get all nodes with the substrees fairly easily, but making `DOM.querySelector[All]` shadow dom aware would be more flexible, long-term.

[2017-05-24 00:58] brendankenny commented on #2336
was there resolution on this? I don't remember the reasoning

[2017-05-24 01:08] samdutton opened #2348 "'Unable to retrieve manifest' when manifest file is available but invalid"
The manifest for my site was actually invalid, but the Lighthouse report looks as if the manifest file couldn't be retrieved:

![image](https://cloud.githubusercontent.com/assets/205226/26382613/4367964a-3fe2-11e7-85f2-ceb58deef6b1.png)

[2017-05-24 01:13] brendankenny commented on #2348
do you have a test url/can you leave it invalid so we can debug it? :)

Lighthouse uses the debugger protocol to retrieve the manifest and it's possible it's dropping an error message being passed over.

[2017-05-24 01:29] ebidel commented on #1611
@samdutton said users at I/O mentioned this.

[2017-05-24 01:29] samdutton commented on #2348
Sure :).

I just broke it again for you:

https://apprtc-pwa.appspot.com

[2017-05-24 01:30] ebidel commented on #1613
Going to close this. The new report emphasizes what the user needs to improve on and hides the passing audits by default. There's still improvements to the language that we could make (https://github.com/GoogleChrome/lighthouse/issues/1611).

[2017-05-24 01:30] #1613 closed

[2017-05-24 01:33] paulirish commented on #2348
I added this:
![image](https://cloud.githubusercontent.com/assets/39191/26383135/087cd65e-3fe6-11e7-97cb-64bd4da98139.png)

and got this:
![image](https://cloud.githubusercontent.com/assets/39191/26383139/0f8584e6-3fe6-11e7-89fb-ddc672bc2c5f.png)

[2017-05-24 01:43] paulirish commented on #2348
@samdutton would this work for you?

![image](https://cloud.githubusercontent.com/assets/39191/26383472/c11a3bb0-3fe7-11e7-83c9-416fea59862f.png)

[2017-05-24 01:53] paulirish commented on #2348
PR up at #2349

[2017-05-24 04:55] samdutton commented on #2348
That was quick :). Perfect — thanks.

[2017-05-24 04:56] zvonkoveljovic2 opened #2350 "Extension Error: Cannot access a chrome:// URL"
**Lighthouse Version**: 2.0.0
**Chrome Version**: 58.0.3029.110
**URL**: chrome://extensions/?id=lalfpjdbhpmnhfofkckdpkljeilmogfl
**Error Message**: Cannot access a chrome:// URL
**Stack Trace**:
[code]

[2017-05-24 05:31] ev1stensberg commented on #1798
@brendankenny seems people have reported this has been resolved in `v2`. I want to work on this still though, but we should try to get a test case up. Do you have time to exchange a few emails to get me started? I'm eager to help out, and also this interacts with a project that is starting in June ( hopefully )

[2017-05-24 06:25] janbaer commented on #2292
Yes, it's the same. I always install Node.js and NPM together with using nvm and never update NPM manually.

[2017-05-24 15:12] #2350 closed

[2017-05-24 15:24] pedro93 commented on #2251
Any update on this?

[2017-05-24 17:39] samccone commented on #2337
Thanks for the test case, we will get to the bottom of this.

[2017-05-24 17:39] paulirish commented on #1798
heya @ev1stensberg.

brendan's made some more headway here so i think it makes sense for him to finish off the streaming json parser/writer. shouldn't take him too long.

i'm looking at our issues and #2320 and #2291 could work for your next issue. wdyt?

[2017-05-24 17:41] samccone commented on #2292
Can you share your script? Right now I can not reproduce your bug case.

[2017-05-24 19:15] patrickhulce commented on #2217
A recent [skia roll](https://chromium.googlesource.com/chromium/src/+/86074971b9640dbf59869071b4a18bec51c61424) has changed this, it looks like there are [3 possibilities](https://cs.chromium.org/chromium/src/ui/gfx/codec/jpeg_codec.cc?type=cs&l=47) it will delegate to?

[2017-05-24 19:24] ev1stensberg commented on #1798
Sounds good. Will start on this tomorrow. Is there anyone I can get some help from regarding testing the source code against canary/master? Tried w/ no luck, would be good with some feedback on my walkthrough to see if there's anything I'm doing wrong :)

[2017-05-25 02:53] samccone commented on #2251
I am working on it now :)

[2017-05-25 03:21] samccone commented on #2292
Closing as unable to reproduce. Let me know if you have a test case and we can reopen.

Thanks!

[2017-05-25 03:21] #2292 closed

[2017-05-25 03:42] samccone commented on #2337
Confirmed this is 100% reproducible on headless but not on normal chrome.
Wrapping the code in a 2 second timeout fixes things, but that is not a real fix. My guess is that this is a behavior difference in lighthouse in headless, and is not related to launcher directly.

[code]

[2017-05-25 06:27] vinoth12594 opened #2360 "Extension Error: Cannot access a chrome:// URL"
**Lighthouse Version**: 2.0.0
**Chrome Version**: 58.0.3029.110
**URL**: chrome://newtab/
**Error Message**: Cannot access a chrome:// URL
**Stack Trace**:
[code]

[2017-05-25 08:16] #2337 closed

[2017-05-25 14:57] RByers commented on #1458
Just poked at the current code a bit.  It looks like Lighthouse has two channels today:

1. Console messages [from blink](https://cs.chromium.org/chromium/src/third_party/WebKit/Source/core/frame/Deprecation.cpp?q=kDeprecationMessageSource&sq=package:chromium&dr=C&l=117) with `kDeprecationMessageSource` all get plumbed into the [deprecations audit](https://github.com/GoogleChrome/lighthouse/blob/m

[2017-05-25 15:19] emjayess commented on #2338
I just encountered this as well, with json output from canary; any workarounds? - alternative viewer or a way to export pre-2.0 json for this viewer, until this is reconciled?

[2017-05-25 15:55] ebidel commented on #2338
@emjayess a temporary workaround would be to export the report as json (top right corner sharing button). Then, drag and drop that file onto Chrome Canary's Audit's panel. DevTools will load and display the Lighthouse. You won't get a permalink, but it's something :)

[2017-05-25 16:00] emjayess commented on #2338
@ebidel I generated the report in (and saved the json from) canary's audit panel, and specifically am wanting something team-shareable, so I'll eagerly await the 2.0 viewer launch. Meanwhile I've grapped the lighthouse cli and will be trying the html output of that tool. Thanks!

[2017-05-25 16:01] ebidel commented on #2338
Yea, sorry about that. We wanted to get it updated for 2.0, but it slipped.

[2017-05-25 16:03] emjayess commented on #2338
* Incidentally, "Save as > Html" in the audit panel might be handy :)

[2017-05-25 16:07] ebidel commented on #2338
Tell me about it :) DevTools really just needs to adopt our standard button instead of doing it's own thing:

<img width="179" alt="screen shot 2017-05-25 at 9 06 59 am" src="https://cloud.githubusercontent.com/assets/238208/26458916/923c5ea2-4129-11e7-8671-ad513bdbe54a.png">

[2017-05-25 16:08] nimisis opened #2362 "DevTools Error: Unable to load the page: timeout reached (about:blank)"
**Initial URL**: about:blank
**Chrome Version**: 60.0.3110.0
**Error Message**: Unable to load the page: timeout reached
**Stack Trace**:
[code]

[2017-05-25 16:11] brendankenny commented on #2362
We should probably just disable testing `about:blank`

[2017-05-25 16:21] ebidel commented on #2360
Dupe of https://github.com/GoogleChrome/lighthouse/issues/1878

[2017-05-25 16:21] #2360 closed

[2017-05-25 16:28] #2272 closed

[2017-05-25 17:02] patrickhulce opened #2363 "HTTP redirects to HTTPS audit doesn't work on android"
When you run Lighthouse on WPT or on any Android device, the security domain does not work properly and thus fails the HTTP redirect check, [see this report as example](https://www.webpagetest.org/lighthouse.php?test=170525_5S_14TQ&run=1).

We should do what we did for is on HTTPS and just check for the scheme.

[2017-05-25 17:57] patrickhulce opened #2364 "Non-fatal events to track"
This is a list of all the non-fatal error-like events we might want to track once we have Sentry setup.

* Protocol messages with no corresponding callback
* Failed audits
* Failed gatherers
* Failed image conversions in optimize-images
* Audit debug strings for byte-efficiency, loadfast4pwa

[2017-05-25 18:06] arnav-aggarwal opened #2365 "DevTools Error: Protocol error (Tracing.start): Tracing is already started"
**Chrome Version**: 60.0.3107.4
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-05-25 20:00] patrickhulce commented on #2365
dupe of #1091

[2017-05-25 20:00] #2365 closed

[2017-05-25 21:18] patrickhulce commented on #2320
re-opening for the second half of this issue that wasn't addressed by #2361 "Some of the new SVG icons don't show up here"

[2017-05-25 21:19] ev1stensberg commented on #2320
I'll pick it up tomorrow, sorry!

[2017-05-26 00:01] dandv opened #2368 "Testing on mobile devices no longer works"
I've upgraded to 2.0.0. and found that [testing on mobile devices](https://github.com/GoogleChrome/lighthouse/blob/master/docs/readme.md#testing-on-a-mobile-device) no longer work. Lighthouse launches a new Chrome tab on my Goobuntu machine.

I've verified that port forwarding works by navigating in Chrome to localhost:9222:

![image](https://cloud.githubusercontent.com/assets/33569/26475265/8e158

[2017-05-26 00:44] samccone opened #2369 "should we be proactive about people using our launcher?"
for example
https://github.com/karma-runner/karma-chrome-launcher

could easily use our launcher. :)

[2017-05-26 14:22] tkadlec commented on #1948
So I _finally_ got some time to do this. https://github.com/GoogleChrome/lighthouse/pull/2372

It is NOT READY TO MERGE, and I've noted outstanding tasks that I thought should be more left up to the core Lighthouse team to determine, but functionality is there.

[2017-05-26 14:56] igrigorik commented on #1948
\o/ ... awesome, thanks Tim!

[2017-05-26 15:06] rviscomi commented on #1948
As long as LH is including the library detection code, WDYT of exposing all detected libraries in addition to specific vulnerabilities? With LH+HA integration that would make HA's own library detection code redundant and we could remove it.

[2017-05-26 15:29] tkadlec commented on #1948
@rviscomi How would you want that in the LH results? Technically, it's all there. The full list of libraries and versions is what I pass along to Snyk for checking, so it's just a matter of figuring out how you expose that.

[2017-05-26 15:37] rviscomi commented on #1948
@tkadlec anywhere in the results object there could be a 'js_libs' property (or similar) whose value is an array of objects with name/version members. For example:

[code]

Also see the [HA code](https://github.com/HTTPArchive/httparchive/blob/599d64ef4068be188d7d6fb21bb4cada198a6f5d/custom_metrics/third-parties.js#L16-L27) for reference.

[2017-05-26 15:49] patrickhulce commented on #1948
@tkadlec @rviscomi we generally put extra information like this in the `extendedInfo` property of the audit results, seems like a good place to put this and it would be available to consumes at `audits.no-vulnerable-libraries.extendedInfo.value`

[2017-05-26 17:17] ebidel commented on #1176
Closing in favor of https://github.com/GoogleChrome/lighthouse/issues/2092

[2017-05-26 17:17] #1176 closed

[2017-05-26 17:56] paulirish commented on #2369
**yes.**

:)

[2017-05-26 17:57] paulirish opened #2374 "launcher/cli: coveralls isn't mapping back to TypeScript"
For example: https://coveralls.io/builds/11707972/source?filename=chrome-launcher%2Fchrome-finder.js

Because the coverage was gathered in JS. Need to remap to get type lines of TS accounted for.
https://www.sitepen.com/blog/2015/09/29/code-coverage-for-typescript-and-other-transpiled-languages/

[2017-05-26 18:02] gauntface opened #2375 "Binary scoring modes returning numeric scores"
In the following audits, a scoring mode of binary is given but a value of 100 is given instead of true or false.

[code]

[2017-05-26 18:04] patrickhulce commented on #2374
[nyc](https://www.npmjs.com/package/nyc) makes this a little easier FYI :) I use it on some typescript projects

basically
`nyc mocha`
`nyc report --reporter=text-lcov | coveralls`

[2017-05-26 18:20] wwwillchen commented on #2333
@wardpeet - I don't think so because I saw it on pretty much every site with Nexus 4 and not all of them had redirects.

[2017-05-26 18:24] gauntface opened #2376 "Remove references to target/optimalValue"
For speed-index-metric I'm getting a rawValue which is lass than the optimal value but a score less than 100.

For example I can get the following info: `Value was 1222, the optimal value is < 1,250 but the score was 98`.

This get's more confusing when I can get values over 1250 and still have the same score of 98.

How is the scoring of this calculated and is the "optimal value" really worth eve

[2017-05-26 19:10] patrickhulce commented on #2376
We've been removing the optimal value in other metrics due to confusion and emphasis on the timeline instead, +1 to removing it for the remaining metrics too 👍

[2017-05-26 19:12] brendankenny commented on #2376
death to `optimalValue`! The only thing going for it over just putting it in the text description if *really* needed is that it gets some nicer formatting. We could always expand the supported markdown if we wanted to keep that around.

[2017-05-26 19:36] stramel commented on #2345
@paulirish I wonder if it would be good to also add a check for the meta of autocomplete to it as well?

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/password#Allowing_autocomplete

[2017-05-26 20:04] ev1stensberg commented on #2375
What do I need to do to test this in the CLI @gauntface ?

[2017-05-26 23:58] patrickhulce commented on #2375
@gauntface where are you seeing these messages/why are you interested in inspecting the individual score outside of the category? 😄

currently, the meaning of `scoringMode` is pretty confusing and intended for display only (`typeof score` should eventually always be a number with `scoringMode` suggesting how to interpret that number), understanding your use case could help us shape it though

[2017-05-27 02:11] paulirish commented on #2345
@stramel that one is tracked at https://github.com/GoogleChrome/lighthouse/issues/1639 ;)

you interested? :)

[2017-05-27 02:13] #2344 closed

[2017-05-27 04:20] stramel commented on #2345
😓 I can give it a shot lol Thanks for pointing me to the right issue!

[2017-05-27 06:03] stramel commented on #1639
Will try to start tackling this middle of this week. Also, those articles are 🔥🔥🔥, bookmarked pretty much all of them lol

[2017-05-27 16:13] ev1stensberg commented on #2320
Last item to fix is the bugs due to `details` and `summary` in firefox, where `chrome` uses `::-webkit-details-marker` to completely forget about this issue

[2017-05-27 18:51] johnnyace1 opened #2379 "Extension Error: Cannot access a chrome:// URL"
**Lighthouse Version**: 2.0.0
**Chrome Version**: 58.0.3029.140
**URL**: chrome://newtab/
**Error Message**: Cannot access a chrome:// URL
**Stack Trace**:
[code]

[2017-05-27 18:59] ebidel commented on #2379
It's not possible to run extensions​ on internal chrome urls.

[2017-05-27 18:59] #2379 closed

[2017-05-27 19:00] XhmikosR commented on #2320
@ev1stensberg: can't we do what the MDN article suggests? https://developer.mozilla.org/en/docs/Web/HTML/Element/details

[2017-05-27 19:23] ev1stensberg commented on #2320
Problem is source code using flex inconsistently

[2017-05-27 19:40] ev1stensberg commented on #2320
You can use display: list-item instead , but will render on chrome very badly if we don't use a psudoelement accordingly :)

[2017-05-28 16:43] PaulKinlan opened #2383 "HTTP->HTTPS redirect via JS fails redirects-http audit"
I created a quick sample https://pwa.glitch.me/

I don't have control over the serving on the static site so I can't easily 30X redirect HTTP to HTTPS. Instead I have a little piece of javascript that changes the protocol from http to https.

According to the [docs] it should pass the test.

Not sure if it is the test that is broken, or the docs that need more clarification.

[docs]: https://devel

[2017-05-29 08:09] thangman22 opened #2384 "Extension Error: Protocol error (Tracing.start): Tracing is already started"
**Lighthouse Version**: 2.0.0
**Chrome Version**: 60.0.3107.4
**URL**: https://pwa.online.hackathon.in.th/
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-05-29 13:31] ev1stensberg commented on #2320
I was actually tempted to correct the manual audits class in `<summary>` to be compliant to the passed audits, in order to at least make the colors depend, instead of implicitly. Regardless, this is an issue with `::-webkit-details-marker` and `list-item` styling that differs in chrome from FF.
![skjermbilde 2017-05-29 kl 15 29 38](https://cloud.githubusercontent.com/assets/16735925/26551660/db20e

[2017-05-29 13:45] alekseykulikov commented on #2317
@fchristant I had similar issue, and thought that it's related with `<html lang="en-US">`
![image](https://cloud.githubusercontent.com/assets/158189/26551828/bec59e08-4484-11e7-8591-9dde72d0ed01.png)
I guess, after this PR https://github.com/GoogleChrome/lighthouse/pull/2370 goes live, it should be easier to figure out an actual issue.

[2017-05-29 14:33] ev1stensberg commented on #2320
Actually, let me take the first things I said back. We use the psudo-element to style. In firefox, doesn't seem to work cause display doesn't get updated / `::-webkit-details-marker` doesn't apply the marker changes, as we've disabled the native bullet point/arrow. This is a hack ❌

[2017-05-29 14:42] RByers commented on #1458
Note that the [chrome-console-messages.js](https://github.com/GoogleChrome/lighthouse/blob/d99778b4f1eb8d353ad54dc7830d286dfe30ba3e/lighthouse-core/gather/gatherers/chrome-console-messages.js#L19) says:

[code]

When in fact it's used only for interventions (deprecations [have their own audit](https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/audits/deprecations.js)).  I don't

[2017-05-29 16:43] ebidel commented on #2384
Dupe of https://github.com/GoogleChrome/lighthouse/issues/1091

[2017-05-29 16:43] #2384 closed

[2017-05-29 17:47] morrme commented on #2311
I'd like to make this change.

[2017-05-29 20:53] ev1stensberg opened #2385 "Summary and Details background styling are webkit-only"
## Problem

Currently, we're doing some stuff with ::-webkit-details-marker to style in FF. In FF, the marker gets removed along with the `::-webkit-details-marker` psudo-element when we use **display: flex** for our audit summary titles: `View X passed items` and `Manual checks to verify`.
Attempted solutions:

1. Use `moz-list-bullet` - Works, except for background & resizing the background to f

[2017-05-29 21:12] panayotov opened #2387 "Confusion in Accessibility audit"
I think there is mistake in the Accessibility audit:

I get **Accessibility 97** for the following reason:
### Meta Tags Used Properly
_Screen readers and other assistive technologies require annotations to understand otherwise ambiguous content._

[user-scalable="no"] is not used in the <meta name="viewport"> element and the [maximum-scale] attribute is not less than 5.

View failing elements
`<m

[2017-05-29 21:13] ev1stensberg commented on #2385
Opened a WIP PR for you to test yourselves. #2386. This might be tricky, as we're using selectors quite verbose. Might need a cleaner solution like SVG's, for it to render in all browsers 👍

[2017-05-29 21:19] ev1stensberg commented on #2387
https://css-tricks.com/probably-use-initial-scale1/

I'd leave it like this, common pattern, adjustable in JS/CSS
![skjermbilde 2017-05-29 kl 23 18 10](https://cloud.githubusercontent.com/assets/16735925/26562283/468c5012-44c5-11e7-87ea-057cba5faf5c.png)

[2017-05-29 21:21] ev1stensberg commented on #2368
I can work on this if you'd like to 👍

[2017-05-29 23:40] meruggles opened #2388 "Extension Error: Cannot access contents of the page. Extension manifest mu..."
**Lighthouse Version**: 2.0.0
**Chrome Version**: 58.0.3029.110
**URL**: blob:chrome-extension://blipmdconlkpinefehnmjammfjpmpbjk/6678982e-6f14-42b5-96fb-b109dc97558f
**Error Message**: Cannot access contents of the page. Extension manifest must request permission to access the respective host.
**Stack Trace**:
[code]

[2017-05-30 01:02] NamKot commented on #2332
@wardpeet Please do - would really help. Thanks in advance!

-Nam

[2017-05-30 04:32] wardpeet commented on #2388
This is a duplicate of #1863.

Thanks for filing this bug

[2017-05-30 04:32] #2388 closed

[2017-05-30 07:49] apoorvrajsaxena opened #2389 "Extension Error: Protocol error (IO.read): Read failed"
**Unable to do a test on my angular based web app**
**Lighthouse Version**: 2.0.0
**Chrome Version**: 58.0.3029.110
**Error Message**: Protocol error (IO.read): Read failed
**Stack Trace**:
[code]

[2017-05-30 10:28] tamawy opened #2390 "Extension Error: Protocol error (Tracing.start): Tracing is already started"
**Lighthouse Version**: 2.0.0
**Chrome Version**: 57.0.2987.133
**URL**: https://www.insydo.com/
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-05-30 12:54] alekseykulikov commented on #2008
@paulirish @ebidel I did some testing for `--headless` flag, and  perf metrics are quite different.
It seems, in headless mode there're no device emulation or at least network throttling.
General pattern: perf score is higher, run time is faster and it's not possible to get 100 on pwa score, because of `load-fast-enough-for-pwa` audit.

---

I wrote a simple script:
[code]

regular run of https://

[2017-05-30 13:22] nikpage opened #2391 "404 in Lighthouse when analyzing site"
I ran Lighthouse against uxstrategy.eu.

A "Debugging Chrome" flag kept blinking and then I got this.

No webpage was found for the web address: blob:chrome-extension://blipmdconlkpinefehnmjammfjpmpbjk/307c3fbd-92e9-4423-961f-88e853ec0ab6
HTTP ERROR 404

[2017-05-30 15:41] ev1stensberg commented on #2368
There we go ✌️

[2017-05-30 17:03] patrickhulce commented on #2368
@dandv for now you'll have to manually specify the port `9222` as there was a breaking change to randomly select the port instead of always using `9222`

[2017-05-30 17:06] ev1stensberg commented on #2368
The PR sets to use 9222 if we are on mobile emulation

[2017-05-30 18:05] ebidel commented on #2391
I'm not able to repro this. I navigated to uxstrategy.eu, ended up on https://www.uxstrategy.eu/, and ran the 2.0 extension against that URL.

Can you provide reliable steps that reproduce the error?

[2017-05-30 18:05] ev1stensberg commented on #2363
Can work on this. Need more context around the meaning of `WPT`, as my best search results were 🎴  World Poker Tournament 🎴 .

Mind clarifying with relevant links and some more details?

[2017-05-30 18:06] ebidel commented on #2390
Dupe of https://github.com/GoogleChrome/lighthouse/issues/1091

[2017-05-30 18:06] #2390 closed

[2017-05-30 18:09] ebidel commented on #2008
@alekseykulikov awesome analysis. I've also observed network throttling issues under headless chrome. Basically, no built-in latency to the requests...which is why the "load-fast-enough-for-pwa" audit fails and the perf numbers are off.

I'm going to pass this off to the Headless Chrome team to see what they can do :)

[2017-05-30 18:09] ev1stensberg commented on #2389
Dupe of #1091 , close and let's bring up the discussion there 👍

[2017-05-30 18:19] brendankenny commented on #2363
`WPT` is [WebPagetest](https://www.webpagetest.org/) :D

for background, see discussion and changes to `is-on-https.js` in #1918

[2017-05-30 18:20] patrickhulce commented on #2363
Sure :) WPT stands for https://www.webpagetest.org/ which is open source and does performance testing as a service. We have a Lighthouse integration there that enables you to get a LH report along with your regular report when you run it on one of their mobile devices.

Unfortunately the [security domain we use](https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/gather/gatherer

[2017-05-30 18:25] ev1stensberg commented on #2363
Gotcha! Let me bring up a PR for that possibly due thursday. If you know where to fix at android I can do it there instead, either way is fine with me. ( If the android implementation is OSS )

[2017-05-30 18:49] ev1stensberg commented on #2320
Could we move this to #2385 ?

[2017-05-30 18:52] pavelfeldman commented on #1458
@RByers we should move this conversation into chromium world - you are referring to the chrome code, elaborating guidelines for reporting violations there, etc. Lighthouse is just one of the clients, don't make it think for the backend.

[2017-05-30 19:30] patrickhulce commented on #2363
I wish it were that simple :D either way we've going to have to work around this here in LH quickly since a fix for Android Chrome won't necessarily get pushed out soon even if we had one today. If you're curious though you can take a look at the [Chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=503216) and poke around the [Chromium code](https://cs.chromium.org/search/?q=securi

[2017-05-30 19:57] addyosmani opened #2394 "navigationStart was not found in the trace"
Extension running Lighthouse 2.0.0.

**Issue**

A few of the apps on HNPWA.com run into issues with LH 2.0's performance metrics auditing where we didn't with 1.x. We see `Audit error: navigationStart was not found in the trace` exceptions leading to a 0 on performance 😢

![image](https://cloud.githubusercontent.com/assets/110953/26602023/ef9817e2-4536-11e7-9032-a8c5f1d6e72f.png)

I remember flagg

[2017-05-30 20:43] XhmikosR commented on #2320
I haven't verified with the latest master myself. If you confirm only this
is left feel free to close.

On May 30, 2017 21:50, "Even Stensberg" <notifications@github.com> wrote:

[2017-05-30 21:06] ev1stensberg commented on #2363
This one: https://github.com/GoogleChrome/lighthouse/blob/f03f287a37df872c763d81bc2e4c4d8f29e82c08/lighthouse-core/audits/is-on-https.js#L57

Fetches all urls from network, or?

[2017-05-30 21:23] patrickhulce commented on #2394
Hm this is an improved error message of what used to be #1253, we're actually casting a wider net in our ability to find navstart with 2.0 (#1895), so something else must be at play. @addyosmani any patterns you're seeing that might help narrow this down? particular frameworks, load strategies, etc?

+1 to flagging certain errors as prompting for a re-run

[2017-05-30 21:29] patrickhulce commented on #2363
Right, that audit checks that all requests in the default pass used https. To fix this one though, you probably won't even need to mess with network records you could just check the final url in the `afterPass` method of `http-redirect` gatherer

[2017-05-30 21:32] ev1stensberg commented on #2363
Yep, doing it right now. Watching how you're building up audits to better know the source code while at it

[2017-05-30 21:50] ev1stensberg opened #2397 "Don't include initial http route on HTTPS audits"
Tested this on an Google Pixel XL. Seems like the initial HTTP route gets audited instead of us redirecting to HTTPS if possible and auditing that.
![skjermbilde 2017-05-30 kl 23 44 33](https://cloud.githubusercontent.com/assets/16735925/26606576/bf02eeb6-4592-11e7-896f-d314e2c4dadd.png)
![skjermbilde 2017-05-30 kl 23 44 12](https://cloud.githubusercontent.com/assets/16735925/26606577/bf084f3c-459

[2017-05-30 21:51] ev1stensberg commented on #2363
Left it at #2396 , please, do an extensive review, this seems too simple and could break stuff

[2017-05-30 22:04] patrickhulce commented on #2397
@ev1stensberg could you be more specific? if you test an `http` url explicitly then failing these audits is expected even if it redirects to https, we could add a debug string similar to https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/audits/works-offline.js#L47 for these though

[2017-05-30 22:15] addyosmani commented on #2394
I've seen this happen more often on apps that are taking advantage of HTTP/2 Server Push but it's not been limited to those deployed with that setup. I might say apps using PRPL might be more susceptible.

Just tested Polymer Shop:

![image](https://cloud.githubusercontent.com/assets/110953/26607298/ae4e00d0-454a-11e7-8474-fc43e4fe3b46.png)

and Polymer News:

![image](https://cloud.githubusercont

[2017-05-30 22:31] ev1stensberg commented on #2397
I'd expect that we should try to audit the https if it's standard. If you're a pragmatic tester, you'd use a http protocol to ensure you get feedback. At least, that is how I'd think

[2017-05-30 22:54] patrickhulce commented on #2383
This situation should also hopefully be fixed by #2396

[2017-05-31 00:03] dandv commented on #1166
The Export option is gone from 2.0.0. Was this intended (#2338)?

![image](https://cloud.githubusercontent.com/assets/33569/26609957/6a84028c-4559-11e7-802e-02cfe2a347d7.png)

[2017-05-31 00:35] ebidel opened #2401 "Fix inconsistencies between CLI and module"
| Using as a module  | Using from the CLI |
| ------------- | ------------- |
| 0: LHR contains artifacts (`lhr.artifacts`) | LHR does not contain artifacts ([nuked here](https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-cli/bin.ts#L173))  |
| default output is `json`  | default output is `html`  |
| 1: no way to specify `html` output |  choose format with `output` flag |
| 2: [use

[2017-05-31 03:25] paulsmith opened #2403 "Error: Unknown formatter: url-list"
Ran lighthouse CLI (version 2.0.0) on https://www.adhocteam.us/ Output report as JSON, copy/paste as [Gist](https://gist.github.com/paulsmith/ee183b4b566a747d4f5ba63a9cca98e2).

Opened [Lighthouse report viewer](https://googlechrome.github.io/lighthouse/viewer/) (in Chrome Version 58.0.3029.110 (64-bit)
on macOS 10.12.5), pasted Gist URL, got following error message and stack trace:

[code]

[2017-05-31 03:42] ebidel commented on #1166
Yes. https://github.com/GoogleChrome/lighthouse/issues/2338 is tracking bringing back the button for 2.0.

[2017-05-31 03:42] ebidel commented on #2403
Dupe of https://github.com/GoogleChrome/lighthouse/issues/2338

[2017-05-31 03:42] #2403 closed

[2017-05-31 07:32] mikerhyssmith opened #2404 "Update Readme for Instructions for running lighthouse cli for site with authentication."
The current instructions in the documentation for running lighthouse against a site where you need to login first are:

- Run chrome-debug
- navigate to and log in to your site
- in a separate terminal tab lighthouse http://mysite.com

However, from what I can see for this to work when you run the lighthouse command you would need to add --port and the port number the chrome-debug instance is runn

[2017-05-31 08:51] zwacky commented on #2326
As I understood you shouldn't disable pinch-zoom for accessibility reasons (safarai on ios 10 even ignores the `user-scalable=no` bit).

Is there still a way to disable pinch zoom without getting penalized by lighthouse?

[2017-05-31 10:11] tpphu opened #2405 "Extension Error: Protocol error (Tracing.start): Tracing is already started"
**Lighthouse Version**: 2.0.0
**Chrome Version**: 58.0.3029.96
**URL**: https://www.flipkart.com/
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-05-31 11:09] pedro93 opened #2406 "Add support for Chromium Edge"
Hey guys,

Just found this really interesting project that gives the Chrome Debugging Protocol access to information on the Edge browser https://github.com/Microsoft/edge-diagnostics-adapter. I was wondering, could this be used to make lighthouse run audits on Edge?

How much of the Chrome debugging protocol does Lighthouse use for the (for example) performance audits?

It would be great to know w

[2017-05-31 14:09] BenjaminWalsh opened #2407 "Optimize images don't support cross-domain images"
Testing my live URL in Page speed insights gives me a list as long as my arm of images that can be optimized further...

[https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fwww.partydelights.co.uk%2Fthemes%2Fteenage-mutant-ninja-turtles-party-supplies.aspx%3Fpmo%3D3]()

<details><summary>List</summary>
<pre>

</pre>
</details>

but Lighthouse is only reporting one of these im

[2017-05-31 14:45] IagoLast commented on #2287
Hi, I just downloaded the repo and i did:

`node lighthouse-cli/ http://www.google.com --view`.

As you said, everything looks good using the `cli` while in the extension the screenshots are cropped.

But I just realized that this bug appears in the `cli` for some webpages.

`node lighthouse-cli/ https://iagolast.github.io/renfehorarios --view`

I would like to try to solve this bug, but perhaps i

[2017-05-31 17:11] ebidel commented on #2407
I suspect some of the difference comes from what images Lighthouse is considering vs. all images on the page (what Page Speed looks at).

In LH 2.0, we're [ignoring cross-origin images](https://github.com/GoogleChrome/lighthouse/pull/2154) because processing them through canvas was very slow. We also updated the jpeg quality threshold to 0.92 (from of 0.8) which would change things a bit. PSI uses

[2017-05-31 17:13] patrickhulce commented on #2407
@BenjaminWalsh there are a few differences at the moment between PSI and Lighthouse that makes the LH check less strict.

1. Lighthouse only checks images on your domain due to [CORS tainting](https://developer.mozilla.org/en-US/docs/Web/HTML/CORS_enabled_image#What_is_a_tainted_canvas). We previously had a workaround but it was relatively inaccurate and slowed runtimes considerably. We'll eventua

[2017-05-31 17:16] ebidel commented on #2405
Dupe of #1091

[2017-05-31 17:16] #2405 closed

[2017-05-31 17:19] ebidel commented on #2397
+1 on the debug string like https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/audits/works-offline.js#L47. This is one of those gotchas that you only run into when using the CLI. When using the extension/DevTools, you'll already be at the redirected URL.

[2017-05-31 17:25] ebidel commented on #2404
Correct. The chrome launcher was changed to select a random port rather than defaulting to 9222.

PR would be great which adds the `--port`!

cc @samccone @paulirish another case where a rando port makes things harder.

[2017-05-31 17:27] brendankenny commented on #2404
yeah, #2259 would fix a lot of those cases but not this one

[2017-05-31 17:27] patrickhulce commented on #2326
@zwacky in short, no.

You're correct disabling pinch-zoom harms accessibility as users with low vision could have trouble reading fine text. The accessibility score will always be docked for disabling pinch-zoom. You can read more about the check and the rationale at the [axe docs](https://dequeuniversity.com/rules/axe/1.1/meta-viewport).

If your app has specific modes with enhanced accessibilit

[2017-05-31 17:57] RByers commented on #1458
@pavelfeldman, fair enough.  I'm still waiting for a response from you on that via e-mail :-)

[2017-05-31 18:16] paulirish commented on #2406
Yeah it's something we've discussed a bit.

There are a few projects around that bridge compatibility for other browsers to the devtools protocol: https://github.com/ChromeDevTools/awesome-chrome-devtools#browser-adapters
And https://compatibility.remotedebug.org/ lists out what's supported in various implementations.

Here's a look at what protocol methods we're currently using, sorted by popular

[2017-05-31 18:40] #2404 closed

[2017-05-31 19:07] pavelfeldman commented on #1458
@RByers: I have no memory of it, probably archived it by mistake long ago :/

[2017-05-31 20:31] ev1stensberg commented on #2383
Doable when we add the initial URL [here](https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/gather/driver.js#L535) and [here](https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/gather/driver.js#L66), later validating it the same way as we did at #2396

[2017-05-31 21:21] pedro93 commented on #2406
Thank you for the thorough and extensive reply, it's great to hear that this idea is present.

From my own understanding of the audits and how they are done in LH, most would report the same regardless of the browser used to run the audits on.

Accessibility, use of PWA technologies and general best practices should apply equality to all browsers (there is are web standards for a reason).

The mos

[2017-05-31 22:48] wwwillchen opened #2412 "plots: better support power use cases"
* create an` /out-${ISO8601-date}/` folder to avoid having to constantly clean /out/
  * log the selected folder
* specify a `--out` path, which can be an existing path, in which case plots gracefully adds runs (this should satisfy the `--run-resume` use case that @brendankenny suggested)
* use timestamp as the run-id (folder name)
  * this will enable users to run concurrent lighthouse sessions w

[2017-05-31 22:54] wwwillchen opened #2413 "plots: graph metrics over time (e.g. different lighthouse versions)"
The Lighthouse team wants to see how performance metrics have evolved over time as lighthouse has changed.

### Phase 1 - Plots over time locally
* This allows you to select multiple out folders and creates a comparison chart

### Phase 2 - Nightly plots
* Does a nightly run on master and records the artifacts (in Google Cloud Storage or GitHub gh-pages?)
* Link to a site that shows plots over tim

[2017-06-01 00:08] ebidel opened #2414 "Headless Chrome: Serve images as WebP Audit does not return results"
Full Chrome finds images to optimize:

<img width="831" alt="screen shot 2017-05-31 at 5 03 30 pm" src="https://cloud.githubusercontent.com/assets/238208/26659085/21bd1d2a-4623-11e7-8a48-e31243cbb12e.png">

Headless Chrome does not:
<img width="821" alt="screen shot 2017-05-31 at 5 04 22 pm" src="https://cloud.githubusercontent.com/assets/238208/26659105/38b09e8a-4623-11e7-8da1-c2bfdb01baf9.png">

[2017-06-01 08:04] tamawy opened #2416 "Extension Error: Protocol error (Tracing.start): Tracing is already started"
**Lighthouse Version**: 2.0.0
**Chrome Version**: 57.0.2987.133
**URL**: https://techcrunch.com/2017/05/31/mary-meeker-internet-trends-2017/
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-06-01 08:07] BenjaminWalsh commented on #2407
Thanks guys, that explains perfectly why I'm seeing these differences in reports. Is this going to be added to the roadmap for lighthouse?

[2017-06-01 15:09] ev1stensberg commented on #2383
⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️  ⭐️ ⭐️
![skjermbilde 2017-06-01 kl 17 08 30](https://cloud.githubusercontent.com/assets/16735925/26686397/11d918c6-46ed-11e7-9fa0-1c3eeeb17b69.png)
⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ ⭐️

[2017-06-01 16:34] patrickhulce commented on #2416
dupe of #1091

[2017-06-01 16:34] #2416 closed

[2017-06-01 16:41] patrickhulce commented on #2407
Bringing back savings for x-origin images is definitely on our roadmap, but it will take some time. Even once a fix is implemented in Chrome we'll need to wait ~6-12 weeks for the support to make its way to Chrome stable.

There are currently no immediate plans to make the check more aggressive, but we're always striving to align performance recommendations and periodically re-evaluate our thresho

[2017-06-01 18:26] ev1stensberg commented on #2414
Want me to work on this?

[2017-06-01 18:39] ev1stensberg commented on #2362
I can work on this if you want to

[2017-06-01 18:59] ev1stensberg commented on #2299
Can't we just warn about it and close the tab that was opened first on the same origin? Could also close the service-worker if needed.

Also, would like to work on this if you want me to :)

[2017-06-01 20:11] ebidel commented on #2414
Needs investigating. If you want to throw in some time/research and report back on this bug, that would be great. It could also be a bug with headless chrome.

[2017-06-01 20:12] ev1stensberg commented on #2414
I'll implement a fix for #2418 and move to this by next week! Got oral exams next week, so might need to delay this, but definitely up for the task

[2017-06-01 21:51] brendankenny commented on #2333
turns out this isn't Lighthouse messing with the trace, it's [`speedline`](https://github.com/paulirish/speedline/blob/31a398f798b0541ba5bb3dbe41ffc384cdf5b359/src/frame.js#L83) messing with the trace :)

[2017-06-01 22:27] patrickhulce commented on #2299
Oh this was actually in fixed in Chrome already :) thanks though!

[2017-06-01 22:27] #2299 closed

[2017-06-01 22:28] ev1stensberg commented on #2299
Sweet 🍰

[2017-06-01 22:31] ev1stensberg commented on #1611
Nearly implemented at #2418 🎉

[2017-06-01 22:50] the7oker opened #2419 "DevTools Error: Protocol error (Tracing.start): Tracing is already started"
**Initial URL**: http://dev/pakabone2/
**Chrome Version**: 61.0.3117.0
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-06-01 22:52] patrickhulce commented on #2419
dupe of #1091

[2017-06-01 22:52] #2419 closed

[2017-06-01 23:54] ebidel commented on #2008
This is a known issue with headless chrome atm: https://bugs.chromium.org/p/chromium/issues/detail?id=728451

[2017-06-02 03:09] auchenberg commented on #2406
The RemoteDebug initiative lists the currently known adapters for the Chrome DevTools protocol, http://remotedebug.org/adaptors/

[2017-06-02 08:48] BenjaminWalsh opened #2421 "Extension Error: Invalid string length"
**Lighthouse Version**: 2.0.0
**Chrome Version**: 58.0.3029.110
**URL**: http://www.diy.com/departments/outdoor-garden/barbecues/DIY780334.cat
**Error Message**: Invalid string length
**Stack Trace**:
[code]

[2017-06-02 13:49] FabiodeBorba opened #2422 "DevTools Error: Protocol error (Tracing.start): Tracing is already started"
**Initial URL**: https://stackoverflow.com/
**Chrome Version**: 61.0.3118.0
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-06-02 15:57] stramel commented on #2422
Dupe of #1091

[2017-06-02 16:08] pmeenan opened #2423 "Lighthouse fails to dismiss page dialogs"
Lighthouse is having issues with pages that have dialogs (at least some types of dialogs) and times out when loading the page.

FWIW, WebPageTest had similar issues and [now](https://github.com/WPO-Foundation/wptagent/blob/master/internal/devtools.py#L641) tries first to "accept": false the dialog and if that fails tries "accept": true.  Similar logic in Lighthouse should make it more robust for p

[2017-06-02 16:11] pmeenan commented on #2423
It looks like Lighthouse only tries "accept":true and tries that first and it [intentional](https://github.com/GoogleChrome/lighthouse/blob/48b72a8537e233c873d68e923e2e224112adfcfd/lighthouse-core/gather/driver.js#L933).

[2017-06-02 16:34] pmeenan commented on #2423
At a minimum, the test should fast-fail when the dialog dismissal fails (whether or not it falls back to false).

[2017-06-02 17:44] pmeenan opened #2424 "Runs out of memory for complex pages"
Not sure if it is tied to the video frames or just the size of the trace

(warning, page is NSFW - _admin added a space to the link ;)_ )
lighthouse --verbose --max-wait-for-load 120000 http://www pornolab.net/

[code]

[2017-06-02 21:37] adrianblynch opened #2425 "SVGs failing due to lack of alt attribute"
My report suggests that SVGs should contain an `alt` attribute but the recommended way to do this is with a `title` and/or `desc` element.

Adding either an `alt` attribute or a `title` element to SVGs being audited still results in a failure:
<img width="791" alt="screen shot 2017-06-02 at 22 32 51" src="https://cloud.githubusercontent.com/assets/4160967/26745661/743a34a4-47e3-11e7-8af6-8302b4c3a

[2017-06-03 01:19] brendankenny commented on #1463
categories!

[2017-06-03 01:19] #1463 closed

[2017-06-03 09:23] zhuangyin8 opened #2428 "DevTools Error: Protocol error (Tracing.start): Tracing is already started"
**Initial URL**: http://v.youku.com/v_show/id_XMTg4OTg5NTE0MA==.html?from=s1.8-1-1.2

[2017-06-03 09:41] zhuangyin8 opened #2429 "DevTools Error: Protocol error (Tracing.start): Tracing is already started"
**Initial URL**: https://zhuangyin8.github.io/ptteng/
**Chrome Version**: 61.0.3118.3
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-06-03 09:41] zhuangyin8 opened #2430 "DevTools Error: Protocol error (Tracing.start): Tracing is already started"
**Initial URL**: https://zhuangyin8.github.io/ptteng/
**Chrome Version**: 61.0.3118.3
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-06-03 10:27] jinliming2 opened #2431 "DevTools Error: Protocol error (Tracing.start): Tracing is already started"
**Initial URL**: https://ipv6.google.com/
**Chrome Version**: 61.0.3118.3
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-06-03 13:20] ev1stensberg commented on #2428
Let's close this and resume the conversation at #1091

[2017-06-03 13:20] ev1stensberg commented on #2431
Let's close this and resume the fun at #1091

[2017-06-03 13:21] ev1stensberg commented on #2429
Let's close this and resume the tracking at #1091

[2017-06-03 13:21] ev1stensberg commented on #2430
Let's close this and resume the resolving at #1091

[2017-06-03 13:33] jinliming2 commented on #2431
OK... I just follow the browser's tip links me to here.

[2017-06-03 13:33] #2431 closed

[2017-06-03 13:35] ev1stensberg commented on #2431
Yep, you did everything right, thanks for confirming this is an important issue 👍

[2017-06-04 04:06] stramel commented on #1639
@paulirish @ebidel Would this audit fall under DBW category or something else?

[2017-06-04 04:27] paulirish commented on #1639
It can go in the dbw folders. Not a big deal really.

On Jun 3, 2017 9:06 PM, "Michael Stramel" <notifications@github.com> wrote:

[2017-06-04 11:12] stramel commented on #1639
I'm not having any luck with the `chrome://flags/#show-autofill-type-predictions` flag. It isn't showing any of them after having enabled and restarted.

[2017-06-05 00:13] r-tock opened #2434 "Lighthouse on headless chrome - Some performance tests are not running"
The following three fails with the same error. Is this a known issue? I tried running it with Chrome Canary and Chrome Beta.

Page load is fast enough on 3G
Audit error: The main thread was busy for the entire trace recording. First Interactive requires the main thread to be idle for several seconds.

First Interactive (beta)
Audit error: The main thread was busy for the entire trace recording. Fi

[2017-06-05 01:18] zhuangyin8 opened #2435 "DevTools Error: Protocol error (Tracing.start): Tracing is already started"
**Initial URL**: https://www.microsoft.com/en-us/software-download/windows10
**Chrome Version**: 61.0.3119.0
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-06-05 02:48] stramel commented on #2435
Dupe of #1091

[2017-06-05 13:27] cedricbellet opened #2436 "Unable to run lighthouse in Xvfb with tags/v2.0.0"
I'm unable to run lighthouse in a docker container with chrome running in Xvfb with tag v2.0.0, whereas that works with tag v2.0.0-alpha.3. Has anything changed between the two tags that affects how lighthouse interacts with chrome?

With v2.0.0, ChromeLauncher waits for browser until it times out, seemingly failing to find the instance of google-chrome running in the Xvfb display.

[code]

Chrome

[2017-06-05 13:44] #2422 closed

[2017-06-05 13:48] patrickhulce commented on #2423
Ah thanks for the tip @pmeenan we've been struggling with this in CI too!

[2017-06-05 13:58] patrickhulce commented on #2436
@cedricbellet there has been a breaking change were you will need to explicitly specify the port number as `--port 9222` if you want it to reuse an already open Chrome instance. It's probably trying to launch Chrome itself but is missing some necessary configuration for xvfb and fails. Does specifying the port fix your issue? Great data on xvfb issues though we should probably try to address it ei

[2017-06-05 14:04] patrickhulce commented on #2434
@r-tock what URL are you running against?

Note that if you are reaching the 30s timeout then this is expected behavior because the page did not have the minimum required idle time. However, there are known issues with particular loading patterns causing Lighthouse to prematurely stop tracing.

[2017-06-05 14:17] r-tock commented on #2434
https://next.tocktix.com. the page loads very fast an di have put a 5minute timeout.

[2017-06-05 14:42] #2428 closed

[2017-06-05 14:42] #2429 closed

[2017-06-05 14:42] #2430 closed

[2017-06-05 14:43] #2435 closed

[2017-06-05 14:48] patrickhulce commented on #2425
Thanks for the report @adrianblynch! Right now the support in axe, which is what powers our accessibility audits, seems to be a little iffy for SVG (see https://github.com/dequelabs/axe-core/issues/20). You might want to chime in that thread with the issues you're seeing since they're looking for helpful examples! :)

cc: @kaycebasques for potentially updating the docs to mention pending SVG suppo

[2017-06-05 15:10] patrickhulce commented on #2434
Thanks for sharing your URL! In your case, these audits are failing because it looks like stripe has a recurring timer firing that does large chunks of JavaScript work. To pass these checks, you might have to reach out to stripe to see if its unexpected use of their SDK or something on their end to sort out. Keeping latent script executions under 50ms is important to ensure the page is free to han

[2017-06-05 15:26] patrickhulce commented on #2424
I've had this happen a few times as well when doing plots runs. Locally I've just increased the node old space size with `--max_old_space_size=4096`, but it'd be nice to nix this. Hopefully #2347 will help.

[2017-06-05 15:38] r-tock commented on #2434
Ah. Thanks for pointing that out. I thought the tests were busted. Yes! indeed stripe is doing something bad. I will close this. The tests are running correctly against other sites.

[2017-06-05 15:38] #2434 closed

[2017-06-05 16:40] #2141 closed

[2017-06-05 17:05] englishextra opened #2438 "README: add explainer blurb to "Related projects" section"
Since they have no free plan for Open Source projects, please mention that it is advertising.

[2017-06-05 17:06] #2321 closed

[2017-06-05 17:17] ebidel commented on #2438
The intention of https://github.com/GoogleChrome/lighthouse#lighthouse-integrations is to highlight early projects and tools that are using/adopting Lighthouse so developers can check them out if this wish.

[2017-06-05 17:23] englishextra commented on #2438
@ebidel That's what I am saying:

You can add that in README.md:

[code]
That  way it would be nicer.

[2017-06-05 17:26] ebidel commented on #2438
Sure thing. We can add a blurb if it helps clarify what that section is all about.

[2017-06-05 17:27] englishextra commented on #2438
@ebidel thanks a lot

[2017-06-05 18:00] homerjonathan opened #2439 "Didn't Send Any Data - HTTP"
My application must work over https://, thus on my test platform I only have that service running without an unsecure http://.  When testing I get an error message and the testing stops.

 **This page isn’t working**

 _myserver didn’t send any data.
 ERR_EMPTY_RESPONSE_

Whilst I understand that perhaps it may be unconventional not having an unsecure server that responds, shouldn't the lighthouse

[2017-06-05 18:22] paulirish opened #2440 "Travis build takes a while"
We can probably wittle it back down a few minutes without too much work.

I opened a completed [build](https://travis-ci.org/GoogleChrome/lighthouse/jobs/239649108) and ran this:

[code]

And we get

![image](https://cloud.githubusercontent.com/assets/39191/26796060/d7b00a7c-49dc-11e7-94a4-2e38a01458a9.png)

-------

here's my personal assessment of these... going in descending order...

* 200 sec

[2017-06-05 19:05] ebidel commented on #1852
@patrickhulce is this something we can reignite? Is the protocol API in a good spot?

Do you want to take it? Or I can if you prefer.

[2017-06-05 19:45] ebidel commented on #2439
Is this from the CLI or extension?  Related: https://github.com/GoogleChrome/lighthouse/issues/1217, https://github.com/GoogleChrome/lighthouse/issues/1978?

[2017-06-05 19:54] homerjonathan commented on #2439
Using the extension.

On 5 June 2017 at 20:45, Eric Bidelman <notifications@github.com> wrote:

[2017-06-05 19:58] RockoDev commented on #2362
I got the same error, but another URL and Chrome version. Just after trying to audit a site.

**Initial URL**: about:srcdoc
**Chrome Version**: 61.0.3119.0
**Error Message**: Unable to load the page: timeout reached
**Stack Trace**:
[code]

[2017-06-05 21:41] xtianares opened #2442 "Extension Error: You must provide a url to the runner"
**Lighthouse Version**: 2.0.0
**Chrome Version**: 58.0.3029.110
**URL**: https://localhost:8000/
**Error Message**: You must provide a url to the runner
**Stack Trace**:
[code]

[2017-06-05 21:53] ebidel commented on #1140
We've removed this audit from the default run. Closing old issues.

[2017-06-05 21:53] #1140 closed

[2017-06-05 21:55] ebidel commented on #2442
Dupe of https://github.com/GoogleChrome/lighthouse/issues/1834

[2017-06-05 21:55] #2442 closed

[2017-06-05 22:24] #2291 closed

[2017-06-05 23:10] brendankenny commented on #1599
see #1656

[2017-06-05 23:10] #1599 closed

[2017-06-06 01:27] brendankenny commented on #2276
I started this in a branch ([`rmv1`](https://github.com/GoogleChrome/lighthouse/tree/rmv1)) but realized it would break all the viewer tests since they currently rely on v1. We could skip them for now, but would rather get #2338 underway first

[2017-06-06 01:48] patrickhulce commented on #1852
not sure, the protocol hasn't really changed since the initial changes and we punted the CSS out, @paulirish any objections to bringing this in? might be trickier now though since last I checked enabling the tracking and noticeable perf impact and we're down to a single pass

[2017-06-06 01:52] paulirish commented on #1639
@stramel it doesn't trigger on a lot of fields. In the google login form, I get the prediction info on the password field. and i also get it on the [mint.com signin form](https://mint.intuit.com/login.event?utm_medium=direct&test=&cta=nav_login_dropdown).

but that said, this data isn't exposed over the protocol so we can't use it. :/

[2017-06-06 03:02] stramel commented on #1639
@paulirish that's a shame, I had looked into it to see if there would be a way. I started on this will probably have a couple questions. One that I have now is, is there a good way to check all the way through the Shadow Dom? I have a way to do it already but it isn't super clean.

[2017-06-06 03:19] paulirish commented on #1639
https://github.com/GoogleChrome/lighthouse/pull/2371 has the best technique right now

[2017-06-06 15:42] blastseld opened #2446 "DevTools Error: Unable to load the page: timeout reached"
**Initial URL**: about:blank
**Chrome Version**: 61.0.3119.0
**Error Message**: Unable to load the page: timeout reached
**Stack Trace**:
[code]

[2017-06-06 17:09] patrickhulce commented on #2446
dupe of #2362

[2017-06-06 17:09] #2446 closed

[2017-06-06 17:26] miquelmasrieramrf opened #2447 "Low Score for First and Consistently Interactive times with uglified code."
Webpack's production mode -> +4 seconds to first interactive.

- lighthouse 2.0.0
- chrome 59.0

I have two versions of the same SPA, the only difference between them is the way of generating the JS bundle, all the other resources are identical except for the JS bundles: one is generated using webpack's production mode (-p) which uglifies/minifies the js code using UglyfyJS.
So for the unminified

[2017-06-06 17:30] tdresser commented on #2447
Could you save and attach the devtools profiles?

How reproducible is this - is that gap this large every execution?

[2017-06-06 17:30] patrickhulce commented on #2447
@miquelmasrieramrf do you have two URLs where these two version are available so we can investigate? There's no reason this should be happening that I can think of, so something fishy is going on. In fact, the minified bundle should perform better due to its smaller size under our throttling :)

[2017-06-06 17:52] miquelmasrieramrf commented on #2447
Thanks, since this is my company's code I can't provide the unminified version, I have to check if I can provide it to you.

but regarding to the profiles, this is 10seconds of profiling of the minified and unminified versions

[profiles.zip](https://github.com/GoogleChrome/lighthouse/files/1055974/profiles.zip)

[2017-06-06 18:22] patrickhulce commented on #2447
Thanks for providing those! These traces don't look like they were taken by Lighthouse though. On those two traces first-interactive and consistently interactive would be nearly the same on both, so LH must be getting a different view of the world. Could you send the traces that LH is analyzing by running the CLI on your URLs with the `--save-assets` flag and sending the file ending in `.trace.jso

[2017-06-06 19:14] erickdsama opened #2449 "Extension Error: Cannot access a chrome:// URL"
**Lighthouse Version**: 2.0.0
**Chrome Version**: 58.0.3029.110
**URL**: chrome://newtab/
**Error Message**: Cannot access a chrome:// URL
**Stack Trace**:
[code]

[2017-06-06 19:48] gauntface commented on #2375
I am using the lighthouse module in my unit tests.

Run page through lighthouse, pass / fail unit tests based on the score.

[2017-06-06 20:02] patrickhulce commented on #2449
It's not possible to run extensions​ on internal chrome urls. If you wish to audit a chrome URL, use the CLI or DevTools integration.

[2017-06-06 20:02] #2449 closed

[2017-06-06 20:03] wardpeet commented on #2449
Fixed in the next release https://github.com/GoogleChrome/lighthouse/pull/2346

[2017-06-06 20:04] wardpeet commented on #2440
@paulirish I can take this if you like

[2017-06-06 20:27] ebidel commented on #2436
I can confirm adding `--port=9222` fixes the issue with 2.0.

[2017-06-06 21:14] paulirish commented on #2440
Ya that'd be awesome. Also Patrick thinks the `sudo: true` adds a few
minutes as well.

On Jun 6, 2017 1:04 PM, "Ward Peeters" <notifications@github.com> wrote:

[2017-06-06 21:50] stramel commented on #2440
@paulirish @wardpeet Can any of this stuff be run in parallel using a build matrix? https://docs.travis-ci.com/user/customizing-the-build/#Build-Matrix

Like installing, building, and testing each part in parallel.

- launcher
- cli
- viewer
- core

Then running the rest sequentially?

[2017-06-06 23:08] ebidel commented on #2436
@cedricbellet going to close this. Please reopen if setting the port doesn't work for you.

[2017-06-06 23:08] #2436 closed

[2017-06-07 02:16] brendankenny opened #2455 "fix `yarn compile-devtools` errors on travis"
so far everyone seems to be able to compile correctly locally, and master tests successfully even on the same devtools commit ([master](https://travis-ci.org/GoogleChrome/lighthouse/jobs/240183864#L529) vs [failed build](https://travis-ci.org/GoogleChrome/lighthouse/jobs/240194027#L531)). Need to find the source of the issue (even if it's just clearing caches or whatever)

[2017-06-07 02:24] paulirish commented on #2455
There are two clones happening. 1) the devtools frontend. 2) the protocol.

it's expected (and typically necessary) for both repos to be up to date. that part is up to a cron job on my machine and i've just verified that it's all looking correct.

So there's two git hashes in here to check.

Successful build:
* HEAD is now at 8a6afdc [DevTools] Display usage & quota information
* HEAD is now at 57

[2017-06-07 02:57] ebidel commented on #2337
Circling back. `--headless` should work without the delay now. Be sure to update to LH 2.1.0.

[2017-06-07 03:09] samccone commented on #2337
ack, the root of this bug was in lighthouse, headless just made it happen more 🗡

[2017-06-07 04:43] wardpeet commented on #2440
I don't believe they have to @stramel, thanks I'll look into it.

[2017-06-07 05:36] wwwillchen commented on #2455
Couple of thoughts:
1) If I'm reading the Travis log right, I believe on the failed build it's actually checking out revision ffd3dba [based on line 538 of build log](https://travis-ci.org/GoogleChrome/lighthouse/jobs/240194027#L538). That commit actually removes the Storage part of the Protocol API that Travis is yelling about (https://github.com/ChromeDevTools/devtools-protocol/commit/ffd3dba886

[2017-06-07 06:02] tomi-vanek opened #2457 "Extension Error: Protocol error (Tracing.start): Tracing is already started"
**Lighthouse Version**: 2.1.0
**Chrome Version**: 58.0.3029.110
**Initial URL**: http://192.168.99.100/
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-06-07 06:03] tomi-vanek opened #2458 "Extension Error: Protocol error (Tracing.start): Tracing is already started"
**Lighthouse Version**: 2.1.0
**Chrome Version**: 58.0.3029.110
**Initial URL**: https://console.cloud.google.com/home/dashboard?project=ai-system-uat
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-06-07 06:04] brendankenny commented on #2457
hmm, #2279 may not have worked

[2017-06-07 06:06] brendankenny commented on #2458
closing in favor of #2458. I don't believe the URL is pertinent

[2017-06-07 06:06] #2458 closed

[2017-06-07 06:12] lungare opened #2459 "Unable to load the page: timeout reached - Server misconfigured"
**Initial URL**: https://mysite.mwhtools.com/mySiteApp/
This is in the new audit tool and all the options are checked

[2017-06-07 07:58] eric30 commented on #2387
This link might also be helpful: https://dequeuniversity.com/rules/axe/1.1/meta-viewport

[2017-06-07 09:47] shuraki opened #2460 "DevTools Error: Unable to load the page: timeout reached"
**Initial URL**: about:blank
**Chrome Version**: 61.0.3122.0
**Error Message**: Unable to load the page: timeout reached
**Stack Trace**:
[code]

[2017-06-07 13:47] miquelmasrieramrf commented on #2447
yes, they were from chrome, here are the ones from lighthouse
Later I'll make a simple app and do a production and a dev build, and go a little deeper into lighthouse.

[lighthouse-traces.zip](https://github.com/GoogleChrome/lighthouse/files/1058146/lighthouse-traces.zip)

[2017-06-07 16:57] patrickhulce commented on #2457
noooo :(

@tomi-vanek since there you've run into this a couple times is there anything in particular that's interesting about the way you ran lighthouse?

[2017-06-07 17:02] patrickhulce commented on #2387
@panayotov this is as expected, the audit is telling you to not use `user-scalable=no` and have a maximum scale of 5 or more, you have included `user-scalable=no` and set a maximum scale of 1, so it failed. See @eric30's link for more info and hopefully #2418 should clear up more of these issues

[2017-06-07 17:02] #2387 closed

[2017-06-07 17:03] patrickhulce commented on #2460
dupe of #2362

[2017-06-07 17:03] #2460 closed

[2017-06-07 17:07] patrickhulce commented on #2447
Thanks for providing those this is a perfect example case!

@tdresser this is a great example of where the 2-quiet heuristic fails. The unminified bundle takes *so* much longer that it is the only request for ~10s so we reach our 5s threshold of network and CPU quiet before it has even finished downloading

[2017-06-07 17:17] patrickhulce commented on #2459
thanks for the report @lungare! this looks like another case of #1978, let's pick up the conversation over there

[2017-06-07 17:18] deepanjanroy commented on #2447
Thank you sharing this trace. It looks like this is a real issue with our current First (Consistently) Interactive definitions.

As @patrickhulce noted, the current definitions work by trying to detect 5s of network 2-quiet and main thread quietness in the Consistently Interactive case, and a smaller variable window of main thread quietness in the First Interactive case.

In your unminified case,

[2017-06-07 17:19] patrickhulce commented on #2459
Wait, nevermind that seems to be unrelated my machine just wouldn't connect to your http site for some reason, is it possible you're having intermittent server issues?

[2017-06-07 17:37] miquelmasrieramrf commented on #2447
I was testing with no-throttling, totally missed it. Now I have something to start with.
Thanks a lot!

[2017-06-07 19:31] patrickhulce commented on #1852
@ebidel just an update here after speaking with caseq, there's a potentially significant performance impact of enabling the coverage, so I'm going to investigate with some weak devices on plots and see how it impacts the numbers. I still have my local branch with the coverage fixes from way back, so its really a matter of ensuring we can continue as previously planned.

[2017-06-07 19:40] ebidel commented on #1852
Coolio. Even if new audits (like this) turn out to be slow, it would be beneficial for us to have them in the codebase for users to run. Maybe they're opt-in or something.

[2017-06-07 21:26] LucianoGanga opened #2462 "ECONNREFUSED When launching multiple Chrome instances"
Hello!
I don't know why, but when I try to execute multiple instances of Chrome in a Linux env, I get this error:

[code]
I've been trying to find more information about this, but I don't know where to start from.

Any idea about what may be the problem?

[2017-06-07 21:40] patrickhulce commented on #2462
How are you launching and consuming chrome? Lighthouse as a node module? `chrome-launcher` and your own connection to Chrome?

If you're using the latest chrome-launcher module, it should be [waiting until the port is available](https://github.com/GoogleChrome/lighthouse/blob/master/chrome-launcher/chrome-launcher.ts#L239) but you'll have to make sure you're awaiting for the promise resolution bef

[2017-06-07 21:48] LucianoGanga commented on #2462
Thanks for your answer Patrick!

I'm using the NPM version of lighthouse 2.0.0.

Then, I'm launching chrome here:
https://github.com/LucianoGanga/simple-headless-chrome/blob/beta/lib/browser.js#L149

Then I connect to that instance here:
https://github.com/LucianoGanga/simple-headless-chrome/blob/beta/lib/browser.js#L183

(I use "Chrome Remote Interface" for that: https://github.com/cyrus-and/chro

[2017-06-07 22:12] brendankenny opened #2463 "generate html API docs for artifacts, driver, etc"
generated API docs could be very helpful, preventing the need to dive into multiple gatherers just to see what they provide in their artifacts, for instance. Ideally these would be generated from source with a single `npm` command.

- It may not be necessary (or even helpful) to have html docs for everything, but docs for key pieces would aid those developing Lighthouse core and/or their own exten

[2017-06-07 22:17] brendankenny commented on #2463
labelling this as a good first bug, especially for those with experience with the different documentation generating tools out there.

If you do make an attempt at this, just generating from a subset of the above (e.g. from just [`Driver`](https://github.com/GoogleChrome/lighthouse/blob/1bb1cfe9a44a201c71f9631daa93a2528ee53b45/lighthouse-core/gather/driver.js) or just from the [`Artifacts` externs

[2017-06-07 22:17] stramel commented on #2463
I definitely agree that `Driver`, `Audit`, and `Gatherer` were very useful to read into when I was first looking at developing a new Audit. I also found `GatherRunner` very informative. I'm interested to see what comes of this! :+1:

[2017-06-07 22:42] tigerhawkvok opened #2465 "Unable to load the page: timeout reached - HSTS"
**Initial URL**: https://amphibiandisease.org/dashboard.php
**Chrome Version**: 60.0.3112.21
**Error Message**: Unable to load the page: timeout reached
**Stack Trace**:
[code]

It starts to work fine, but then toward the end (after getting a trace) it tries to load the page again and immediately craps out.

Possibly related to #1978, though the site is hosted with HSTS ( https://www.ssllabs.com/s

[2017-06-07 22:50] brendankenny commented on #2465
I'm not seeing a problem in Canary (Chrome 61) or when using the extension. Are you logged in or have some other sort of saved state that may contribute to what's going on?

[2017-06-07 22:54] tigerhawkvok commented on #2465
@brendankenny I wasn't, but replicated the issue in an extension-free incognito window anyway

Pre-fail:

![image](https://user-images.githubusercontent.com/165937/26904954-73102642-4b99-11e7-9d92-9c3d1e632484.png)

Post-fail:

![image](https://user-images.githubusercontent.com/165937/26904967-7d59ba0a-4b99-11e7-9796-de0d9554fa1d.png)

I updated the original post while you commented to say:

[2017-06-07 23:46] ezesculli commented on #2462
So far, It appears to be an specific Linux problem (because it works fine in our macs, but not on our servers):

We're basically reproducing this on Linux when:

[code]

Can you help us to reproduce if you're getting the same error on your Linux env?

[2017-06-08 07:30] tomi-vanek commented on #2457
Just wanted to give a try after watching a video from Google IO… without success. I have MacOS X 10.12.5, runns on Chrome Version 58.0.3029.110 (64-bit).

Machine is heavily overloaded - developing system with ~ 10 - 15 dockers running in Kubernetes, the machine is overheated and noisy like an old Windows machine, with 100% memory usage.. I used Lighthouse plugin in Chrome (least effort path :-),

[2017-06-08 07:41] chrisdwheatley commented on #2434
Rather than opening a new issue I figured I'd ask here about the same issue I'm seeing when running Lighthouse through webpagetest.

Here's what I'm seeing https://www.webpagetest.org/result/170608_KH_4a8be412cf0ef89d56e3cb13a8eed676/ (this is running as Mobile - Faster 3G from https://www.webpagetest.org/easy)

Here's a similar test but using Mobile - Emerging Markets where the waterfall looks pr

[2017-06-08 10:53] derekjohnson opened #2468 "role=feed is marked as invalid"
`role=feed` was introduced in ARIA 1.1 but is marked invalid in Lighthouse.

See https://www.w3.org/TR/wai-aria-1.1/#feed and http://www.ssbbartgroup.com/blog/differences-aria-1-0-1-1-additions-role/

[2017-06-08 11:01] gwuhaolin opened #2469 "npm package chrome-launcher miss dependencies rimraf"
only install package [chrome-launcher](https://www.npmjs.com/package/chrome-launcher) form npm without lighthouse, then use it will cause error:
[code]
and
[code]
it's cause by  miss dependencies `rimraf` in `chrome-launcher`'s package.json

[2017-06-08 11:07] gwuhaolin commented on #2469
why extra `chrome-launcher` from lighthouse to a standalone npm package? many scene need to launch chrome only instead of install lighthouse.

[2017-06-08 14:42] maxmjn opened #2470 "DevTools Error: Unable to load the page: timeout reached"
**Initial URL**: about:blank

[2017-06-08 16:43] ebidel commented on #2462
@ezesculli it looks like you're using some old flags: `autoSelectChrome ` and `additionalFlags`.

`autoSelectChrome` is gone in 2.0 and `additionalFlags` -> `chromeFlags`.

Can you try this:

[code]

[2017-06-08 17:01] LucianoGanga commented on #2462
Thanks @ebidel !

We updated those parameters, but still getting the ECONNREFUSED error:

[code]

[2017-06-08 17:02] ebidel commented on #2462
Hmm, ok. I'll have to test on Linux. Do you think you could post a snippet of code that repros the problem?

[2017-06-08 17:07] LucianoGanga commented on #2462
@ebidel I think that with the code that @ezesculli posted before it's enough, but I've launched a EC2 instance in AWS to test this (which gives me the ECONNREFUSED error even in the first attempt of launching a chrome instance).

If you want, I can privately send you the access credentials so you can test it there.

[2017-06-08 17:13] patrickhulce commented on #2434
hey @chrisdwheatley thanks for the report! let's go ahead and start a new issue though since @r-tock's case was indeed some misbehaving scripts preventing the main thread from ever quieting and it looks like your issue might be a different root cause

[2017-06-08 17:14] patrickhulce commented on #2470
dupe of #2362

[2017-06-08 17:14] #2470 closed

[2017-06-08 17:14] LucianoGanga commented on #2462
I don't know if this helps, but on Linux I ran the code you gave us:

[code]

and then ran this several times:
[code]

and after a few runs, I've got this:
[code]

[2017-06-08 17:20] ebidel commented on #2468
The a11y audits use the https://github.com/dequelabs/axe-core lib for auditing. Would you mind upstreaming this issue?

[2017-06-08 17:29] ebidel opened #2471 "chrome-launcher docs for module"
https://www.npmjs.com/package/chrome-launcher needs:

- a README.md so it shows up on NPM.
- info on publishing in the contributors guide.

[2017-06-08 17:41] patrickhulce commented on #2462
@LucianoGanga that EventEmitter leak is a known leak with the SIGINT handling (you can flip the `handleSIGINT` option to false to disable since you likely don't need it anyway), but shouldn't impact the CONNREFUSED you're seeing

I'm assuming with these cases that you're observing a significant delay while it waits for the port to be available and it finally fails sometime later? Or is it immediat

[2017-06-08 17:53] LucianoGanga commented on #2462
@patrickhulce I just tested it again, It takes between 10 and 20 seconds since the chromeLauncher is excecuted until I get the error.

I made some new tests in a new ubuntu server (instead of using the Heroku instance) and it fails after 10/15 new instances. In my mac, I can run it more than 30 times without any problem.

[2017-06-08 18:18] patrickhulce commented on #2362
Fix in progress https://chromium-review.googlesource.com/c/527430/

[2017-06-08 19:06] #2116 closed

[2017-06-08 19:50] ebidel commented on #2469
It's also missing `log`:

[code]

[2017-06-08 23:25] ebidel commented on #2462
@patrickhulce I lied. Wasn't able to take a look today and I'm gone tomorrow for a wedding. Feel free to test if you get a chance. Otherwise, I can get to it next week.

[2017-06-09 07:30] zhirzh opened #2474 "Lighthouse treats "shrink-to-fit" property in meta-tag "viewport" as invalid"
In lighthouse audits,
this will pass:
`<meta name="viewport" content="width=device-width, initial-scale=1">`
this will fail:
`<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">`
with message `Invalid properties found: {"shrink-to-fit":"no"}.`

[2017-06-09 09:25] chrisdwheatley opened #2475 "Persistent 'Audit error: The main thread was busy for the entire trace recording.' when running via webpagetest"
As mentioned in #2434 I'm seeing an issue in Lighthouse when running via webpagetest that I'm hoping someone can help investigate.

Here's what I'm seeing https://www.webpagetest.org/result/170608_KH_4a8be412cf0ef89d56e3cb13a8eed676/ (this is running as Mobile - Faster 3G from https://www.webpagetest.org/easy)

Here's a similar test but using Mobile - Emerging Markets where the waterfall looks pre

[2017-06-09 09:26] chrisdwheatley commented on #2434
Yes, sorry, that makes sense.

I've raised #2475.

[2017-06-09 09:28] chrisdwheatley commented on #2475
Oh, looks like this is possibly taken care of in https://github.com/GoogleChrome/lighthouse/pull/2473.

[2017-06-09 10:17] ahmad1234567890zxvz opened #2476 "DevTools Error: Unable to load the page: net::ERR_CONNECTION_TIMED_OUT"
**Initial URL**: https://www1.elm.com.sa/Portal/Ar/Topics/Services/Muqeem/
**Chrome Version**: 61.0.3124.0
**Error Message**: Unable to load the page: net::ERR_CONNECTION_TIMED_OUT
**Stack Trace**:
[code]

[2017-06-09 11:48] gmanio opened #2477 "Extension Error: Invalid string length"
**Lighthouse Version**: 2.0.0
**Chrome Version**: 59.0.3071.86
**URL**: http://localhost:8000/
**Error Message**: Invalid string length
**Stack Trace**:
[code]

[2017-06-09 11:49] #2477 closed

[2017-06-09 14:17] ev1stensberg commented on #1611
@pavelfeldman Could you tell me a bit how you're testing CSS rules? Also, if applicable, which url?

[2017-06-09 16:42] patrickhulce commented on #2476
@ahmad1234567890zxvz it looks like there are certificate issues on that site that prevent Chrome from visiting it without user intervention. If you're the owner of the site, you should try resolving those before running lighthouse.

[2017-06-09 16:42] #2476 closed

[2017-06-09 16:50] patrickhulce commented on #2474
Thanks for the report @zhaoz! Looks like our dependency for metaviewport parsing [hasn't been updated in quite some time](https://github.com/dontcallmedom/metaviewport-parser).

[2017-06-09 16:53] patrickhulce commented on #2475
Thanks for filing the separate issue @chrisdwheatley! #2473 should indeed address this type of problem :)

[2017-06-09 16:54] patrickhulce commented on #1611
@ev1stensberg it used to be an audit but it got disabled a while back when the protocol methods changed, don't worry about chasing it down :)

[2017-06-09 17:04] zhirzh commented on #2474
@patrickhulce that's not even my handle :joy:

[2017-06-09 17:10] patrickhulce commented on #2474
oops 😆  fixed! haha sorry for the same other similarly named LH-contributor :)

[2017-06-09 17:55] ev1stensberg commented on #1611
So that means #2478 is done?

[2017-06-10 19:44] marktam opened #2479 "(chrome-extension://blipmdconlkpinefehnmjammfjpmpbjk/scripts/lighthouse-background.js:14050:23)"
**Lighthouse Version**: 2.1.0
**Chrome Version**: 59.0.3071.86
**Initial URL**: https://www.google.com/_/chrome/newtab-serviceworker.js
**Error Message**: You must provide a url to the runner
**Stack Trace**:
[code]

[2017-06-10 19:45] marktam commented on #2479
https://www.google.com/_/chrome/newtab-serviceworker.js

[2017-06-10 20:25] robin-drexler commented on #2345
Since https://github.com/GoogleChrome/lighthouse/issues/2366 is merged, can't this be closed?

[2017-06-10 20:29] ebidel commented on #2479
Lighthouse won't be able to test a .js file. You'll need to run it on a site.

Curious though, were you trying to test Chrome's new tab page? How did you get to this sw file?

[2017-06-10 20:54] rmkpatchaa opened #2480 "DevTools Error: Protocol error (Tracing.start): Tracing is already started"
**Initial URL**: https://rmkpatchaa.com/
**Chrome Version**: 61.0.3126.0
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-06-10 21:24] kalitine opened #2481 "DevTools Error: Protocol error (Tracing.start): Tracing is already started"
**Initial URL**: https://mute-dev-prod.firebaseapp.com/docs/all
**Chrome Version**: 61.0.3126.0
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-06-10 21:54] ebidel commented on #2481
Dupe of https://github.com/GoogleChrome/lighthouse/issues/2481

[2017-06-10 21:54] #2481 closed

[2017-06-10 21:55] ebidel commented on #2480
Dupe of https://github.com/GoogleChrome/lighthouse/issues/1091

[2017-06-10 21:55] #2480 closed

[2017-06-11 10:13] ngyikp opened #2482 "noopener audit should also allow `noreferrer`"
Failing HTML:
[code]

According to https://mathiasbynens.github.io/rel-noopener/ , using `noreferrer` by itself fixes the vulnerability too.

If `noreferrer` is enough, then wouldn't putting `noopener` next to it would be redundant?

[2017-06-11 21:08] phaeena opened #2483 "DevTools Error: Unable to load the page: timeout reached"
**Initial URL**: about:blank
**Chrome Version**: 60.0.3112.24
**Error Message**: Unable to load the page: timeout reached
**Stack Trace**:
[code]

[2017-06-12 04:43] patrickhulce commented on #2483
dupe of #2362

[2017-06-12 04:43] #2483 closed

[2017-06-12 04:49] patrickhulce commented on #2345
indeed @robin-drexler thanks again!

[2017-06-12 04:49] #2345 closed

[2017-06-12 04:53] patrickhulce commented on #2482
yep that's right good catch @ngyikp!

[2017-06-12 12:31] sorknes opened #2484 "Audit error: Required Accessibility gatherer encountered an error: Cannot read property 'push' of undefined"
I don't know if this is the right place, but here it goes.

I'm having some issues with accessibility using lighthouse on a page I'm helping to build. All I get is this error:

I can't figure out why this is happening, and all help would be useful.

Thanks!

[2017-06-12 13:00] derekjohnson commented on #2468
Done, thanks :)

[2017-06-12 13:00] #2468 closed

[2017-06-12 14:34] LucianoGanga commented on #2462
We added more and better hardware and the problem seems to be solved... I think there's a OS limitation that prevents the instances from opening ports on time, or something around that (I'm not an expert in OS).

If you want, we can close this issue.

[2017-06-12 14:55] ebidel commented on #2484
Is there a URL you can share or steps to help us repro?

[2017-06-12 16:50] ev1stensberg commented on #2474
What should we do to chase this down?

[2017-06-12 18:47] patrickhulce commented on #2462
Thanks for circling back around to let us know! That certainly would explain my difficulty reproing on a 64-core linux box :)

Feel free to reach out again if you run into new issues!

[2017-06-12 18:47] #2462 closed

[2017-06-12 19:05] patrickhulce commented on #2474
@ev1stensberg since that package doesn't seem very well maintained, we should probably add a temporary workaround to ignore `shrink-to-fit` in the audit for now

In the long term we'll need to decide if we want to...

* work with the owner to get a fix in place and published
* bring it into `third_party` and fix
* drop the package and parse the values ourselves

[2017-06-12 19:19] ev1stensberg commented on #2474
I can work on long term if you want to, better fix now than never :)

[2017-06-12 20:33] sridharAJ opened #2488 "Extension Error: Protocol error (Tracing.start): Tracing is already started"
**Lighthouse Version**: 2.1.0
**Chrome Version**: 59.0.3071.86
**Initial URL**: https://udp-test.mynt.myntra.com/udp/home
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-06-12 20:49] tinfelise opened #2489 "'Discernable' is spelled wrong"
'Links have a discernable name.' should be 'Links have a discernible name.'

[2017-06-12 21:32] patrickhulce commented on #2488
dupe of #1091

[2017-06-12 21:32] #2488 closed

[2017-06-12 23:31] kchoi01 opened #2490 "Lighthouse unable to connect to chrome"
I am trying to run Lighthouse with headless Chrome on Ubuntu.
Chrome 59.0.3071.86
Lighthouse 2.1.0
Ubuntu 14.04

The command line is
lighthouse --verbose --chrome-flags="--headless --disable-gpu --remote-debugging-port=9222" http://www.some.site

The verbose output shows that a chrome instance is successfully launched. Running the ps and lsof commands also shows that the chrome instance is listeni

[2017-06-13 02:55] eguchi3 opened #2492 "DevTools Error: Unable to load the page: timeout reached"
**Initial URL**: about:blank
**Chrome Version**: 61.0.3124.10
**Error Message**: Unable to load the page: timeout reached
**Stack Trace**:
[code]

[2017-06-13 03:06] jooj123 commented on #2251
@samccone any update on this one? Seems to be blocking: https://github.com/paulirish/pwmetrics/pull/120

[2017-06-13 03:17] ebidel commented on #2251
@jooj123, https://github.com/GoogleChrome/lighthouse/pull/2358/files is close. Just a few comments to address.

[2017-06-13 03:23] ebidel commented on #2490
Try the `port` flag:

[code]

That should get handed off to the new ChromeLauncher in LH 2.0.0.

https://github.com/GoogleChrome/lighthouse#cli-options

[2017-06-13 03:25] #2490 closed

[2017-06-13 07:37] vin14976 opened #2493 "DevTools Error: Unable to load the page: net::ERR_EMPTY_RESPONSE"
**Initial URL**: https://localhost:8084/dashboard
**Chrome Version**: 60.0.3112.24
**Error Message**: Unable to load the page: net::ERR_EMPTY_RESPONSE
**Stack Trace**:
[code]

[2017-06-13 08:44] IshaiA opened #2494 "Extension Error: You must provide a url to the runner"
**Lighthouse Version**: 2.1.0
**Chrome Version**: 58.0.3029.110
**Initial URL**: https://cpms.pointgrab.com/
**Error Message**: You must provide a url to the runner
**Stack Trace**:
[code]

[2017-06-13 13:33] gkalpak commented on #1985
I am using lighthouse@2.1.0 and get an `Unknown formatter: url-list` error. My report looks like this:
[code]

I am using `require('lighthouse/lighthouse-cli/printer').write(results, 'json' outputFile)` to create the report.

##
Does this fall under the same category (lighthouse and viewer speaking different languages)?

[2017-06-13 14:27] samccone commented on #2251
@jooj123 I have been working on this for a while now, a fair amount of work was required to correctly extract this in a non-debt inducing way

https://github.com/GoogleChrome/lighthouse/issues/2092

Hope to get this landed quite soon. Thanks

[2017-06-13 14:59] patrickhulce commented on #2492
dupe of #2362

[2017-06-13 14:59] #2492 closed

[2017-06-13 15:01] patrickhulce commented on #2493
possible dupe of #1978?

[2017-06-13 17:23] #2251 closed

[2017-06-13 17:23] #2469 closed

[2017-06-13 17:40] paulirish commented on #2251
Now published on npm as `chrome-launcher`.

docs: https://github.com/GoogleChrome/lighthouse/tree/master/chrome-launcher

[2017-06-13 17:41] paulirish commented on #2092
This is now fixed. [chrome-launcher](https://github.com/GoogleChrome/lighthouse/tree/master/chrome-launcher) is published on NPM and available:

[code]

There is still some work remaining but please feel free to put it to use and report bugs. Thanks!

[2017-06-13 17:41] #2092 closed

[2017-06-13 17:42] brendankenny commented on #2251
🎉 🎉 🌮 🎉 🎉 🎉 🎉 🎉

[2017-06-13 17:42] paulirish commented on #2469
it's now published on npm as `chrome-launcher`.

docs: https://github.com/GoogleChrome/lighthouse/tree/master/chrome-launcher

[2017-06-13 18:59] paulirish commented on #2484
@sorknes thanks for reporting. this is the right place. :)

seems like it might be specific to the URL you're testing. can you share that with us?

--------

the only `push` i see outside of axe code is this one:

[code]

it is true that if `path` gets set to undefined, then the `path.push()` will fire this error...
though i'm not seeing how this would happen...

[2017-06-13 19:28] pedro93 opened #2497 "Chrome-launcher typescript compiler, can't find name"
After adding chrome-launcher as a module to the [pwmetrics](https://github.com/paulirish/pwmetrics) project I came across this typescript issue:
[code]

The respective code is:
[code]

If I add the project as a js module (not in the docs I know) I get the following:
[code]

I import the module as:
[code]

__System details__:
Ubuntu 16.04 LTS
Node: V8.0.0
NPM: V5.0.0

__How to reproduce__:
Trying t

[2017-06-13 20:24] wardpeet commented on #2494
dupe of #1834 can you try the CLI?

[2017-06-13 20:24] #2494 closed

[2017-06-13 20:26] wardpeet commented on #2439
Pretty sure it's #1978

[2017-06-13 20:26] #2439 closed

[2017-06-13 20:27] wardpeet commented on #2479
@marktam can you tell us how you got to the newtab-serviceworker.js

[2017-06-13 21:11] KrzysztofBorowiak opened #2498 "DevTools Error: Unable to load the page: timeout reached"
**Initial URL**: about:blank
**Chrome Version**: 60.0.3112.24
**Error Message**: Unable to load the page: timeout reached
**Stack Trace**:
[code]

[2017-06-13 21:22] samccone commented on #2497
`chromeLauncher` is not exported from
https://github.com/GoogleChrome/lighthouse/blob/master/chrome-launcher/chrome-launcher.ts

for typescript consumption do the following

[code]

[2017-06-13 21:46] #2489 closed

[2017-06-13 23:20] patrickhulce commented on #2498
dupe of #2362

[2017-06-13 23:20] #2498 closed

[2017-06-13 23:52] patrickhulce commented on #2235
fixed by #2456 and #2347

[2017-06-13 23:52] #2235 closed

[2017-06-14 00:24] ebidel commented on #2338
@bckenny are you taking this then?

[2017-06-14 00:28] brendankenny commented on #2338
I'm getting it working again, then we can iterate to get it working well again :)

[2017-06-14 02:25] ev1stensberg commented on #2414
@ebidel Can you assign me to this issue so I don't forget it? Easier to navigate to 👍

[2017-06-14 03:12] stramel commented on #1639
@paulirish Maybe I'm over thinking this, how am I supposed to be determining which autocomplete would be best? Is it `name` and `type`?  I realize email would be easy but what about the others? How would I know if they are using an appropriate type?

Or should I just be checking if they have autocomplete? Should I ensure they are using the appropriate type for the autocomplete?

Sorry, I think I'm

[2017-06-14 04:21] ebidel commented on #2414
Unfortunately you can't assign issues to non-project members. Don't believe anyone has looked into this yet, so you should be ok to research.

[2017-06-14 05:10] loneken79 opened #2500 "DevTools Error: Unable to load the page: net::ERR_CONNECTION_RESET"
This happens when testing a local preactjs site.
With preact when serving in production mode from localhost an "http" request gives a TLS handshake error. It seems to make the lighthouse test crash.

**Initial URL**: https://127.0.0.1:8080/
**Chrome Version**: 60.0.3112.24
**Error Message**: Unable to load the page: net::ERR_CONNECTION_RESET
**Stack Trace**:
[code]

[2017-06-14 07:26] jooj123 commented on #2251
awesome thanks guys 🎉

[2017-06-14 08:26] ev1stensberg commented on #2414
Gotcha!

[2017-06-14 08:49] pedro93 commented on #2497
Thanks for looking into this @samccone, i've tried your suggestion but I still get the message:

[code]

Here is the travis build: https://travis-ci.org/paulirish/pwmetrics/builds/242740991
and the relevant source code (its incapsulated in index.ts): https://github.com/paulirish/pwmetrics/pull/120/files#diff-13b5b151431c7e7a17f273559ed212d5

I noticed that chrome-launcher is exported as a standard

[2017-06-14 10:46] denar90 commented on #2497
`import {launch, LaunchedChrome} from 'chrome-launcher/chrome-launcher';` - solving the problem

[2017-06-14 11:01] pedro93 commented on #2497
Would renaming chrome-launcher.ts to index.ts and changing the package.json[main] property accordingly make this work? The nested import seems counter intuitive.

[2017-06-14 11:21] richgps opened #2501 "Audit error: Required Accessibility gatherer encountered an error: j.split is not a function"
I'm getting a Zero on the Accessibility audit as it's throwing the following error for each check:

`Audit error: Required Accessibility gatherer encountered an error: j.split is not a function`

It's currently a non-public URL, so not able to share URL

Thanks!

[2017-06-14 11:24] ev1stensberg commented on #2501
Would you be able to show an stack trace of some sort?

[2017-06-14 15:20] ebidel commented on #2251
Nice work!

On Wed, Jun 14, 2017 at 12:26 AM Martin Jujou <notifications@github.com>
wrote:

[2017-06-14 16:06] patrickhulce commented on #2501
We don't use `.split` in our own code for that gatherer so this is likely an `axe-core` bug of some sort. Could you try runny just [axe](https://github.com/dequelabs/axe-core) on your site and see if that produces a more readable error that you could file with them?

[2017-06-14 18:21] #2412 closed

[2017-06-14 18:50] EnoahNetzach opened #2502 "False positive blocking scripts"
Scripts loaded after the main `load` event are considered as blocking if they are prefetched in the head.

It is exemplified in [this gist](https://gist.github.com/EnoahNetzach/065ed2d2a9113997c5361e838cbd314a), where in the document's head a
[code]
tag is present and at the end of the body the preloaded script is added by
[code]

(Opened after https://github.com/google/WebFundamentals/issues/4694

[2017-06-14 20:17] patrickhulce commented on #2502
Hm we didn't do the same handling for scripts that we did for links since `defer` and `async` make it a much less common use case. What's the primary benefit of this method over marking as async?

[2017-06-14 21:11] samccone commented on #2497
I will investigate how we can better handle this.

[2017-06-14 21:18] pedro93 commented on #2497
May I suggest trying to rename the chrome-launcher files to index and changing accordingly in the package.json?

[2017-06-14 21:49] samccone commented on #2497
The primary consumption point of this module is going to be javascript so we can not change that bit, however renaming to index.ts might end up fixing the problem as well. ~investigation needed~

[2017-06-15 02:46] gwuhaolin opened #2503 "handle "Google Chrome quit unexpectedly""
Sometime Chrome quit unexpectedly or has no response, chrome-launcher should handle this error and restart a chrome or emit a event to notify developer.

[2017-06-15 10:31] EnoahNetzach commented on #2502
It's that I can chain multiple script loads, having control over the request order.

[2017-06-15 11:47] serendipitist opened #2504 "Extension Error: Invalid string length"
**Lighthouse Version**: 2.1.0
**Chrome Version**: 59.0.3071.86
**Initial URL**: https://beta.thequint.com/
**Error Message**: Invalid string length
**Stack Trace**:
[code]

[2017-06-15 11:57] richgps commented on #2501
Thanks - the same error is thrown in `axe-core`!

I have submitted the issue here: https://github.com/dequelabs/axe-core/issues/361

[2017-06-15 12:36] devrelm commented on #1773
I'd like to ask that this be revisited. I'm using chrome-launcher in a typescript project, but am getting errors because the d.ts files are not included. It should be a fairly simple change to the tsconfig and package.json to make sure that those are produced and published — I'm more than willing to put in a PR (in fact, I'm in the process of forking & cloning the repo as we speak).

[2017-06-15 12:47] abdonrd commented on #2077
Totally in favor of this issue! 👍

[2017-06-15 12:58] karl-sjogren opened #2505 "Audit error: Required Accessibility gatherer encountered an error when using almond.js"
We are using https://github.com/requirejs/almond in our builds instead of the whole requirejs package and this seems to break lighthouse accessibility tests. I've tried it both via the node package and via the Audit tab in Chrome Developer Tools.

    lighthouse https://bibliotek.jonkoping.se/

The result is a 0 score for accessibility and all tests have failed with the below message:

    Audit e

[2017-06-15 13:27] gbowman2013 opened #2506 "Performance inconsistent"
Multiple tests return performance scores with wide variations in the same environment. I have attached JSON files (renamed .txt)  demonstrating the issue:

1) Overall performance of 39 (ccserving.com_2017-06-15_08-04-34.json)
[ccserving.com_2017-06-15_08-18-20.json.txt](https://github.com/GoogleChrome/lighthouse/files/1077739/ccserving.com_2017-06-15_08-18-20.json.txt)

2) Overall performance scor

[2017-06-15 14:18] samccone commented on #1773
Hey @devrelm so, you can directly require the typescript code for the launcher (no need for d.ts), will this work for you?

[code]

[2017-06-15 14:22] samccone commented on #2497
Going to close this issue as working as intended. we can follow up with investigation around easier typescript requires.

[2017-06-15 14:22] #2497 closed

[2017-06-15 15:56] aseem2625 commented on #2387
@patrickhulce What you're saying is correct, however the error message shown isn't correct. It showed me that `user-scalable=no` is not there even when it was there.

[2017-06-15 16:03] homerjonathan commented on #2439
Agreed

[2017-06-15 16:22] ev1stensberg opened #2507 "Suggestion: Don't check for url twice, move the check to entry in core"
Doing some digging and found this:

https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/index.js#L32

and later this

https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/gather/gather-runner.js#L323

Can we move the check to `lighthouse-core/index` instead?

[2017-06-15 17:39] paulirish opened #2509 "register `chrome-debug` binary from chrome-launcher module?"
we currently register the global binary on a global install of lighthouse. should we also expose it in launcher's `bin`?

and how do we handle both packages conflicting with the name.

@samccone any thoughts?

[2017-06-15 17:53] samccone commented on #2509
+1

[2017-06-15 17:57] patrickhulce commented on #2387
@aseem2625 yes, right now *all* audit descriptions are consistent in that they tell you the state you *should* be in, not the state that you *are* in. There has been a lot of confusion around this though, and #2418 will change this to have the behavior you're expecting.

[2017-06-15 20:24] paulirish commented on #2507
the comment  in index points out the relationship there...  /index isn't used by the chrome extension or devtools build.

but perhaps it'd be fine to nuke the check in `/index` and keep the gather-runner one.

[2017-06-15 21:40] patrickhulce commented on #2502
I see, and the script elements need to be appended to the head, not the body?

[2017-06-15 21:44] patrickhulce commented on #2505
This seems to be an issue with [axe](https://github.com/dequelabs/axe-core) interacting with your site. Would you mind filing this issue upstream?

I get this stack trace when just trying to run axe on your site without Lighthouse
[code]

[2017-06-15 22:04] patrickhulce commented on #2506
@gbowman2013 that first load looks like it was significantly different from the second load (it looks like the run ended prematurely, TTCI failed to compute which results in an automatic 0 and EIL is incredibly high suggesting there was not very much idle time after the first paint).

We'd really need the traces demonstrating the failure (the 39 in your example) to say more. You can collect a trac

[2017-06-15 22:11] devrelm commented on #1773
@samccone Yeah, that'll work. Another alternative could be renaming `chrome-launcher.ts` to `index.ts`, or (to not break backwards compatibility with people already implementing your solution)  create a separate `index.ts` containing:

[code]

Then update "main" in the `package.json` to point to index.js and everything _should_ work, at least for those who have their tsconfig set up with `"moduleR

[2017-06-15 22:16] patrickhulce opened #2510 "Move download-chrome.sh to chrome-launcher and make easily callable"
At one point we published the `download-chrome.sh` script with lighthouse that was handy for downstreamers to use when running in CI. It might be a nice feature of chrome-launcher to provide a similar mechanism to download/install chrome cross platform as well.

[2017-06-15 22:20] EnoahNetzach commented on #2502
That's not important, in facts the fastest solution was to change that.
I'm opening this issue just to notify it 😉

[2017-06-15 23:06] patrickhulce opened #2511 "Move `evaluateAsync` calls to content scripts"
A new protocol method `createIsolatedWorld` [landed in 59](https://chromium.googlesource.com/chromium/src/+blame/6ebcb95f8c4fadb29b69d2fbcbf8c964974e76aa/third_party/WebKit/Source/core/inspector/browser_protocol.json#535) that creates an execution sandbox that we can use to isolate ourselves from the page mucking with natives.

This should allow us to remove the `cacheNatives` method in driver and

[2017-06-15 23:09] patrickhulce commented on #2502
gotcha thanks for the report! :)

[2017-06-15 23:58] patrickhulce opened #2512 "Lighthouse won't load URLs on subdomains if the domain starts with a blocked pattern"
Repro: Try running lighthouse against http://2015.cssconf.com.au/

Issue comes from our use of blockedUrlPatterns which [does not support full string matching](https://cs.chromium.org/chromium/src/third_party/WebKit/Source/core/inspector/InspectorNetworkAgent.cpp?type=cs&l=107)

We can workaround by disabling the URL pattern blocking if the main URL matches any of the patterns

[2017-06-16 01:21] paulirish commented on #1773
since folks have run into this twice in two days, i think doing the above makes sense. that work for you, @samccone?

[2017-06-16 01:47] benschwarz commented on #2512
I'd love to see this end up being an improvement to blockedUrlPatterns 😢

[2017-06-16 01:55] ev1stensberg commented on #2507
Gotcha, want me to send a PR?

[2017-06-16 02:00] ev1stensberg commented on #2387
Just correcting @patrickhulce with a minor comment: New patch on this is at #2478 , as the prev branch had some rebasing issues

[2017-06-16 08:19] ngzhian commented on #2214
Hi! Thanks for the feedback, this should be fixed in [0.0.7](https://chrome.google.com/webstore/detail/chromelens/idikgljglpfilbhaboonnpnnincjhjkd), please update the extension.
If you still see this error can you please let us know which website you are running ChromeLens on, thanks!

[2017-06-16 08:21] ngzhian commented on #1705
Hi @XhmikosR , thanks for reporting this. This is now fixed in [0.0.7](https://chrome.google.com/webstore/detail/chromelens/idikgljglpfilbhaboonnpnnincjhjkd), please update the extension. I have just tried it on your website, https://xhmikosr.github.io/greek-vat-calculator/, and the issue is not longer there. Let me know if this is still a problem, thanks!

[2017-06-16 09:25] XhmikosR commented on #1705
@ngzhian: thanks! Now it indeed works.

[2017-06-16 09:25] #1705 closed

[2017-06-16 12:26] wibblymat opened #2514 "Perceptual speed index not working well for animated content"
I've written an app that, on first load, shows a full screen video that is being fed by getUserMedia.

If I stick something over my camera I get a good score for perceptual speed index (1.3s), whereas if I run LH while the camera is uncovered and I'm waving my hands about, I get bad scores (4.7s is my worst)

Clearly the test is not measuring anything useful in this case and I wonder if it can be

[2017-06-16 15:55] ebidel commented on #2514
Is this a flaw of the metric? I've seen similar issues on sites that have a continuous animation in the background (or a video). The I/O 2016 is an example where [SI gets pushed out](https://www.webpagetest.org/video/compare.php?tests=170616_HK_595b68590e189a63b214829b8663ae8a-r:1-c:0) b/c the animation keeps changing. WPT never sees the page as "visually complete".

[2017-06-16 16:01] wibblymat commented on #2514
Yes, I think it's a flaw in the module that is being used. I *think* it screenshots the page at intervals and waits for the difference between consecutive screenshots to be small.

[2017-06-16 16:23] paulirish commented on #2497
the #2513 fix is shipped in chrome-launcher@0.1.3

[2017-06-16 16:24] paulirish commented on #1773
@devrelm the #2513 fix is shipped in chrome-launcher@0.1.3
thx very much for the suggestion!

[2017-06-16 16:49] paulirish opened #2515 "Audit: costly Image Decodes"
https://stats.yarnpkg.com/ loads quick but has surprisingly high "Composite Layers" cost. But as it turns out, it's just stalled in Composite Layers as it waits for an "Image Decode" in the raster threads to finish:
![image](https://user-images.githubusercontent.com/39191/27235581-1e33aff2-5276-11e7-96c6-b28084ba2191.png)

The root issue here is that the image is shipped as 5000px wide, but only s

[2017-06-16 17:20] paulirish opened #2516 "Write metric primer: First Contentful Paint"
We need some documentation of these metrics and it makes sense for us to maintain them.  We'll start with FCP and then expand to the others: FMP, pSI, TTFI, TTCI.

TOC strawman:

* what user perceived event it's trying to identify
* how it's implemented
* strengths and weaknesses
* changelog / metric history
* availability in JavaScript/RUM
* availability in other tools

[2017-06-16 17:28] patrickhulce commented on #2514
Yes this is a critical flaw of all metrics (SI and PSI) using a single target frame as the "ideal" or "idle" state and judging progress toward that frame. There are some other critical problems with PSI discussed over in speedline like https://github.com/paulirish/speedline/issues/52 and https://github.com/paulirish/speedline/issues/50. Plenty of work to do here :)

[2017-06-16 17:32] patrickhulce commented on #2515
We'll also have to figure out how to handle the runtime + download cost surfacing case for the parse/compile impact of unused JS.

[2017-06-16 17:47] paulirish commented on #2471
both added.

[2017-06-16 17:47] #2471 closed

[2017-06-16 19:35] two7sclash commented on #73
still seeing this too, running lighthouse on heroku.

[2017-06-16 19:45] mjpuser commented on #2505
I am seeing a different error, but accessibility tests are all broken:

[code]
[code]

Notice they all say `Cannot read property 'push' of undefined`

[2017-06-16 19:47] ebidel commented on #2505
@mjpuser can you post the URL of your site?

[2017-06-16 19:57] mjpuser commented on #2484
@ebidel aweber.com

[2017-06-16 21:14] wardpeet commented on #2190
#2236

[2017-06-16 21:19] wardpeet commented on #2224
i believe this is fixed

[2017-06-16 21:19] #2224 closed

[2017-06-16 23:15] paulirish commented on #73
@two7sclash evaluate this after lighthouse is required:

[code]

sorry for this, guys.

[2017-06-17 00:40] RandomDude777 opened #2522 "Internal Blob URL usage showing as insecure URL"
https://i.imgur.com/0sP5s1H.png

[2017-06-17 00:45] #2522 closed

[2017-06-17 00:46] RandomDude777 commented on #2522
Closed due to duplicate (sorry)

[2017-06-17 01:03] RandomDude777 opened #2523 "Audit bug: Blob urls being flagged as insecure"
Bit of a difficult one to explain this one.. When a read from it shows as insecure in the audit, I don't seem to be able to properly explain this as the blob is secure....

https://i.imgur.com/0sP5s1H.png

[2017-06-17 01:27] ebidel commented on #2523
Interesting. This should have been addressed in https://github.com/GoogleChrome/lighthouse/commit/0d0e93f3458488a5155ea0d5b4bf280f4b0f1255.

What version of LH are you using?

[2017-06-17 01:33] brendankenny commented on #2157
fixed in #2255 (and various docs additions since then)

[2017-06-17 01:33] #2157 closed

[2017-06-17 01:34] brendankenny commented on #941
fixed over the several PRs mentioned above

[2017-06-17 01:34] #941 closed

[2017-06-17 02:01] RandomDude777 commented on #2523
Latest, I just updated 2 hours ago, It's also confusing me, the blob is read over TLS as I've confirmed manually. I post the blob for later use.

https://i.imgur.com/YiTsQsz.png

[2017-06-17 07:38] pgsgoossens opened #2524 "DevTools Error: Unable to load the page: timeout reached"
**Initial URL**: chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/remote.html

[2017-06-17 15:23] pgsgoossens opened #2525 "Extension Error: Cannot access contents of the page. Extension manifest must"
**Lighthouse Version**: 2.1.0
**Chrome Version**: 61.0.3132.0
**Initial URL**: view-source:chrome-extension://akdgnmcogleenhbclghghlkkdndkjdjc/linkinfo.html?id=e8b97e2a876941dc590bce68bd81e921
**Error Message**: Cannot access contents of the page. Extension manifest must request permission to access the respective host.
**Stack Trace**:
[code]

[2017-06-17 16:08] westy92 opened #2526 "Release logger as its own module"
As mentioned in https://github.com/GoogleChrome/lighthouse/pull/2358#issue-231228347, "I vote that we pull out logger into a standalone module to consume to in both lighthouse and in launcher."

Currently `chrome-launcher` is pulling in the entirety of `lighthouse` just to use the logger.

The dependency is [here](https://github.com/GoogleChrome/lighthouse/blob/c20b28500d692393b8c4c32542c4471921a0

[2017-06-17 18:36] paulirish commented on #2526
@westy92 yah that sounds awesome.  Do you want to help with this?

We can pull it to a top level folder.  And a package.json with the name 'lighthouse-log'.
May not be too bad, actually.

[2017-06-17 18:39] paulirish commented on #2526
`html-pdf-chrome` looks great btw!

[2017-06-17 18:49] westy92 commented on #2526
@paulirish I'd be able to do all the things you described, but I would need help publishing it to npm.
Thanks!

[2017-06-18 12:10] wardpeet commented on #2525
@pgsgoossens can you tell us how you got to this url:
`view-source:chrome-extension://akdgnmcogleenhbclghghlkkdndkjdjc/linkinfo.html?id=e8b97e2a876941dc590bce68bd81e921`.

We only support real urls.

[2017-06-18 12:42] wardpeet commented on #2526
how do we feel about creating a lerna repo? Creating a monolith but seperate npm packages?

[2017-06-18 19:48] cobusk opened #2529 "DevTools Error: Unable to load the page: timeout reached"
**Initial URL**: about:blank
**Chrome Version**: 61.0.3129.0
**Error Message**: Unable to load the page: timeout reached
**Stack Trace**:
[code]

[2017-06-18 22:46] merlinpatt opened #2531 "Error: Unknown formatter: url-list"
[code]

Just got this bug after exporting and then importing from the report generated by the Chrome extension.

[2017-06-19 00:37] ebidel commented on #2531
Duplicate of https://github.com/GoogleChrome/lighthouse/issues/2338

[2017-06-19 00:37] #2531 closed

[2017-06-19 07:20] kamleshchandnani commented on #2523
I am also facing the same issue. Using LH CLI V2.1.0.

[2017-06-19 10:05] #2447 closed

[2017-06-19 10:51] miquelmasrieramrf opened #2532 "Lighthouse does not finish"
* **Lighthouse Version**: 2.1.0
* **Chrome version**: 59.0.3071.104
* **url**: https://www.davidemaggio.it/
* **Error message**: none
* **Stack trace**: none

lighthouse is not triggering any error, but it does not finish.
using CLI + verbose it gets stuck at `Runtime.evaluate +1ms {"expression":"(function wrapInNativePromise`

[2017-06-19 13:06] kevinfarrugia opened #2533 "Gulp recipe does not support lighthouse 2.0"
Following the changes to Lighthouse 2.0, the gulp recipe (`/docs/recipes/gulp`) is outdated.

Created a fork with the required changes: https://github.com/IncredibleWeb/lighthouse/tree/feature/update_gulp_recipe_lighthouse_2.0

[2017-06-19 15:05] ithinkihaveacat opened #2534 "Viewer fails to load JSON"
The [Lighthouse viewer](https://googlechrome.github.io/lighthouse/viewer/) fails to load the attached JSON (generated via Chrome Canary).

The actual error is also not really visible.

![screen shot 2017-06-19 at 4 02 03 pm](https://user-images.githubusercontent.com/51244/27291729-07897ba2-5509-11e7-8d73-b2cf1f52d98d.png)

[weather.com-20170619T135231.json.txt](https://github.com/GoogleChrome/ligh

[2017-06-19 15:13] ebidel commented on #2533
Good catch @kevinfarrugia. Interested in submitting a PR?

[2017-06-19 15:14] ebidel commented on #2534
Viewer 2.0 is tracking here: https://github.com/GoogleChrome/lighthouse/issues/2338

[2017-06-19 15:14] #2534 closed

[2017-06-19 15:16] ebidel commented on #2529
Dupe of https://github.com/GoogleChrome/lighthouse/issues/2362

[2017-06-19 15:16] #2529 closed

[2017-06-19 15:17] ebidel commented on #2524
Lighthouse cannot test internal urls or `chrome-extension://` urls.

[2017-06-19 15:17] #2524 closed

[2017-06-19 15:33] ithinkihaveacat commented on #2338
Is there any way to get the LH 1.x format JSON, so it can be shared via the viewer?

[2017-06-19 15:39] mixed opened #2535 "Suggestion: JavaScript Start-up Performance."
Recently I have read a [awesome article](https://medium.com/reloading/javascript-start-up-performance-69200f43b201) of @addyosmani that improve page loading speed. This article suggest to some practices.
- **Heavy script should be running in Script Streaming thread**
  - I could find scripts that runs on Script Streaming thread in tracing data.
- **Heavy script should split unused code**
  - I cou

[2017-06-19 15:40] vynsynt opened #2536 "DevTools Error: Unable to load the page: timeout reached"
**Initial URL**: about:blank
**Chrome Version**: 61.0.3135.0
**Error Message**: Unable to load the page: timeout reached
**Stack Trace**:
[code]

[2017-06-19 15:49] kevinfarrugia commented on #2533
Submitted https://github.com/GoogleChrome/lighthouse/pull/2537

[2017-06-19 16:07] ebidel commented on #2536
Dupe of https://github.com/GoogleChrome/lighthouse/issues/2362

[2017-06-19 16:07] #2536 closed

[2017-06-19 16:09] ebidel commented on #2293
- [ ] https://www.davidemaggio.it/ fails to finish.

- large number of network requests: ~300
- huge number of DOM nodes: 11,180 to be precise. Lighthouse spends a lot time in evaluating getEventListeners for `ExternalAnchorsUseRelNoopenerAudit` and other related audits.

[2017-06-19 16:09] ebidel commented on #2532
Couple of things I noticed about the page:
- large number of network requests: ~300
- huge number of DOM nodes: 11,180 to be precise. Lighthouse spends a lot time in evaluating getEventListeners for `ExternalAnchorsUseRelNoopenerAudit` and other related audits.

Added this site to the list of sites that give LH issues: https://github.com/GoogleChrome/lighthouse/issues/2293

[2017-06-19 17:26] ebidel commented on #2523
Found it!

[2017-06-19 18:10] patrickhulce commented on #2535
@mixed I'm already on JS code coverage which had a PR open a few months ago but was sidelined, should be coming soon :)

script streaming thread is a good boost, but as addy mentions there's not really an action to take there, so I'm not sure what our advice would be if we don't find it on the script streamer thread :/

RE: parens hack, if we can find a way to quantify the savings to them, then I'

[2017-06-19 18:49] #2523 closed

[2017-06-19 19:11] miquelmasrieramrf commented on #2532
there are a lot of nodes but we are using shadow DOM

[2017-06-19 19:22] ebidel commented on #2532
It's still worth taking a look at lazy loading markup that you don't need. The browser has to parse, layout, and perform style calculations on all of that markup.

From https://www.webcomponents.org/community/articles/web-components-best-practices:

[2017-06-19 20:31] westy92 commented on #2526
@wardpeet I don't have much experience with lerna, but that's what the [material components web team](https://github.com/material-components/material-components-web/blob/master/lerna.json) is using.

[2017-06-19 20:52] RandomDude777 commented on #2523
Kickass! Awesome work guys!

[2017-06-20 01:30] #2526 closed

[2017-06-20 01:35] paulirish commented on #2526
`chrome-launcher@0.2.0` shipped without LH as a dep.

[2017-06-20 01:45] westy92 commented on #2526
Thank you very much!

[2017-06-20 03:06] stramel opened #2542 "Check for Error before reporting"
The extension provides a way to report errors however it seems like a lot of duplicate errors are being logged. It would be cool to check for an existing error logged and possibly link to the existing error?

[2017-06-20 03:49] #2374 closed

[2017-06-20 04:11] #2533 closed

[2017-06-20 05:13] paulirish opened #2544 "Broken build: connect ECONNREFUSED"
I cleared the travis caches, which so far has revealed TWO bugs.

The first was fixed by changing our install command: #2543
The second is this issue.

Any tests that rely on connecting to the browser appear to fail right now. Example build: https://travis-ci.org/GoogleChrome/lighthouse/jobs/244797088

Screenshotting the failures:
![image](https://user-images.githubusercontent.com/39191/27317350-9

[2017-06-20 07:47] kevinfarrugia opened #2545 "Gulp lighthouse import conflicts with gulp-autoprefixer"
I have encountered a strange issue and I am unsure on how to investigate this further. When both `gulp-autoprefixer` and `lighthouse` are imported into gulp (even, if in two separate files); `autoprefixer` does not run, nor does it return any errors.

Steps to replicate:
1. `npm install`
2. Setup a gulp task which executes `gulp-autoprefixer`
[code]
3. Running `gulp styles` in the command-line sho

[2017-06-20 14:18] miquelmasrieramrf commented on #2532
Thanks a lot for checking it, and excuse me, my previous comment was not useful at all.

For the page that is giving the problem (https://www.davidemaggio.it) we are using AMP shadow DOM.
For a version of it that does not use it (https://www.davidemaggio.it/?marfeeltn=newspaperMarfeelAds) we have the same number of requests and DOM nodes, but lighthouse works fine.

So you think that using amp sha

[2017-06-20 14:30] samccone opened #2546 "lighthouse cli needs to expose test coverage metrics"
copy pasta this pattern
https://github.com/GoogleChrome/lighthouse/commit/cc5485feadc5bd228ddedc43b5d572e6b309bdf0

[2017-06-20 14:58] kevinfarrugia commented on #2545
After further investigation, the issue seems to be arising from the globals declared in `web-inspector.js` but I am not able to investigate this further.

[2017-06-20 18:29] paulirish commented on #2544
@wardpeet [has been debugging](https://user-images.githubusercontent.com/39191/27348431-e402285a-55a8-11e7-9332-0b5537a4159f.png) this basically since I reported the bug.  **what a hero.**

He's been using the  travis-ci docker image  locally to debug.

I'm posting some of his debugging notes.

-------------

The first error encountered was this:
[code]

Ward fixed that via `sudo apt-get install l

[2017-06-20 18:32] paulirish commented on #2544
fixed by #2547. 🎉 🎉 🎉 🎉

[2017-06-20 18:32] #2544 closed

[2017-06-20 18:32] wardpeet commented on #2544
Updated the comment to have
[code]

[2017-06-20 18:48] patrickhulce commented on #2544
awesome job hunting this down @wardpeet! also fixes #1480 :) are we just going to run into this problem when the current chrome hits stable though? is there a crbug tracking this?

[2017-06-20 19:07] busticated commented on #2510
fwiw, it would be awesome to have something like https://github.com/Medium/phantomjs

using this, i simply add the `phantomjs-prebuilt` dependency to my package.json, `npm i` (w/ caching) in my CI env, and run tests. works great. would love to drop in a chrome-powered replacement.

[2017-06-20 19:12] patrickhulce commented on #1480
fixed by #2547 ! 🎉  moving forward we'll probably want to stick to tests that only pass in stable

[2017-06-20 19:13] #1480 closed

[2017-06-20 19:13] wardpeet commented on #2544
It could be the way it's compiled? As chrome-stable is installed through a deb file and chromium through a zip file? Not sure what the difference is though. I don't believe we have a crbug yet.

about #1480 not sure it's considered close as we didn't really closed the discussion 😛

[2017-06-20 19:16] XhmikosR commented on #1480
Cool, I'll add it in my long to-do list to update AppVeyor soon-ish

On Jun 20, 2017 22:13, "Patrick Hulce" <notifications@github.com> wrote:

fixed by #2547 <https://github.com/GoogleChrome/lighthouse/pull/2547> ! 🎉
moving forward we'll probably want to stick to tests that only pass in
stable

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view i

[2017-06-20 19:58] #2525 closed

[2017-06-20 20:22] paulirish commented on #2510
@busticated yeah true. we have no short term plans to make a production-ready `chrome-stable-prebuilt` npm package but we definitely see the value in it.

If someone wants to start working on this, we'd be happy to see that!

[2017-06-20 20:24] paulirish commented on #2544
we closed the discussion of testing stable on travis.
but in that issue you raised the idea of splitting the work in our travis matrix (i think). and doing different work (potentially with different chromes) on separate travis bots.  I think that's still open and worth considering yup!

[2017-06-20 21:10] arturmiz commented on #1723
Hi, I have come across this beginner issue, did some debugging how it can be fixed and I noticed that there are already some changes introduced with #2295. I followed the pattern and used this utility helper across audits which I think required use of it. I created a PR #2553 with my changes, now waiting for any feedback 🤓

[2017-06-20 21:53] #2546 closed

[2017-06-20 21:59] paulirish opened #2556 "Launcher ECONNREFUSED flake"
This is a bit of carryover from #2544. It was failing 100% of the time and now its more like 5%.

Example build: https://travis-ci.org/GoogleChrome/lighthouse/jobs/245116083
![image](https://user-images.githubusercontent.com/39191/27357770-7058a968-55c8-11e7-8ffe-701d879fcd06.png)

Things to note:

* Last night, this error thrown for EVERY chrome launch, like all smokehouse runs. After ward's fix

[2017-06-20 23:16] paulirish opened #2558 "Kill the codecov PR comments"
Yes they got annoying pretty quick. :)

3 hrs ago i added a `.codecov.yml` [to master](bfcbc302cb3598c79ce9564993972eeb531bd2ff) with this:

[code]

It seems to have been ignored so far.

I did validate the yaml with this command:
[code]

And it's definitely valid.

I'm awaiting their team to respond on this chat:
![image](https://user-images.githubusercontent.com/39191/27360007-bbbdfdc6-55d3-11e7

[2017-06-20 23:19] paulirish commented on #2558
Oh and it's still posting comments on branches that were created with this YAML file in place, so it's not a problem of older branches. :/

[2017-06-21 04:52] wardpeet commented on #2556
not sure it's relevant but in smokehouse we have
[code]

just a sidenote on smoke tests we add a delay of 0.5s which maybe gives travis some extra room to breath between runs?

[2017-06-21 04:53] wardpeet commented on #1702
Fixed on master

[2017-06-21 04:53] #1702 closed

[2017-06-21 06:26] stevepeak commented on #2558
The path of `.codecov.yml` was not being picked up. I'll look into why, but I've fixed this for your project. Thanks

[2017-06-21 09:29] ispysoftware opened #2559 "DevTools Error: Unable to load the page: net::ERR_FAILED"
**Initial URL**: https://www.ispyconnect.com/monitor/app/summary
**Chrome Version**: 60.0.3112.32
**Error Message**: Unable to load the page: net::ERR_FAILED
**Stack Trace**:
[code]

[2017-06-21 09:42] ispysoftware commented on #2559
my fault, missing file in manifest

[2017-06-21 09:42] #2559 closed

[2017-06-21 14:10] mixed commented on #2535
@patrickhulce
Thank you for your response.

Ah.. I didn`t know you were working on code coverage. 👏

It only works in the script streaming thread if the size of the script is [over 30kb](https://cs.chromium.org/chromium/src/third_party/WebKit/Source/bindings/core/v8/ScriptStreamer.cpp?dr=CSs&l=325). So in my opinion, if you show which scripts do not parse in the script streaming thread, the develo

[2017-06-21 14:27] tomasbatto commented on #2292
Hi! I don't know if my issue belongs here, but I'm having a similar issue.
When I don't set the --no-headless flag, a Chrome window opens but it's not possible to actually view the navigation inside it. I'm connecting to it using https://github.com/cyrus-and/chrome-remote-interface and navigating to different websites using the protocol, but All I can see is the "about:blank" page while the naviga

[2017-06-21 14:47] samccone commented on #2292
@tomasbatto would you be able to post an example of your code to reproduce this?

[2017-06-21 16:09] kenyk7 opened #2560 "Extension Error: Protocol error (Tracing.end): Unknown debugger protocol erro"
**Lighthouse Version**: 2.1.0
**Chrome Version**: 59.0.3071.104
**Initial URL**: https://hn.nuxtjs.org/new
**Error Message**: Protocol error (Tracing.end): Unknown debugger protocol error.
**Stack Trace**:
[code]

[2017-06-21 18:22] patrickhulce commented on #2268
no longer needed @paulirish?

[2017-06-21 18:28] #2268 closed

[2017-06-21 18:28] paulirish commented on #2268
confirm

[2017-06-21 19:45] #2558 closed

[2017-06-21 19:45] paulirish commented on #2558
thanks @stevepeak !

[2017-06-21 19:53] stramel commented on #1639
@paulirish Ping :)

[2017-06-21 20:28] patrickhulce commented on #2512
@benschwarz FYI I believe the current recommendation for complicated request blocking is to use [request interception](https://chromedevtools.github.io/devtools-protocol/tot/Network/#method-enableRequestInterception)

[2017-06-21 20:43] paulirish commented on #2512
it's possible (even likely) devtools team kills the `setBlockedURLs` protocol method completely in favor of adopting request interception.

[2017-06-21 21:37] #2532 closed

[2017-06-21 23:50] ebidel commented on #1645
Going to close this as it's pretty old.

We have some docs on CI testing [here](https://github.com/GoogleChrome/lighthouse/blob/master/docs/headless-chrome.md#cli-xvfb). Also check out how to use [chrome-launcher from CI](https://github.com/GoogleChrome/lighthouse/blob/master/chrome-launcher/README.md#continuous-integration) and our [.travis.yaml](https://github.com/GoogleChrome/lighthouse/blob/ma

[2017-06-21 23:50] #1645 closed

[2017-06-21 23:51] ebidel commented on #1970
Marking as a dupe of https://github.com/GoogleChrome/lighthouse/issues/2008

[2017-06-21 23:51] #1970 closed

[2017-06-21 23:53] ebidel commented on #1932
Updated docs: https://github.com/GoogleChrome/lighthouse/blob/master/docs/headless-chrome.md

You can also use [chrome-launcher](https://github.com/GoogleChrome/lighthouse/tree/master/chrome-launcher#continuous-integration) from CI. There are instructions there for downloading chrome using LH's download-chrome.sh script.

[2017-06-21 23:53] #1932 closed

[2017-06-21 23:55] ebidel commented on #698
Closing stale issues.

Also check out https://github.com/ebidel/lighthouse-ci/blob/master/builder/Dockerfile.nonheadless for an example Dockerfile that installs Chrome and runs lighthouse.

[2017-06-21 23:55] #698 closed

[2017-06-21 23:58] ebidel commented on #1799
Is this still an issue with Lighthouse 2.1.0?

[2017-06-22 00:22] #2333 closed

[2017-06-22 01:19] benschwarz commented on #2512
Ah! That's even better. Great.

[2017-06-22 05:48] pfernandom opened #2564 "Extension Error: Invalid string length"
**Lighthouse Version**: 2.1.0
**Chrome Version**: 59.0.3071.104
**Initial URL**: http://localhost:8080/#/
**Error Message**: Invalid string length
**Stack Trace**:
[code]

[2017-06-22 08:11] EasonRen opened #2565 "DevTools Error: Protocol error (Tracing.start): Tracing is already started"
**Initial URL**: https://nicecode.win/
**Chrome Version**: 61.0.3135.4
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-06-22 09:54] alipattsev opened #2566 "Extension Error: Invalid string length"
**Lighthouse Version**: 2.1.0
**Chrome Version**: 59.0.3071.104
**Initial URL**: https://lenta.ru/
**Error Message**: Invalid string length
**Stack Trace**:
[code]

[2017-06-22 12:35] mflodin commented on #2324
Not sure if this should be part of this issue or a separate one, but I found the sizes listed under Critical Request chain very confusing. They are all listed as having the same size, and doesn't seem to match any of the actual sizes.
![screen shot 2017-06-22 at 10 35 29](https://user-images.githubusercontent.com/447959/27434151-fd654ae2-5757-11e7-8cb9-44e39ba2949d.png)
![screen shot 2017-06-22 at

[2017-06-22 12:43] pgsgoossens opened #2567 "RADIO ONLINE NOT PLAYING"
what can i do to fix this

[2017-06-22 13:27] devrelm opened #2568 "chrome-launcher missing dependencies"
It looks like installing `chrome-launcher` by itself doesn't work because it uses `mkdirp` and `rimraf`, but does not have them listed as dependencies in `chrome-launcher/package.json`.

I have a branch ready to go with a fix and will have a PR in shortly.

[2017-06-22 14:02] ithinkihaveacat opened #2570 "Detect "versioned" service workers and manifests"
Even though they're often static files, having a "versioned" service worker or manifest causes issues, especially for systems that attempt to uniquely identify PWAs. (See https://github.com/GoogleChrome/gulliver/issues/323#issuecomment-309471483, "[Avoid changing the URL of your service worker script](https://developers.google.com/web/fundamentals/primers/service-workers/lifecycle#avoid_changing_t

[2017-06-22 15:52] ebidel commented on #2570
...and create an audit that warns if the site is versioning those urls?

Is there justification why https://github.com/GoogleChrome/gulliver/issues/323#issuecomment-309471483 is necessarily a bad thing? Perhaps a technical reason, other than being able to uniquely identify a PWA?

[2017-06-22 15:54] ebidel commented on #2567
📻 🚫 ⏯

[2017-06-22 15:54] #2567 closed

[2017-06-22 15:55] ebidel commented on #2565
Dupe of https://github.com/GoogleChrome/lighthouse/issues/2457

[2017-06-22 15:55] #2565 closed

[2017-06-22 16:23] #2568 closed

[2017-06-22 16:26] ebidel commented on #2566
Hi, I wasn't able to repro this using Lighthouse 2.1 from the CLI or the extension. Can you help us with steps to reproduce the error?

[2017-06-22 16:34] alipattsev commented on #2566
The usual:
1) Open page
2) Launch "Generate report" through Chrome extension
3) Get error

I can't repro it now either, so it looks like a one-off, but no idea what caused it.

[2017-06-22 17:42] patrickhulce commented on #2324
hey @mflodin thanks for the report! that's definitely a separate bug :) mind filing a new issue to track it?

[2017-06-22 17:43] patrickhulce commented on #2504
dupe of #1685

[2017-06-22 17:43] #2504 closed

[2017-06-22 17:43] patrickhulce commented on #2421
dupe of #1685

[2017-06-22 17:43] #2421 closed

[2017-06-22 17:43] patrickhulce commented on #2564
dupe of #1685

[2017-06-22 17:43] #2564 closed

[2017-06-22 17:44] patrickhulce commented on #2566
likely happened on a run that was particularly long/slow, dupe of #1685

[2017-06-22 17:44] #2566 closed

[2017-06-22 19:05] gkalpak commented on #1175
So, assuming one wants to run lighthouse against a local build without HTTPS support and get results that are as close as possible to production, what is the recommended way/work-around? Currently, we would lose several points due to the `redirects-http` check and are working around it by [setting the weight to 0] (which feels more hacky than necessary 😟).

Any suggestions/insights?

[1]: https://

[2017-06-22 19:22] ebidel opened #2572 "Document config file options"
We  don't have proper docs on what you can do in a config. Best we have is the [example config](https://github.com/GoogleChrome/lighthouse/blob/master/docs/recipes/custom-audit/custom-config.js) recipe.

For example, `skipAudits` is being added but no one will know about it :(

@patrickhulce do you want to take this one? You're Mr. Config.

[2017-06-22 19:28] ebidel commented on #1175
@gkalpak when https://github.com/GoogleChrome/lighthouse/pull/2539 lands you'll be able to easily skip audits by writing a custom config. Extend the LH config to run all the audits, but filter out the ones you don't care about.

config-dev.js:

[code]
Use it:
[code]

Would that work for dev?

cc @patrickhulce

[2017-06-22 20:51] gkalpak commented on #1175
Sounds great! Thx, @ebidel
(fyi @filipesilva)

[2017-06-22 21:06] patrickhulce commented on #2572
ya I can take this :)

[2017-06-22 21:25] helloaliceoh opened #2573 "Extension Error: Protocol error (Tracing.start): Tracing is already started"
**Lighthouse Version**: 2.1.0
**Chrome Version**: 58.0.3029.110
**Initial URL**: http://nginx.org/
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-06-22 22:04] ebidel commented on #2573
Dupe of https://github.com/GoogleChrome/lighthouse/issues/2457

[2017-06-22 22:04] #2573 closed

[2017-06-22 22:55] #2338 closed

[2017-06-22 23:30] brendankenny commented on #1757
we no longer have this style of error log in the current viewer

[2017-06-22 23:30] #1757 closed

[2017-06-22 23:36] #1607 closed

[2017-06-23 03:53] kimixu717 opened #2576 "'Unable to retrieve manifest' when manifest file is available and valid"
https://pwa.banggood.com/manifest.json
Audit error: Required StartUrl gatherer encountered an error: Unable to retrieve manifest at https://pwa.banggood.com/manifest.json.

Lighthouse shows this error, but this json file is avaliable and it is a valid json file. We can't fix this error ,so help me fix it.

[2017-06-23 08:27] Intechov opened #2577 "Extension Error: Protocol error (Tracing.start): Tracing is already started"
**Lighthouse Version**: 2.1.0
**Chrome Version**: 59.0.3071.86
**Initial URL**: http://co2us.com/lp/tpl1/operator.html?appId=55&countryId=127
**Error Message**: Protocol error (Tracing.start): Tracing is already started
**Stack Trace**:
[code]

[2017-06-23 09:28] ithinkihaveacat commented on #2570
I can't think of any strong reasons for not versioning service workers and manifests apart from making it easier to uniquely identify PWAs, though @slightlyoff may have some thoughts.

(I guess one argument is similar to the reason we don't version regular HTML pages. HTML pages are at the root of the dependency graph and know about all mutual dependencies, and so they're able to include the exact

[2017-06-23 13:44] samdutton opened #2578 "Video audit: check for correct aspect ratio"
The aspect ratio of a video should match the aspect ratio of a video element used to play it, even if the dimensions are different.

Test by comparing video.videoWidth/video.videoHeight with video element  clientWidth/clientHeight.

Need to ensure video loadedmetadata event has fired before testing.

[2017-06-23 13:56] samdutton opened #2579 "Image audit: check for correct aspect ratio"
The aspect ratio of an image element should match the aspect ratio of the image displayed, even if the dimensions are different.

Test by comparing `img.naturalWidth`/`img.naturalHeight` with `img` element `clientWidth`/`clientHeight`.

Need to ensure image element `load` event has fired before testing.

[2017-06-23 14:00] samdutton opened #2580 "Video audit: too large or too small for display dimensions"
Check if the display dimensions of a video element are considerably larger or smaller (say 2x) than the encoded dimensions of the video played in it.

Test by comparing video element `videoWidth` against `clientWidth`.

Need to ensure video `loadedmetadata` has fired before testing.

[2017-06-23 14:16] samdutton opened #2581 "Media audit: check that server supports range requests"
Range requests are required for smooth media playback performance and scrubbing. Range requests are supported by default by most servers, but there may be misconfiguration (e.g. by a hosting service) that means they're turned off.

If a page has an audio or video element, check that range requests are supported by the server serving the media.

To test, make a head request for a media resource loa

[2017-06-23 14:25] samdutton opened #2582 "Video audit: check for excessive dropped frames"
If a page includes a video element, video should be played back without missing out frames.

For a video element, `webkitDroppedFrameCount` measures the number of frames that have been decoded by not displayed. This should generally be zero.

To test, play a video served on the page and check `webkitDroppedFrameCount` after (say) 10 seconds.

Advice: warn if non-zero and suggest that the resolutio

[2017-06-23 14:37] dengm129 commented on #2581
Sam Dutton <notifications@github.com>于2017年6月23日 周五下午10:16写道：

--
邓猛

[2017-06-23 14:38] samdutton opened #2583 "Media audit: check for excessive seek time"
To check, start playback of a video, set a non-zero `currentTime` towards the end of the video, then check the interval between `seeking` and `seeked` events — or (more accurate) check the interval between the `seeking` event and when `currentTime` is greater than the seeked-to time.

Warn if the seek time is greater than (say) two seconds.

[2017-06-23 14:47] samdutton opened #2584 "Media audit: check that every media source element has a valid type attribute"
Every audio and video source element should have a valid type attribute.

The type attribute allows the browser to select a media source without downloading media to test if the format is supported. To see this in action, compare network activity for [simpl.info/video/noautoplay](https://simpl.info/video/noautoplay) with [simpl.info/video/notype](https://simpl.info/video/notype).

To test, check t

[2017-06-23 14:58] samdutton opened #2585 "Media audit: check that encoding matches filename extension and type attribute"
To test, check that the encoding for every video or audio file matches the file extension and/or source type attribute.

[2017-06-23 15:04] samdutton opened #2586 "Image audit: check for animated GIFs that could be videos"
Video with muted autoplay can often be used instead of an animated GIF.

If an image element is found with GIF src (over, say, 20KB in file size) give a warning, something like: 'It appears that you might be using an animated GIFs. Consider using a video (with autoplay muted) instead.' If possible, link to video version of animated GIF and advice on transcoding.

[2017-06-23 15:22] ebidel commented on #2577
Dupe of #2547

[2017-06-23 15:22] #2577 closed

[2017-06-23 15:24] ebidel commented on #2578
Dupe of https://github.com/GoogleChrome/lighthouse/issues/2579

[2017-06-23 15:24] #2578 closed

[2017-06-23 15:26] dengm129 opened #2587 "Title"
Connect

[2017-06-23 15:26] dengm129 commented on #2587
#2587

[2017-06-23 15:26] #2587 closed

[2017-06-23 15:30] samdutton commented on #2578
#2579 is for images, this one's for video :).

[2017-06-23 15:59] samdutton opened #2588 "Video audit: check for source formats"
Video can be played back in all browsers that support the video element by using an MP4 src (i.e. [over 99% of browsers](https://caniuse.com/#search=mp4)).

Anything else (or WebM without MP4 fallback) is probably a mistake.

Check video elements:
• without source elements and with a single video element src that is not MP4
• with one or more source elements but no source element with an MP4 src
•

[2017-06-23 18:04] patrickhulce commented on #2576
This seems to happen because the manifest is not retrievable when there is no network connection.

@wardpeet this seems like a bug, but was this the intended behavior? I seem to remember a discussion around this

[2017-06-23 19:12] Kyle-Lowe opened #2589 "Extension Error: You must provide a url to the runner"
**Lighthouse Version**: 2.1.0
**Chrome Version**: 58.0.3029.110
**Initial URL**: https://localhost:9001/catalog
**Error Message**: You must provide a url to the runner
**Stack Trace**:
[code]

[2017-06-23 19:22] hugues-koolsol opened #2590 "DevTools Error: Unable to load the page: timeout reached"
The bug happens in the test where the page is loaded with javascript disabled.

**Initial URL**: https://www.koolsol.com/?lang=fr
**Chrome Version**: 61.0.3139.0
**Error Message**: Unable to load the page: timeout reached
**Stack Trace**:
[code]

[2017-06-23 21:43] brendankenny commented on #1670
I believe none of this is still in either bundle, except for the non-minified report renderer sources. I'm going to close this issue in favor of #2014 which captures that.

[2017-06-23 21:43] #1670 closed

[2017-06-23 21:54] brendankenny opened #2591 "Possible Viewer 2.0 Improvements"
- Reduce asset sizes:
   * [ ] Minify or dedupe report renderer js, css, and templates (included twice, for report rendering but also in a browserified bundle of [`ReportGenerator`](https://github.com/GoogleChrome/lighthouse/blob/20539ed84dff4a9aa99c4390b32f51940f0fe453/lighthouse-core/report/v2/report-generator.js#L11-L21) for html saving). Minifying just the JS before inlining would save about 7

[2017-06-23 21:54] brendankenny commented on #1569
Closing in favor of #2591 tracking issue

[2017-06-23 21:54] #1569 closed

[2017-06-23 21:55] brendankenny commented on #1552
Closing in favor of #2591 tracking issue

[2017-06-23 21:55] #1552 closed

[2017-06-24 11:38] ragingwind opened #2594 "Launcher: Export a new option to toggle `disable-extensions`"
Nowadays, `disable-extensions` is a default flag that doesn't allow me have a test for extension app. It might be useful that user can turn on / off the flag vi an option from outside when to test a chrome extension with lighthouse/chrome-launcher. I usually use a chrome while extension testing like this

[code]

[2017-06-24 16:10] ebidel commented on #2594
Does chromeFlags cover your use case?

https://github.com/GoogleChrome/lighthouse/blob/master/chrome-launcher/README.md#launch-options

[2017-06-24 19:15] hugues-koolsol commented on #2590
Cannot reproduce today!

[2017-06-24 19:15] #2590 closed

[2017-06-24 21:52] ragingwind commented on #2594
No, it doesn't work well. `disable-extensions` flag might prevent to load extension following flags `--load-extension=./test/extension`

[2017-06-26 02:52] kimixu717 commented on #2576
@patrickhulce . Lighthouse report error is not because network error,  you can test www.pwa.banggood.com , it just report 'Unable to retrieve manifest', but you can open 'https://pwa.banggood.com/manifest.json' in the meantime

[2017-06-26 04:08] paulirish commented on #2594
hah. turns out we predicted this was coming. :)

https://github.com/GoogleChrome/lighthouse/pull/916#issuecomment-310222563

thanks for filing, @ragingwind! (and for creating chrome-launcher-cli!!)

maybe we expose a `enableExtensions` option on launcher? that seems pretty ok

[2017-06-26 05:08] mikestead opened #2595 "Service Worker Enabled when JavaScript Disabled?"
We have a setup where a server render is done on initial app load and then on future visits the SW uses an app shell page instead of going to the server. We're using [sw-precache](https://github.com/GoogleChrome/sw-precache) to help here, with its `navigateFallback` option.

What we're seeing is that the Lighthouse test which disables JavaScript doesn't seem to disable the service worker, meaning

[2017-06-26 05:39] ragingwind commented on #2594
@paulirish

[2017-06-26 08:30] mflodin opened #2597 "Critical Request Chain size info is incorrect"
There seems to be some issue with the sizes listed under Critical Request Chain. They are all listed as having the same size, and don't seem to match any of the actual sizes.

Issue found in the built-in Lighthouse in Chrome Canary 61.0.3141.0  (64 bits) on Windows. Also found in Chrome Canary on OSX, but not sure which exact version.

Issue also exists in the Chrome Extension of Lighthouse (Versi

[2017-06-26 08:32] mflodin commented on #2324
@patrickhulce Done! https://github.com/GoogleChrome/lighthouse/issues/2597

[2017-06-26 12:51] scunliffe opened #2598 "Clarify on the Lighthouse home page if this tool sends any of your site data to remote servers (HIPAA/PHI violations)"
I work in the healthcare field, and as such many of the apps I work on are under tight restrictions as to who can see or collect data that is PHI (Private Health Information) etc.

As such if Lighthouse sends web page data to a remote server for processing, we can't use the service - but if it runs all of its tests locally, its fine.

Adding some clarification to the project home page as to how th

[2017-06-26 15:47] ebidel commented on #2598
Hi @scunliffe, we have a FAQ entry for this one: https://github.com/GoogleChrome/lighthouse#are-results-sent-to-a-remote-server. TLDR is everything is tested in the local browser. Nothing is sent to a remote server.

[2017-06-26 15:54] gruppjo opened #2599 "CLI option to reset cache but not storage APIs"
Hi everyone :)

I've started using lighthouse for one of our large scale Angular 2/4 apps and it's working really nicely. Thank you!

The app has authentication, cookie-layers etc... So I needed to run lighthouse with `chrome-debug` and use `--disable-storage-reset` which does [[link](https://github.com/GoogleChrome/lighthouse/blob/master/docs/readme.md#testing-on-a-site-with-authentication)]:
[co

[2017-06-26 16:10] scunliffe commented on #2598
@ebidel awesome! I'm sorry I missed that. I'll dig right into it then!

[2017-06-26 16:10] #2598 closed

[2017-06-26 17:20] patrickhulce commented on #2576
Yes, I understand @kimixu717, but Lighthouse turns off network connectivity during one of our loads of the page, and the manifest is not retrievable while we are offline (it does not appear to be cached by your service worker). This is likely our bug as it seems like we should try to fetch the manifest file while we are online.

[2017-06-26 17:25] patrickhulce commented on #2096
[Chromium issue](https://bugs.chromium.org/p/chromium/issues/detail?id=656516) from https://github.com/GoogleChrome/lighthouse/issues/2595#issue-238442619

[2017-06-26 17:25] patrickhulce commented on #2595
Hey @mikestead thanks for the report we have an issue tracking this (#2096), and it is indeed a bug.

[2017-06-26 17:59] patrickhulce commented on #2599
For a little more insight into the issue, what exact steps do you take to run Lighthouse today and which pages are you hoping to audit with a clean cache?

Current breakdown as I understand it, but perhaps your case differs

1. Login page, no auth needed (should be auditable with clean cache today)
2. Protected landing page, auth needed (not easily auditable with clean cache today)
3. Protected ne

[2017-06-26 18:16] brendankenny opened #2600 "plots-smoke flaky failures in travis"
Example log: https://travis-ci.org/GoogleChrome/lighthouse/jobs/247002163#L821

Looks like this could be the same flakiness we saw only on Travis in the main Lighthouse smoke tests when they attempt to connect to Chrome. We added a specific Lighthouse exit code for that in #922 so that [smokehouse can retry when it gets it](https://github.com/GoogleChrome/lighthouse/blob/05e928e9c7fa36fd55e71f1bc1

[2017-06-26 18:35] LucianoGanga commented on #2544
I have this problem but when running on a Linux server. I'm installing Chrome with
[code]

[2017-06-26 20:43] paulirish opened #2601 "bin.ts refactor for module usability & testing"
the bottom of bin.ts has some core functionality we want to expose. one primary usecase is to get the launch+runlighthouse+getresults flow is available to other modules (see https://github.com/addyosmani/webpack-lighthouse-plugin/issues/5)
other usecase is better tests of the CLI.. these methods arent testable as they sit in bin.ts which requires CLI interaction

----------

Here's the current sum

[2017-06-26 20:58] LucianoGanga commented on #2544
Here is more detail about the error:

[code]

[2017-06-26 21:06] paulirish commented on #2544
@LucianoGanga btw how are you getting that `From previous event` stack? That's a really useful trick..

[2017-06-26 21:08] LucianoGanga commented on #2544
I'm using PM2 to run my app on a server with clusters... It adds that extra data on it :)

Right now, I'm able tu reproduce that issue everytime I run the app in that server. so I can give access to anyone that will like to help me with the debugging. I'm running out of ideas here :(

[2017-06-26 22:04] mikestead commented on #2595
@patrickhulce Thanks for confirming and sorry for missing the existing ticket. Feel free to close this as a duplicate.

[2017-06-26 22:15] patrickhulce commented on #2595
No worries it wasn't the easiest to find :) feel free to chime in over there if you think there's anything to add

[2017-06-26 22:15] #2595 closed

[2017-06-26 23:05] LucianoGanga commented on #2462
Hi @patrickhulce !

We're having the issue again, but this time I can't even run one instance of chrome.

This is the code:

[code]

Which gives me this error:

[code]

Any ideas?

The error seems to be happening here:
[code]

Any ideas?

Thanks!
Luciano

[2017-06-26 23:33] paulirish commented on #2462
I  am able to reproduce this. here's the steps

### install travis node-js image

[code]

### setup things within the travis shell:

[code]
then create an index.js with the code from @LucianoGanga's comment above. and run:

    node index.js

[2017-06-26 23:51] paulirish commented on #2462
@LucianoGanga

you have an error in your code when you upgraded to latest chrome-launcher.

heres the launch options you want:

[code]

you may also want `--no-sandbox` in there as well.. I just ran into requiring that.

[2017-06-27 01:45] #2572 closed

[2017-06-27 05:23] LucianoGanga commented on #2462
@paulirish I feel really lame now... Sorry for the trouble!

The issue wasn't the name of the properties (I had them right in my production code), but the thing was that the "--headless" flag depended on a variable that was set to false.

It didn't cause any kind of problem in my pc, but it did in Linux through command line (still don't know why)

I'm really sorry for this, really! You can close t

[2017-06-27 13:06] gruppjo commented on #2599
Hi @patrickhulce,

### Recurring visits with empty cache
Your breakdown is pretty much what I'm trying to do :)
One one addition:

- I'm especially interested in recurring visits, on which it's likely that the user is still authenticated via cookies but the browser cache is not present anymore (e.g. browser was shut down or the site is visited again after some days of inactivity). That's where `--

[2017-06-27 18:48] kwidholm-tm opened #2604 "Lighthouse Chrome Extension hangs indefinitely and silently on "Retrieving: ResponseCompression""
When running a chrome extension lighthouse report against a site we are building, we have noticed that the extension will hang indefinitely during "Retrieving: ResponseCompression".

![screen shot 2017-06-27 at 13 10 45](https://user-images.githubusercontent.com/12515746/27604454-4e2245dc-5b47-11e7-88e0-148b0734a9a7.png)

No failure message is presented, and nothing appears in the console to indic

[2017-06-27 21:04] patrickhulce commented on #2604
@kwidholm-tm are you inspecting the extension's background script when you say "nothing appears in the console"? If not you can inspect the background script of an extension by going to `chrome://inspect/#extensions`.

[2017-06-27 21:11] kwidholm-tm commented on #2604
@patrickhulce Thank you! I didn't know about inspecting extensions, and it's very helpful.

However, inspection did not yield any further insight. I would have inspected, at least a timeout error or invalid response or dropped connection, but lighthouse hangs indefinitely at this point, and, even after an hour or two, no further output is recorded and progress does not complete:

![screen shot 201

[2017-06-27 21:27] patrickhulce commented on #2604
Pretty nifty right? :)

Hm, that is strange then, do you have this site on a publicly accessible URL somewhere we can take a look?

[2017-06-27 21:36] kwidholm-tm commented on #2604
@patrickhulce No the site is not publicly accessible. You have to be on our dev network to load it. I'll see if I can set up a temporary proxy to it and will post back here once one is set up.

In any case, this issue is not critical in that we can generate the reports from the command line just fine; it was just _nice_ to be able to use the extension.

[2017-06-27 22:51] kwidholm-tm commented on #2604
@patrickhulce It looks like I would have to whitelist a client IP temporarily in order to get you through to it. I tried using ngrok but due to application data fetching and how it is set up, that's not going to work. If you feel like looking into this and have a stable client IP I can see about temporarily allowing access.

[2017-06-27 23:45] patrickhulce commented on #2604
It's going to be tough to fix without a consistent repro on our side, if you can find another URL that also hangs or can create a reduced problem case that demonstrates the behavior let us know!

My gut says that it's an issue with `pako` which is the browser replacement we use for gzipping the content. You could start by trying to compress your resources with pako and seeing if those hang?

[2017-06-28 08:23] siteriaitaliana opened #2607 "Speed Index impacted by banner on the page"
Speed Index is impacted by the banner scrolling present on the page

[2017-06-28 08:57] fquintela opened #2608 "Extension Error: You must provide a url to the runner"
**Lighthouse Version**: 2.1.0
**Chrome Version**: 59.0.3071.115
**Initial URL**: http://mercadonatech.es/es/
**Error Message**: You must provide a url to the runner
**Stack Trace**:
[code]

[2017-06-28 09:02] benschwarz commented on #2607
@siteriaitaliana Yep. Speed index is calculated by finding a point in time where the page appeared to be 'complete'.

Animations often throw this metric off, and there isn't a lot that can be done about it pragmatically. (If you were able to disable your banner in certain contexts, you _might_ get more reliable metrics… )

Otherwise, perhaps you could consider using a metric like 'First contentful

[2017-06-28 14:23] ghost opened #2609 "chrome-launcher: Maybe add a notification on 'Close' event?"
Greetings,

So, we're doing some unit testing of an application. One of such test is to launch a Chrome instance, run some JavaScript to close Chrome. After that, we have to test whether or not the Chrome is actually closed.

In current implementation of `chrome-launcher`, it's very hard to do so because there is no callback which will indicate a passive Chrome shutdown.

However, [it seems that](

[2017-06-28 15:37] patrickhulce commented on #2589
dupe of #1834

[2017-06-28 15:37] #2589 closed

[2017-06-28 15:37] patrickhulce commented on #2608
dupe of #1834

[2017-06-28 15:37] #2608 closed

[2017-06-28 17:31] ebidel commented on #2609
cc @samccone

[2017-06-28 17:32] ebidel commented on #2607
Dupe of https://github.com/GoogleChrome/lighthouse/issues/2514

[2017-06-28 17:32] #2607 closed

[2017-06-28 17:33] ebidel commented on #2514
Should we just close this issue? The problem lies in the metric and no LH :)

[2017-06-28 17:38] brendankenny commented on #2514
I know @patrickhulce wants to keep investigating improvements, though he can comment on timescale for that. It would be nice to have a tracking bug over here, though it may make sense to open a new one with clearer title and summary of current state and what could be improved.

[2017-06-28 18:04] patrickhulce commented on #2514
Yeah I'm not sure if any immediate progress well be made on this specific problem though since speed index is so well established as a thing at this point, at best we'll come up with a variant in a new metric. It might be fine to leave this open to coalesce anyone filing issues like #2607 :)

[2017-06-28 19:42] #1723 closed

[2017-06-28 20:25] #2597 closed

[2017-06-28 20:42] #2475 closed

[2017-06-28 21:21] kaycebasques commented on #2425
@adrianblynch what's the source for "the recommended way to do this is with a `title` and/or `desc` element"?

[2017-06-28 21:29] #2385 closed

[2017-06-28 21:51] kaycebasques commented on #2214
Right, I recommend ChromeLens b/c it highlights failing elements.

How does one use aXe? Is this a DevTools extension?

I want to switch to recommending the DevTools Audits panel. Could've sworn that the references to the elements in the "View Failing Elements" table highlighted the element in the viewport on hover, and selected the element in the DOM Tree on click, but it looks like it's not work

[2017-06-28 21:51] kaycebasques commented on #2214
I see now that aXe has a DevTools extension https://chrome.google.com/webstore/detail/axe/lhdoppojpmngadmnindnejefpokejbdd?hl=en-US

[2017-06-28 21:54] kaycebasques commented on #2213
All of the a11y audits now link to the aXe docs

[2017-06-28 21:54] #2213 closed

[2017-06-28 21:55] kaycebasques commented on #1842
fixed in https://github.com/google/webfundamentals#4352

[2017-06-28 21:55] #1842 closed

[2017-06-28 21:59] patrickhulce commented on #2214
Yeah see the integration is a little flaky right now, might be a good idea to recommend aXe extension until we get a handle on it since that's really all we're surfacing atm, see https://github.com/GoogleChrome/lighthouse/issues/2289 for more background on when the highlighting fails

[2017-06-28 22:02] kaycebasques commented on #1033
looks like someone fixed it

https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/audits/webapp-install-banner.js#L41

[2017-06-28 22:02] #1033 closed

[2017-06-28 22:16] kaycebasques commented on #2289
Can repro on `theverge.com`

<img width="695" alt="screen shot 2017-06-28 at 2 45 31 pm" src="https://user-images.githubusercontent.com/4713486/27662895-b01cb98e-5c14-11e7-869a-52941743928d.png">

[2017-06-28 22:30] kaycebasques commented on #1710
thanks @hexalys I'm adding a "caution" callout to the doc with a link to your comment

[2017-06-28 22:36] kaycebasques commented on #1710
The Autoprefixer thing is mentioned in the PR above

[2017-06-28 22:36] #1710 closed

[2017-06-28 22:46] ebidel commented on #1999
Going to take this.

[2017-06-28 23:28] brendankenny opened #2612 "bug: report's userAgent is emulated userAgent"
We added [`driver.getUserAgent`](https://github.com/GoogleChrome/lighthouse/blob/fadaef95137181aa41ed44fd78f17d3a8b85a2c3/lighthouse-core/gather/driver.js#L88-L90) so that we could capture the version of Chrome we're running in, however [we're calling it *after* we've set up device emulation](https://github.com/GoogleChrome/lighthouse/blob/fadaef95137181aa41ed44fd78f17d3a8b85a2c3/lighthouse-core/g

[2017-06-28 23:42] asanchezgiraldo opened #2614 "Headless-Chrome example does not launch headless chrome"
I am running your example provided in the documentation but I am still not getting Chrome to run headless.

My config is
[code]
 Mac Sierra 10.12.5
 Chrome Version 59.0.3071.115 (Official Build) (64-bit)
 Node v6.1.0

the code is

[code]

[2017-06-28 23:47] ebidel commented on #2614
You need to pass `flags` to the launcher: `chromeLauncher.launch(flags)`. We'll update that doc :)

[2017-06-28 23:52] asanchezgiraldo commented on #2614
@ebidel now is working, thank you so much for your reply

[2017-06-28 23:59] paulirish commented on #2556
pwmetrics has had a workaround for this issue for a long time now: https://github.com/paulirish/pwmetrics/blob/2eb1266f0997050dd56435a2dac5b34dd26e1b82/lib/index.ts#L129-L154 (basically just adding retry logic. )

I've put up a proposed fix in #2603

[2017-06-29 00:10] #1798 closed

[2017-06-29 00:11] brendankenny commented on #2556
hey now, smokehouse has had a workaround for even longer :P

[2017-06-29 00:37] #2614 closed

[2017-06-29 03:23] paulirish opened #2617 "--select-chrome and --skip-autolaunch should be removed from the CLI"
They don't do anything any longer.

[2017-06-29 04:19] #1913 closed

[2017-06-29 06:37] tmeasday opened #2618 "Chrome launcher's use of rimraf causes jest tests to fail"
Quoted from https://github.com/isaacs/rimraf/issues/155 -- I think the true issue comes from lighthouse however:

[code]

...

For some reason, when lighthouse calls `rimraf`, it causes standard `fs` errors to not be `instanceof Error`. This is causing `rimraf`'s assertions to fail.

cc @piuccio

[2017-06-29 10:23] kamleshchandnani commented on #2523
when this fix will be released as part of CLI/chrome extension?

[2017-06-29 13:53] wardpeet commented on #2604
@kwidholm-tm could you copy the whole log maybe it's another command in the chain that messes it up.

Also does the lighthouse cli works?

[2017-06-29 15:07] wardpeet commented on #2586
It looks like we can do something like https://github.com/mailcharts/animated-gif-detector so we make sure it's an animated GIF.

I guess this audit should be placed under Do better web?

[2017-06-29 15:11] wardpeet commented on #2601
@paulirish should we use the projects tab maybe? Or create separate tasks (issues) for this one?

I don't mind giving this my all, not sure what timeframe you're pointing at. Or if i'm the right person to do so 😝

[2017-06-29 15:38] wardpeet commented on #2599
how do we feel about `--disable-storage-reset=<comma seperated list>`

[code]

[2017-06-29 17:30] patrickhulce commented on #2599
Oooh I like that @wardpeet, might be a bit confusing what the intention is though we'll have to make it clear that you're asking to *keep* the storages that you list there. Double negative getting confusing 😆

@gruppjo for complicated cases where you need to setup multiple storages in a particular way I'm not sure we'll get to a place where Lighthouse will have that functionality baked in, your be

[2017-06-29 17:33] patrickhulce commented on #1418
#2599 uses a combination of localStorage and cookies for auth too

Rather than trying to craft specific logic in Lighthouse it might make more sense to make the artifactless custom gatherer story a little easier and allow users to put their arbitrary setup code in the beforePass there.