[2016-03-11 20:25] paulirish opened #4 "Code style"
I think we want Blink style for the JS. What do others think?

Perhaps we can extend https://github.com/google/eslint-config-google

I'd be happy with a line length max > 110 though. :)

[2016-03-11 22:02] paulirish commented on #4
I'm a BIG proponent of an auto-formatter, too.

https://github.com/angular/clang-format is one direction we could go.. now that it does support JS.

[2016-03-11 22:14] paullewis commented on #4
I'm mostly okay with the Google style. My only pref is to stick to 80 chars. Longer than that tends to unreadable code.

[2016-03-11 23:40] brendankenny commented on #4
#5 adds base Google style eslint checking. A couple of issues to address. Biggest thing is `standard` style putting a space before the parameter list and some excess white space. I'm happy to go through the current errors and do a quick auto-fix for those.

There are a handful of things that may need some bikeshedding.

[2016-03-12 07:53] brendankenny commented on #4
Remaining eslint warnings for current code:
- [ ] [Line length](http://eslint.org/docs/rules/max-len). Maybe 100 characters is a compromise? I personally like a line limit but I don't care very much how long it is.
- [ ] [TODOs and FIXMEs](http://eslint.org/docs/rules/no-warning-comments). At first I was just going to remove this rule, but it is kind of handy to have something to nag us if we're g

[2016-03-15 01:47] brendankenny commented on #4
investigated clang-format today. For posterity's sake, you can recreate my results with something like `npm install --save-dev clang-format` (includes Win, Linux, and Mac binaries), creating a `.clang-format` file with something like:
[code]
and then run with `node_modules/.bin/clang-format -i --glob='{,./!(node_modules)/**/}*.js'`

output is...OK. It does some screwy things with object and array

[2016-03-15 14:51] paullewis commented on #4
I'd prefer sticking with something like .eslintrc, just because that's what the majority of people use. Ideally people from the community can and should contribute as they wish, and the less ... unusual the better imo.

[2016-03-15 15:35] paulirish commented on #4
Yup exactly that's where things are settling.

[2016-03-15 19:15] brendankenny commented on #4
yeah, just to be clear, the hope was to be able to configure clang-format so that it would fix violations of the exact same rules as in the .eslintrc file, so it would be an option for those who e.g. need a robot to hit  the semicolon key for them.

Looks like clang-format is too pushy on other fronts for that to work out, though.

[2016-03-16 21:42] paulirish commented on #4
* Let's proceed with line limit of 80. :)
* TODOS and FIXMEs will remain warnings. seems good.

groovy. i think we're set.

[2016-03-16 21:42] #4 closed

[2016-03-17 05:25] brendankenny opened #17 "cover functionality of "PWA validator" bookmarklet"
https://gist.github.com/PaulKinlan/ce7c707e4cb96c752816

[2016-03-17 12:27] paullewis commented on #17
@PaulKinlan FYI.

[2016-03-17 16:59] paulirish commented on #17
great work on this btw @PaulKinlan :)

the tests within it:

[code]

[2016-03-17 17:02] samccone commented on #17
another xref to a related googler project https://github.com/mounirlamouri/manifest-validator

[2016-03-17 23:00] paulirish opened #19 "audit: Network connection is secure"
Requirement: All assets served on HTTPS
Manual evaluation: Look at DevTools security panel to verify no problems, all green.

#### input:
* Use [Protocol Security domain](https://chromedevtools.github.io/debugger-protocol-viewer/Security/#event-securityStateChanged) securityStateChanged event

#### audit:
* to see if main origin is considered secure

#### when:
* page loaded and in idle state

[2016-03-17 23:03] paulirish opened #20 "Promisify the chrome-remote-interface API"
I think it'd make most sense to do this on our side. That'd also allow us to handle the err in a generalized fashion.

@brendankenny and I were discussing how this would help the ergonomics of development some so we have a unified async structure.

I'm unsure on priority of improving this vs getting a few more tests written. Thoughts?

[2016-03-17 23:12] paulirish opened #21 "audit: App can load on offline/flaky connection (phase 2)"
Currently we: 1) get all SW registrations 2) filter to to see we have any in an "activated" state.  This is good for right now, but it doesn't yet verify that offline caching provided via Service Worker
and it successfully page loads while offline. That'll be the next phase of this test.

Manual evaluation: Flip page offline via DevTools network throttling. Try it out

##### input:
* all matched S

[2016-03-17 23:25] paulirish opened #22 "artifact: parsedManifest"
A few audits rely on a parsedManifest..

#### gather:
  * protocol -> grab manifest file resource - horo@ has a canonical technique for this.
  * parse w/ https://github.com/mounirlamouri/manifest-validator

report errors in parsing to user

[2016-03-17 23:27] paulirish opened #23 "audit: Can prompt recurring visitor to install to homescreen"
Manual evaluation: manifest has short_name,  144x144 png icon

##### input:
* parsed manifest - #22

##### audit:
- has a registered SW
- valid start_url
- valid name
- valid short_name
- icon of size >= 144x144 and png (either type `image/png` or filename ending in `.png`)

_update_: ^  Copied from brendan's comment below.

See also "PWA validator" bookmarklet - #17

docs:  [install-to-homescree

[2016-03-17 23:32] paulirish opened #24 "audit: Once installed, launches with a splash screen"
Manual evaluation: manifest has name, background_color, theme_color, icons at  192px and up

##### input:
* parsed manifest - #22

##### audit:
* compare results with what Chromium requires
* AFAIK, the following are required: `name`, `background_color`, `theme_color`, and icons at 192px and up

Docs: [Splash screen on
/web](https://developers.google.com/web/updates/2015/10/splashscreen?hl=en)

Se

[2016-03-17 23:35] paulirish commented on #17
@samccone yup! i was gonna tell you this was extracted from that: https://github.com/mounirlamouri/manifest-validator/blob/master/static/manifest-parser.js ... but i suppose you [already know that](https://github.com/mounirlamouri/manifest-validator/commits/master/static/manifest-parser.js?author=samccone) :tongue:

[2016-03-17 23:43] paulirish opened #25 "audit: Omnibox matches brand colors"
Manual evaluation:  manifest has  `theme_color`, `<head>` has `<meta name="theme-color" content="_any valid CSS color_">`

##### input:
* parsed manifest - #22

##### audit:
* parse manifest for `theme_color`.
* Grab DOM and parse `document.head` for the `theme-color` meta.

Currently both are required. Chrome will be transitioning to use manifest theme-color by default: go/fizz-feature-backlog ha

[2016-03-18 22:05] paulirish opened #26 "metric: First meaningful paint (1.0)"
Ideally, the first paint where the user feels that _the primary content is visible_

This means paints with only the topnav don't qualify. Any primary text must be visible (and not waiting for fonts). If an image is critical to the page (e.g. e-commerce product page), then first meaningful paint requires it to be visible.

Manual evaluation:  Network Tab in DevTools timeline. Reload with screensho

[2016-03-18 22:13] paulirish opened #27 "metric: Time to Interactive"
_Time 'To Interactive_ (or TTI) is a classic success metric across the web, games and application development. We're attempting to provide a robust version of it for the web platform.

###### Key goals for the metric:
* User should feel like the page is **done enough to start interacting** -- they may scroll, tap on notification icons, start reading and expect the page to be not move around any lo

[2016-03-18 22:18] paulirish opened #28 "metric: Thread availability"
Capturing how available the main thread is. This is a proxy metric to for potential input latency, as we cannot predict when input will hit the browser.

------------------------------------
_Update_: See details at `Timestamp: Main thread ready for interaction` in #27
--------------------------------------------

##### Scoring

S-curve handled by Ben's math. Basic expectations:

* Goal: 90% perce

[2016-03-19 19:14] paulirish opened #33 "Reference Device & Network Conditions => Throttling & Emulation"
### Reference Device & Network Conditions

**Network Latency**
-  `150ms RTT` is a reasonable approximation for "typical mobile"
  - First 14K [can be delivered with TCP/TLS handshakes
    in](http://calendar.perfplanet.com/2015/tcp-download-breakpoints/) 4 round
    trips.
  - 150ms is ~= 57th percentile mobile latency
    - Based on industry research data
    - 57ms at 10th percentile. 135ms at

[2016-03-19 19:32] paulirish opened #35 "Saving lighthouse run artifacts to disk"
Over [in my fMP pr I noted](https://github.com/GoogleChrome/lighthouse/pull/31#discussion-diff-56741741R21) it'd be valuable to save the trace to disk.. mostly so that I can verify the metrics and summarized data  is correct.

@brendankenny rightly pointed out that in addition to debugging, there's value for saving the artifacts locally for timeseries analysis (a la big-rig).

Personally, I'd be h

[2016-03-19 19:38] paulirish opened #36 "How do audits safely report they didn't complete?"
What should an audit return for statuses like "test not applicable" or "metric couldn't be computed", etc?

It's not reporting a test failure, nor a runtime exception.. @samccone recommended a `result.fault` state, which is what i [tried out here](https://github.com/paulirish/lighthouse/blob/f637e14108310cc00cee9ea2fad11d353bbdc0f7/metrics/first-meaningful-paint/audit.js#L30-L34)

thoughts?

[2016-03-19 19:40] samccone commented on #35
--save ... writes out a lighthousetrace-<timestamp>.json file

easyyyy

--load wold skip the gather phase and just run the audit :+1:

[2016-03-19 19:41] samccone commented on #36
+1 fault for now, it can be under specified a bit until we have a few more fails to abstract a "pattern" from

:goat: :eight: :tada:

[2016-03-19 19:42] paullewis commented on #36
So long as promises resolve I'm cool. We don't want rejects for anything other than exceptions. So we can resolve with a fault property if that works, though why not err?

[2016-03-19 19:46] paullewis commented on #35
+1 make it a flag, or two flags

[2016-03-19 22:32] paulirish opened #37 "Lighthouse Lite chrome extension"
#### Lighthouse Lite extension
* Immediately consume kinlan's gist bookmarklet
* Publish as internal-only chrome extension.
* Deploy as Chrome extension
  * Some deets in https://goto.google.com/lighthouse-minutes

@samccone is doing this now. Should have something that runs and reports the exact same thing quite soon.

[2016-03-19 22:33] paulirish opened #38 "Lighthouse (full) chrome extension"
#### Lighthouse full extension

We merge the two: LighthouseLite (#37) and Lighthouse-core.

* Swap in [chrome.debugger API](https://developer.chrome.com/extensions/debugger) in for chrome-remote-interface.
  * E.g. Here's protocol via chrome.debugger: https://github.com/paulirish/emulation-popup-ext/blob/master/app/scripts/background.js#L95-L123
* Browserify lighthouse/extension.js, etc
* Redeplo

[2016-03-19 22:40] PaulKinlan commented on #37
Worst comment to a bug ever, but woot! Excited to see this happening

On Sun, 20 Mar 2016, 04:02 Paul Irish, <notifications@github.com> wrote:

[2016-03-19 22:45] samccone commented on #37
already done

[2016-03-20 07:42] paulirish commented on #37
https://github.com/GoogleChrome/lighthouse/tree/master/extension hosts the gist and exposes it as a chrome extension. The ID in the readme is available in CWS (to those who seek it)

[2016-03-20 07:42] #37 closed

[2016-03-21 10:29] paullewis opened #41 "Extension requires eslint-config-google, doesn't install it."
Wondering if we should add this to both the root package.json and the extension, or just the extension. WDYT?

[2016-03-21 15:30] samccone commented on #41
Since the extension runs in a different context, I am OK with having it be separate since there will be quite a few rules that do not make sense in a node context.

+1 to add eslint-config-google to the extension (I guess i just forgot to add it)
+1 to get the extension lint tests running on CI

[2016-03-21 19:11] paulirish commented on #21
We can also includes this from Kinlan's gist:

[code]

[2016-03-21 19:26] Garbee opened #45 "Add Sec audit for using CSP"
Detect whether a site is using CSP rules. If no `unsafe` rules exist then say the site is using good CSP values. If an unsafe rule does exist, then warn that there could be *possible* issues with the policy being enforced.

Sound like a good audit to add?

[2016-03-21 19:32] robdodson opened #46 "Link to explanations"
Loving the plugin so far. One thing that might be beneficial is to link to explanations for things. ex: I'm missing a canonical URL on one of my sites but if I don't know what a canonical URL is there's no explanation for how I can add one :D

[2016-03-21 19:39] paullewis commented on #45
Hey @Garbee! Thanks for the suggestion. I think we definitely want to consider these kinds of rules alongside other security ones (like serving on TLS, for example).

So this audit would look for `unsafe-eval` and `unsafe-inline`, right? Noodling here over whether there are other things CSP-related that would be worth folding in. I'm no CSP boffin, though, so suggestions welcome!

[2016-03-21 19:41] paullewis commented on #46
Yeah since this was based on @PaulKinlan's logic, I'm wondering if he can elaborate. First I've come across it as a criterion for a Progressive Web App.

[2016-03-21 19:41] Garbee commented on #46
@paulirish Just pushed commit 71c4680bc8653de0d7d9919e70c5d4f103f3a05f which added an inline note about this.

imo if that note is accurate and it is "just a warning" then:

1. We should have an "intermediate" state for things like this. Yellow icon and warning triangle.
2. Anything like this should not show Red since they aren't necessary.
3. As Rob is asking for, let's link to documentation to h

[2016-03-21 19:43] paullewis commented on #46
Yeah we need some version of severity in here.

[2016-03-21 19:43] Garbee commented on #46
btw, I think canonical URLs are an SEO aspect.

[2016-03-21 19:45] robdodson commented on #46
yeah I was less concerned about the severity and just a general explanation of how I fix the problem :)

[2016-03-21 19:47] Garbee commented on #45
Yup, those are the two unsafe rules. The only other two things possible are wildcards `*` in a domain, since they allow *any* given subdomain to send content. Then there is deprecated rules such as `frame-src`.

I'm working on a patch to the DevTools Sec Panel with this kind of parsing. But, this tool provides another opportunity to get this information in front of developers. If you want a full p

[2016-03-21 19:51] Garbee commented on #46
[Webmaster docs](https://support.google.com/webmasters/answer/139066?hl=en) on the topic. Should be very enlightening.

cc @PaulKinlan in case there is other relevant documentation to add here to explain why Canonical URLs are encouraged.

[2016-03-22 09:51] addyosmani commented on #46
Fwiw, a lot of the existing PWAs we've shipped pass all of the tests minus the canonical URL one. It's unclear to me why it's a must-have vs. nice to have for SEO purposes :)

[2016-03-22 09:53] addyosmani commented on #41
Yes, please!

[2016-03-22 18:06] paullewis opened #52 "Handle page load in extension"
I figure we can add a control that causes a full navigation of the page so we can capture page load traces and network events. This makes the extension less 'automatic', but the alternative would be to do the capture on every page load, which would be bad.

@paulirish wdyt? Am I missing something?

[2016-03-22 18:09] paullewis opened #53 "Re-internationalize extension manifest."
I'll do this when my current PRs are merged or closed.

[2016-03-22 18:35] #53 closed

[2016-03-22 20:17] paullewis opened #56 "Unset globals in network helper"
https://github.com/GoogleChrome/lighthouse/blob/master/helpers/network-recorder.js#L21-L81

@brendankenny I think this is on you, sir. It's in case other people require('lighthouse') at some point in the future and we just, you know, stomp the global.

[2016-03-22 20:53] paullewis opened #57 "Decide on documentation strategy."
None, some, jsdoc, esdoc? wdyt?

[2016-03-22 20:55] samccone commented on #57
+1 closure annotations.

* [x] Deep integration with code editors
* [x] Compile time checks.
* [x] No transpilation needed

[2016-03-22 22:48] brendankenny commented on #22
"report errors in parsing to user" => this should probably be part of the manifest audits/reporting. "You don't have a theme_color", but then differentiate between that's because they didn't include a `theme_color` or because they have an invalid color listed as their `theme_color`.

[2016-03-23 01:54] paulirish opened #59 "Drop transpilation for chrome extension"
We may want to get rid of the transpilation to make dev a bit more sane.

I'm curious about using https://github.com/JamesMGreene/breq (require() polyfill via sync xhr).

Thoughts?

-------

(Unrelatedly, doing the work in the background page will be easier to debug than doing it in popup.html).

[2016-03-23 01:55] paulirish commented on #56
I just did this in devtools-timeline-model and it was not fun. Let's defer this until later.

[2016-03-23 01:58] paulirish opened #61 "Spec the return value of audits"
Brendan is put up a strawman for this.

It will include warning/severity levels and handling atomic results.

[2016-03-23 01:59] paulirish commented on #52
Sg. Let's add a UI control to reload it later once we have something worthwhile to show for it.

[2016-03-23 02:10] brendankenny commented on #24
We should find out how the [`splash_screens` manifest property](https://www.w3.org/TR/appmanifest/#splash_screens-member) relates to this. Maybe it's a recent addition to the spec?

[2016-03-23 02:17] paulirish commented on #24
@mounirlamouri is chrome using the new splashscreens property? should we advocate for devs to adopt it?

[2016-03-23 11:32] paullewis opened #65 "Define trace parser preference"
We can either use the DevToolsTimelineModel (which we currently do in FMP), or we can require in traceviewer.

My preference is to try and use the latter wherever we can, but fall back to the former where it offers other insights into the data.

Thoughts?

[2016-03-23 11:33] paullewis commented on #61
Cool, we need to make sure that we know how to bubble up to the top-level category / tag. For example, if you fail a manifest audit, what does that say for its tags? What if the category has 10 audits, and you fail 1?

[2016-03-23 13:58] mounirlamouri commented on #24
I do not like `splash_screens` for various reasons. Chrome only uses `icons` and `name` to build the splash screen. I know a lot of websites were very excited to use the Chrome splashscreen feature but so far I have not heard of one requesting `splash_screens`.

[2016-03-23 14:10] PaulKinlan commented on #24
Concur with mounir :)

On Wed, 23 Mar 2016, 13:58 Mounir Lamouri, <notifications@github.com> wrote:

[2016-03-23 15:25] paullewis commented on #24
In which case let's take it as a strong signal to base the audit on the individual properties.

[2016-03-23 15:26] paullewis commented on #59
Yeah, I think the only thing we need transpilation for is the require step, so I'd be game for us switching it out.

[2016-03-23 16:00] paulirish commented on #59
imagine the headlines when they realize that the performance advocates rely on synchronous network calls. :tongue:

[2016-03-23 16:08] samccone commented on #59
I think it might looks something like this

![image](https://cloud.githubusercontent.com/assets/883126/13991825/ccf169e2-f0d6-11e5-9e62-0261bc554bbb.png)

[2016-03-23 17:09] addyosmani opened #69 "Manifests: highlight if short_name exceeds expected character count"
Afaik on the Android homescreen, if a `short_name` contains too many characters it will be trimmed to something like `My Totally Awesome App -> My Totally Awe...`. It may be useful to check the spec or with Mounir regarding expected lengths for these app names and whether flagging this via Lighthouse makes sense.

I've personally run into issues with needing to manually test this on-device (or ret

[2016-03-23 17:12] paulirish commented on #69
Can you find out what character length range we should suggest?

[2016-03-23 17:21] addyosmani commented on #69
Yep!

[2016-03-23 17:24] paullewis commented on #69
@mounirlamouri might know!

[2016-03-23 17:43] mounirlamouri commented on #69
I do not think we do any kind of significant trimming in Chrome (there is a 4Ki limit but not what you are asking I think :)).

@addyosmani where do you see the trim? Is it in the home screen? or the Chrome UI?

[2016-03-23 17:44] paullewis commented on #69
I think it's more the visual wrangling you do to make sure it's not truncated.

[2016-03-23 17:50] addyosmani commented on #69
@mounirlamouri I see it in the homescreen. I'll see if I can put together a repro.

[2016-03-23 18:04] brendankenny opened #70 "always `assert` for assertion"
old tests will need to be converted:
- [x] bigrig processor tests (@paullewis)
- [x] manifest-parser (@brendankenny)
- [x] `npm uninstall --save-dev chai`

[2016-03-23 18:43] brendankenny commented on #38
should this be closed with #49? Work that still needs to be done now seems to fall into more specific issues (eg #59)

[2016-03-23 19:05] paulirish commented on #38
We didn't yet redeploy but otherwise yes.

[2016-03-23 19:05] #38 closed

[2016-03-23 23:12] natduca commented on #65
I'm all for y'all doing what you gotta do to bootstrap the project. In the end, I think its on pavel and I to figure out how to make these one and the same, and in the meantime, for us to keep good notes tracking what is using which so that we can understand what its going to take in the future to undo the schism!

[2016-03-24 00:57] #22 closed

[2016-03-24 01:00] paulirish commented on #23
from the docs: "Your icon declarations should include a mime type of image/png"

@brendankenny is going to verify in the source

[2016-03-24 01:04] #17 closed

[2016-03-24 01:05] brendankenny commented on #23
currently required:
- manifest
- valid start_url
- valid name
- valid short_name
- icon of png (either type `image/png` or filename ending in `.png`)

[2016-03-24 04:04] paulirish commented on #23
"valid". for url it's valid by chromium's gURL standards, right?   and then the two names it checks for exists and not empty?

[2016-03-24 06:08] brendankenny commented on #23
for valid URL, it does appear that's correct. For the name checks, you may technically be able to get away with empty strings (it checks they aren't null), but I'm not sure. The manifest parse step may just covert empty strings to null.

[2016-03-24 06:11] paulirish commented on #23
k cool​

[2016-03-24 06:34] brendankenny commented on #61
I've been looking over some of the equivalents of our architecture within catapult and I'm increasingly not sure here. At this point I don't know if we can plan a declarative tag structure that's sufficient to express all we'll need for our audits, as https://github.com/GoogleChrome/lighthouse/issues/61#issuecomment-200306979 anticipates. There's some evidence of this happening within catapult, wi

[2016-03-24 12:13] gauntface opened #73 "Cannot read property '_destroySSL' of undefined at destroySSL"
Just tried running a lighthouse trace and hit the following issues:
- launch-chrome.sh is OS X. Would it be worth considering moving this to an npm script and using [which](https://www.npmjs.com/package/which) to pick the version of chrome to use
- Node 5.9.1 is required. We could add a check for >= 5.9 and throw a warning otherwise
- On linux I get the following error:

    TypeError: Cannot read

[2016-03-24 13:08] gauntface commented on #73
Looks like:

    TypeError: Cannot read property '_destroySSL' of undefined
    at destroySSL (_tls_wrap.js:370:7)

is coming from the chrome remote interface `close()` call. Not sure there is anything that can be done to silence the error

[2016-03-24 13:35] gauntface commented on #24
splash_screens to me seem like a solid way to have an logo / image true to the sites brand that is better suited to a solid bg color that simply can't / doesn't fit for the add to homescreen icon (But this discussion feels somewhat out of scope from this issue).

[2016-03-24 14:05] gauntface opened #77 "Seperate head and body in gatherer?"
At the moment viewport audit is running a regex over the entire html. It would be useful for this (and future audits) to seperate the body and the head as inputs. The other alternative would be to have these as gathers, but that feels like it wouldn't be as flexible.

Thoughts on having input.html + input.head + html body?

[2016-03-24 14:44] paullewis commented on #77
I'm wondering if we need to change the HTML gatherer to a DOM gatherer. In the Node code we can use JSDOM / cheerio, in the extension use `DOMParser`. Then you have something you can query more effectively with `querySelector('head meta[name="viewport"]')`.

I suspect many of the audits that will want to query DOM will want to do so that way rather than via RegExps.

[2016-03-24 14:45] paullewis commented on #70
Fixed in aae908df4d36b375a85da25739ae14a959fa773e

[2016-03-24 14:45] #70 closed

[2016-03-24 14:48] gauntface commented on #77
sounds good. Will take a look at doing this instead.

[2016-03-24 14:51] paullewis commented on #77
Yeah def give it a go. I do some branching in the manifest gatherer for similar reasons (fetch in extension vs request in Node). This would likely be the same thing. The viewport is the only audit reliant on this atm, so it's impact should be minimal, and the viewport audit has tests so ... :+1:

[2016-03-24 14:52] paullewis commented on #77
BTW if you use `DOMParser` you need to know it doesn't throw if it can't parse. It will make you a doc with a `<parseerror>` node .... yah I know.

[2016-03-24 18:03] gauntface commented on #77
I've started looking at one way to do this dom like selector in the audits and ended up doing the following - https://github.com/GoogleChrome/lighthouse/blob/html-theme-color-audit/gatherers/html.js

I essentially give the audits access to the window OR use JSDom for node environments. (In the chrome extension I have to ignore the jsdom module because babel / browserify doesn't like something in i

[2016-03-24 21:47] brendankenny opened #80 "Problem: Render-blocking JavaScript"
Non-async script resources that are layout-blocking.

##### Calculating the total time cost:
* Grab all blocking JS requests (script net requests with priority of {Medium, High, VeryHigh})
* Duration of each script == from fetchStart though responseEnd until ExecuteScript finishes.
* Last critical script == last script to executescript before first meaningful paint. Discard any following.
* Total

[2016-03-24 22:05] paulirish opened #81 "Gather scheduling strawman"
[code]

Disclaimer: All the names are definitely wrong.

But that said, I'm thinking this seems a nice way of managing scheduling of all gather work, so we don't step on toes and minimize repetitive work.

All gathers MUST start with a `waitFor`. It's possible they have a second.

Thoughts?

[2016-03-24 23:08] paullewis commented on #81
I like it. How do we guarantee ordering? (You could put at rest before initial), and how do we order within the set of gathers scheduled for a given lifecycle point? Last question: who instructs the driver to move to the next stage?

[2016-03-24 23:11] paullewis commented on #80
Can we orientate this more towards the user? I mean, it's good data to have, but it feels like it's in support of FMP. If you're blocked because of resources (JS, styles), then when we surface your first paint we should attach what data we know from CRP?

[2016-03-24 23:41] brendankenny commented on #80
I believe that's the intention. @paulirish can say more, but looking at the mocks, it's: "Your FMP is pretty slow, here's the set of things you're doing during that time"

[2016-03-24 23:46] brendankenny commented on #80
https://docs.google.com/document/d/1V95VD-8UNxPEc2ciu1Q4TCRJOuBdEhgOXgRXp2oLkkw/edit is the one I'm talking about

[2016-03-25 00:25] paulirish commented on #77
I read in the opensource handbook that you should upset everyone with a big rejection of a new contributor's first PR.

Or not. :confused:    Again, sorry for being terse and stuff.

I feed this thread more flowers for good luck: :tulip: :bouquet: :rose:

---------------------------

First, on ChromeDriver... It's doing 90% of its browser interaction by via the [Chrome Debugging Protocol](https://

[2016-03-25 00:43] gauntface commented on #77
I'm probably more inclined for option 2 but curious why it was changed from
this?

On Fri, 25 Mar 2016, 00:25 Paul Irish, <notifications@github.com> wrote:

[2016-03-25 00:52] paulirish commented on #21
@paullewis  mentioned a simpler detect that seems good:

1. flip network throttling to offline
2. `fetch` the curent location clientside (fetch itself, yes), and see if it 200s

[2016-03-25 15:17] samccone commented on #81
I am pretty convinced that some gather operations will be destructive (cause the browser to be in a state where no other gathers can run)

For now, allowing the gather to do whatever will continue to work, I think this is a deep deep rabbit hole if we start trying to optimize the gather phase. I am totally with you that the more times we revisit the page the more variance we will get (if we gather

[2016-03-25 16:01] paulirish commented on #73
I tried to diagnose this exception but only got so far. I'm pretty sure it's a node core bug, as that area has gotten some fixes.

[2016-03-25 16:33] jyasskin opened #82 "The README should say what this project is for."
Right now it looks like it might be an auditing tool?

[2016-03-25 21:56] brendankenny opened #83 "artifact: fetch manifest based on triggered network request"
Calling [`requestAppBanner`](https://chromedevtools.github.io/debugger-protocol-viewer/Page/#method-requestAppBanner) will fetch the manifest, which we can pick up in the network requests record.

This avoids the DOM dance and make sure we're testing the same manifest that Chrome does.

for now you need `--enable-add-to-shelf` for this to work

[2016-03-27 18:35] samccone opened #89 "Add a --dump CLI flag to output all gather data to lighthouse-dump-TIMESTAMP.json"

[2016-03-28 19:58] brendankenny commented on #89
is this the same as #35?

[2016-03-28 19:59] #89 closed

[2016-03-28 19:59] samccone commented on #89
yes

[2016-03-28 20:22] #65 closed

[2016-03-28 20:23] paulirish commented on #80
After further discussion, it makes sense to defer the perf diagnoses implementations. This will give us the bandwidth to nail PWA audits and top-level perf metrics.

[2016-03-28 20:23] #80 closed

[2016-03-28 20:41] brendankenny opened #92 "Create a helper for checking if a CSS color is valid"
and drop into `gatherers/theme-color.js`

just pull out https://github.com/GoogleChrome/lighthouse/blob/0042483fd0a84308da14e394af08fa398715014f/helpers/manifest-parser.js#L77 into its own file

[2016-03-28 20:54] paulirish commented on #83
Once https://codereview.chromium.org/1835063002/ lands, enable-add-to-shelf will not be required.
Star https://bugs.chromium.org/p/chromium/issues/detail?id=540491 for updates.

In the meantime, we can force the flag for node, but not for extension.

[2016-03-28 21:01] #57 closed

[2016-03-28 21:02] paulirish commented on #36
merging this into #61

[2016-03-28 21:02] #36 closed

[2016-03-28 21:07] paulirish commented on #77
Not sure. Lewis did it a while back.

Closing this as it seems to be mostly taken care of with the DOM based approach in the PR now. I'm adding some documentation so that there's justification for this sorta thing.

[2016-03-28 21:07] #77 closed

[2016-03-28 21:08] paulirish commented on #77
Oh, on Chrome Driver. It might make sense to use ChromeDriver for tests, but I have a feeling like it'd break since we require the protocol in either case (although devtools eng is working on fixing that bug).

[2016-03-28 21:24] brendankenny commented on #77
note that we already have the latest (continuous build) Chrome downloading and starting up (listening on port 9222) on Travis, so anyone can start writing tests against a live browser today

[2016-03-28 23:43] paulirish commented on #83
This will also mean we can clean up the depedency on `request` and the localized requires here

![image](https://cloud.githubusercontent.com/assets/39191/14093640/300146b6-f504-11e5-84a1-a84a23191609.png)

[2016-03-29 16:10] paulirish commented on #69
This is a smart check to have, yeah.

I am pretty sure i've seen quite different results on a Nexus 6 vs a smaller phone for this number.

@addyosmani have you gotten a sense of what string lengths work?

[2016-03-29 16:12] paulirish commented on #25
@brendankenny i think we have the pieces for this. can you hook them up to an aggregator so it gets surfaced?

[2016-03-29 16:48] paulirish opened #98 "Site has viewport meta tag. Results differ"
Small bug noticed when demoing lighthouse: The extension and CLI report different numbers for this item. Likely a problem in the gatherers.

![image](https://cloud.githubusercontent.com/assets/39191/14116143/2ab9fb8c-f593-11e5-8b22-fd93b1cc14a1.png)

[2016-03-29 17:38] paulirish opened #99 "Graceful recovery when no manifest is present"
![image](https://cloud.githubusercontent.com/assets/39191/14117515/d99694de-f599-11e5-9e94-85f4558a1163.png)

I suppose there's a few cases that we shouldn't bomb on.

* link rel manifest not found in DOM
* link rel manifest found, but it 404s
* manifest asset retrieved but it's invalid JSON
* manifest members are missing, and all that.

I think we have decent coverage here, but we may need to bul

[2016-03-29 17:45] paulirish opened #100 "Extension content script should do manifest discovery"
As Dion recommended, the extension can be a passive PWA inspection tool, lighting up as active when a manifest is detected.

I investigated using the `chrome.declarativeContent` API for this, however it is limited to _visible_ elements, and a `<link>` element is not one.

The best solution appears to be a small content script, as `"run_at": "document_idle"`, which looks for the manifest `<link>` i

[2016-03-29 18:31] danbeam commented on #27
Maybe this is when there's enough yielding that the UI can change or interact or show progress every 16.7ms (i.e. 60 FPS)?

Maybe mention that deferred work may be scheduled and run while not affecting *TTI* (as long as it's not clogging things up)?

/cc @natduca @esprehn

[2016-03-29 18:51] cwilso commented on #46
It would be nice to more clearly describe the canonical URL one.  For building a simple site, where you DON'T have multiple ways to get to the content, you still have to put in a rel=canonical link, with "<this>".

[2016-03-29 19:10] igrigorik opened #101 "audit: no plugins"
Should we have an audit to discourage use of plugins? E.g. we already list use of Flash as a [common mistake](https://developers.google.com/webmasters/mobile-sites/mobile-seo/common-mistakes#blocked-resources) in our "mobile friendly documentation"

A "simple" way to ensure that this is the case:
- check that the site's CSP policy sets `object-src 'none'`
- check that iframes have a [sandbox](http

[2016-03-29 19:29] samccone commented on #101
:+1: I like this idea

[2016-03-30 01:00] samccone commented on #99
1) gatherer should be in a fault state
2) audits should fail because the gatherer key is in an invalid state
3) each audit should show an error message as to why it is borked.

4) all done :tada:

[2016-03-30 04:14] paulirish commented on #83
Okay another bug we'll get resolved...  on https://operasoftware.github.io/pwa-list/ things fail because it's in a subfolder and our browser fetching assumes manifest is at domain root.

There's a fix for it but I think I'd rather rely on the real thing.

![image](https://cloud.githubusercontent.com/assets/39191/14131756/31f3858e-f5f3-11e5-8647-d47849f763a7.png)

[2016-03-30 05:23] paulirish commented on #33
2586e69e91e2269f77af58bf470418444d45d9f3 flipped on latency and throughput throttling, so this is partially fixed.

[2016-03-30 05:24] paulirish commented on #25
I have a PR up that'll take care of this.

[2016-03-30 17:31] paulirish commented on #73
Took another stab last night. AFAIK, this is due to the `request` call for the manifest, and not cri's `close()`. :relieved:  So we'll be done with it soon.

[2016-03-30 17:38] paulirish opened #105 "CLI should warn if Node version < 5.x"
(orig reported at #73 )

Since we're using a bunch of es2015 features, node 4 isn't supported.

The cli should error and exit if you're not running using a 5.x runtime.

question: Should the error message recommend using nvm?

[2016-03-30 17:43] paulirish commented on #105
@gauntface sez:

sg

[2016-03-30 17:52] paulirish opened #106 "launch-chrome.sh should support chromium on linux"
(orig reported at #73 )

We can probably just use some basic bash hackery of `if hash chromium 2>/dev/null` etc etc.

[2016-03-30 17:52] samccone commented on #105
telling people what software to install gets really messy fast, we already know the CLI tool will be for a more "Experienced" dev, so I think just throwing a nice message saying `<Lighthouse requires node 5.9..>` will be more than enough.

[2016-03-30 17:54] paulirish commented on #73
Broke out the other two issues into #106 and #105.

Retitled this to be just the destroySSL. This will be fixed when #83 is done. \o/

[2016-03-30 18:02] samccone opened #107 "CLI should provide a human error message when unable to connect to CRI"
Perhaps ask the user if they have launched chrome via our helper script.

[2016-03-30 21:01] deepanjanroy commented on #105
Is it ok to add in a dependency like https://www.npmjs.com/package/node-version-compare? In that case we can have a nice minVersion variable and change that in the future. Otherwise I can just look at the first/second char of the string and make sure there's something >= 5 there.

[2016-03-30 21:03] samccone commented on #105
checkout the semver module. That is what we will want to use here :sparkles:

[2016-03-30 21:03] deepanjanroy commented on #105
sweet thanks :)

[2016-03-30 22:17] paulirish commented on #19
@lgarron we want to identify if a page is secure via the protocol.

Can we just listen to `securityStateChanged`? It's per tab, not per frame, right?  Also, does the domain need to be enabled before the page load?

[2016-03-30 22:34] brendankenny commented on #100
This is OK, but I'm a big fan of minimum permissions. Any chance of getting `<link>` added to the list of queryable elements?

[2016-03-30 22:59] paulirish commented on #100
@brendankenny nope. it uses Blink's core CSS style calculation engine, which quickly discards display:none elements as they don't matter.

It's possible to change the platform, but it'd be a kinda gross hack.

Also.. our `chrome.debugger` permissions is arguably the largest permission available. Okay not arguably. It literally doesn't get any bigger than that. :)

[2016-03-30 23:11] paulirish commented on #25
@mounirlamouri question that came up in #104.. what happens if color are specified in both meta and manifest and they differ?

[2016-03-30 23:12] paulirish commented on #23
Nearly done, but we need to check for 144px icons instead of 192px. (But having 192 icons would allow the test to pass)

[2016-03-30 23:28] deepanjanroy commented on #106
Linux doesn't have chrome canary. Can we just use the regular google chrome instead? I tested and it works fine even if chrome is already running.

[2016-03-30 23:30] paulirish commented on #106
Hmm.. We're going to need latest builds, so lets prefer chromium.

[2016-03-31 00:24] #59 closed

[2016-03-31 00:27] paulirish opened #110 "Improve extension npm install time"
fewer dependencies?

[2016-03-31 00:29] brendankenny commented on #61
Where we currently are:
[code]

We don't handle `fault` yet.

type definition for Closure here: https://github.com/GoogleChrome/lighthouse/blob/b921dd975394198cedd013e32e7483c2d2542ee4/closure/typedefs/AuditResult.js

[2016-03-31 01:22] paulirish commented on #26
We need to adopt `firstContentfulPaint`. This'll match tracing and also make airhorner work. :)

[2016-03-31 01:31] paulirish commented on #26
cc @brendankenny to poke into the negative values and filtering for main frame timings only.

[2016-03-31 20:12] mounirlamouri commented on #25
If `theme_color` is defined in the Manifest, it will be used as a default `theme_color`. Each page can then override it using the `meta` tag. Though, using the Manifest `theme_color` has the added benefit of being used for the splash screen.

[2016-03-31 20:18] paulirish commented on #25
Perfect. That's just what we needed to know. Thanks!

[2016-03-31 20:43] #105 closed

[2016-03-31 21:06] #99 closed

[2016-03-31 21:11] brendankenny commented on #25
I think I still don't understand the purpose of this audit. Maybe it's just that the title of this issue is throwing me off. What are brand colors? :)

Is the idea:
- Chrome won't by default fetch the manifest, so `<meta> theme-color` is needed
- When Chrome does fetch the manifest, it will use the manifest's `theme_color` for things like the splash screen, so you need it there too

but if the `<m

[2016-03-31 21:16] brendankenny commented on #25
Oh, I might be missing the other way. If you have a `theme_color` in your manifest, you need a `<meta> theme-color` in your page because we don't currently fetch the manifest on page load.

But it seems like if you have a `<meta> theme-color`, the manifest `theme_color` should be optional still?

[2016-03-31 21:40] paulirish commented on #23
@brendan  i have this alsmost complete in a branch on my fork. 1% battery. see you guys.

[2016-03-31 23:36] brendankenny commented on #98
This now works for me, so not sure if this has just been fixed since then

<img width="907" alt="screen shot 2016-03-31 at 16 33 36" src="https://cloud.githubusercontent.com/assets/316891/14193990/af9c33f2-f75e-11e5-8f58-d25301c01492.png">

[2016-03-31 23:56] #25 closed

[2016-04-01 04:58] paulirish commented on #98
Thx will see if I can repro

[2016-04-03 22:26] boopathi opened #118 "Support for User-Agent based rendered apps"
Problem with apps that send different responses based on User-Agent.

+ Looks like DevTools and lighthouse(extension) debugger cannot be open at the same time - https://bugs.chromium.org/p/chromium/issues/detail?id=129539 . So device mode emulation with lighthouse extension seems not possible
+ lighthouse uses sendCommand to emulate device mode when opening a url. So you can use lighthouse extensi

[2016-04-03 22:37] brendankenny commented on #118
Hi Boopathi!

Right now lighthouse uses the debugging protocol to always enter device mode emulation when testing. The code for this is in [emulation.js](https://github.com/GoogleChrome/lighthouse/blob/8ada139e574d5e93e352f3af00a66343ef50ac67/helpers/emulation.js) and [called from the driver](https://github.com/GoogleChrome/lighthouse/blob/8ada139e574d5e93e352f3af00a66343ef50ac67/helpers/browser/d

[2016-04-04 06:10] #92 closed

[2016-04-04 07:01] paulirish commented on #83
@brendankenny when do you think you'll have a PR up for this?

[2016-04-04 07:03] paulirish commented on #118
yup that's true.

it's very possible. so possible that we're already doing it, as brendan pointed out. :)

really the only problem right now is that the manifest is not fetched by the browser while under emulation. That's a bug in lighthouse, and one that we gotta fix asap.

As such, I think this issue mostly gets duped into #83.

[2016-04-04 07:03] #118 closed

[2016-04-04 07:17] brendankenny commented on #83
Aiming for tomorrow

[2016-04-04 08:04] paulirish commented on #83
@brendankenny sounds good thank ya

[2016-04-04 11:08] paullewis commented on #101
Definitely like this idea. Looking into CSP stuff to see what we can do.

[2016-04-04 11:16] paullewis commented on #101
Okay, so @mikewest says in the longer term we may have https://w3c.github.io/webappsec-csp/api/ to play with, for now I'll roll with checking the headers. Which I _think_ we should be able to do from the existing Network records gather.

[2016-04-04 18:08] paulirish commented on #56
FWIW here's how I sandboxed WebInpspector but still managed to make it work: https://github.com/paulirish/devtools-timeline-model#sandboxing-webinspector-for-node

@paullewis if you're okay with it i think we should close this for the moment. We'll incur decent churn every time we pull in more WebInspector pieces.

It's also possible there will be an upstream wrapper, and/or devtools will be more

[2016-04-04 18:09] paulirish commented on #110
@samccone what were you thinking here?

[2016-04-04 18:34] paulirish commented on #106
fixed by #119 and #124

[2016-04-04 18:34] #106 closed

[2016-04-04 18:36] boopathi commented on #118
Thanks.

Correct me if I'm wrong.

The device mode emulation is done when you invoke the extension. So we'd have to reload the app  after device mode is turned on - i.e. when the lighthouse extension is invoked - right ?

Or you'd have to open dev tools, enable device mode emulation, reload/load the app. Close devtools. Use extension.

[2016-04-04 18:44] paulirish commented on #41
sam, assigning to you for both.

[2016-04-04 18:50] samccone commented on #41
kk :+1:

[2016-04-04 18:58] paulirish commented on #69
From my homescreen.. here's what is and isn't truncated, along with string lengths:

[code]

By now, you can tell that Roboto doesn't use the same width for all letters. :)
An app called `iiiiiiiiiiiiiiiii` (with 17 i's) will fit, but `wwwwwwww` (with 8 w's) won't.

[2016-04-04 18:58] #107 closed

[2016-04-04 19:07] paulirish commented on #20
This is complete with the driver API layer of `driver.sendCommand` we have now.

[2016-04-04 19:07] #20 closed

[2016-04-04 19:14] paulirish opened #126 "add "Beta" banner to extension UI"
Komoroske brought this up during review.

To manage expectations, we need to point people to this repo and indicate things are still in development

[2016-04-04 19:29] paullewis commented on #69
If we know widths and fonts we can guess pretty well with a `measureText`. We could ask the page to do it in JS as a gather once we have a manifest. It's messy.

[2016-04-04 20:19] paulirish opened #127 "Publish new version of chrome extension"
The one in CWS is still based on the gist. Been a while, but I think the state of the master is good enough for CWS.

[2016-04-04 20:21] brendankenny commented on #127
yeah, with #126 added, this would be great to do.

[2016-04-04 20:26] samccone commented on #69
Let me follow up with the android UI team... and see if I can get a real answer on this.

[2016-04-04 20:53] paulirish commented on #45
Ideally, I'd like to defer to what lands in CSPParser and the warnings surfaced in DevTools.

We can use that easily in Lighthouse once its in place.

In the meantime I've added an entry to goto.google.com/lighthouse-rules for CSP to track this. I'll close the issue as it's not in the immediate milestone for lighthoues

[2016-04-04 20:53] #45 closed

[2016-04-04 21:16] paulirish commented on #52
Discussions indicate the following:

1. Hitting the extension page action will kick off the popup.html and it'll immediately report on what it knows so far.
  * AFAICT, even the manifest parts can still work without a reload. (even once #83 is landed)
1. Performance metrics and any load-depdenent audits will show as "unknown" in the UI as an affordance to communicate that the full audit run wasn't

[2016-04-04 21:32] #61 closed

[2016-04-04 21:42] paulirish commented on #118
Ah! good call yeah.

If the content is dependent on the UA, then yeah a reload will be neccessary. Right now extension can't reload the page but that's what's happening in #52.  Take a look on that issue and see if the user flow that makes sense to you.

[2016-04-04 21:46] #126 closed

[2016-04-04 22:16] paulirish commented on #127
Published `0.0.6` from master just now.

Last commit:

[code]

![image](https://cloud.githubusercontent.com/assets/39191/14265721/0311ab4a-fa78-11e5-86fc-5490caef338e.png)

Our 72(!) users will get a new build within hours. \o/

[2016-04-04 22:16] #127 closed

[2016-04-05 03:06] samccone commented on #110
i am going to remove as many things as possible

[2016-04-05 03:07] samccone opened #133 "when url is redirected all requests fail"
try for instance

`https://moji-brush.com`

note how everything breaks.

[2016-04-05 04:02] #41 closed

[2016-04-05 04:10] paulirish opened #135 "Remove classes from Audits?"
It feels like the audits are a bit unwieldy as classes. I was curious what they'd look like a bit more nude..

Here's a before and after:

![image](https://cloud.githubusercontent.com/assets/39191/14271041/33210372-faa9-11e5-9730-05cc22635518.png)

(I've removed annotations from both, as they're particularly nasty for audits.)

@paullewis I spoke to you briefly about this and I believe you weren't

[2016-04-05 06:45] brendankenny commented on #83
so, one additional development here seems to be that in Canary, if you have `Add to shelf` enabled in about:flags, Chrome now fetches the manifest on navigation. Is this coming sooner than we expected?

[2016-04-05 09:19] paullewis opened #138 "Make gather errors use a super class function"
There's a probability a bunch of gathers will fail. At the moment we have a class-level method in the manifest gatherer to capture its failure: https://github.com/GoogleChrome/lighthouse/blob/master/gatherers/manifest.js#L47-L55

This should get moved to the Gather parent class. I'll do it, but we have a lot of PRs open, so I'll wait till they are merged or rejected before proceeding.

[2016-04-05 13:39] paullewis commented on #135
I like it for these shorter audits. When the audits get bigger (which I think they will with things like Speed Index, CRP, etc), then I'd be more inclined to see things a little wrapped up, as opposed to a collection of functions, which is what this would probably give us. In any case, whichever way we go, we'll need to be consistent across all the audits.

This approach currently makes it more di

[2016-04-05 15:14] samccone commented on #135
IF we export the object, we can just check the shape of the object exported from the audit to verify.

[2016-04-05 15:45] #21 closed

[2016-04-05 16:27] samccone commented on #138
using flat objects + Object.assign(...) would also make this easy :goat:

[2016-04-05 16:39] paullewis commented on #138
@samccone Look at you all ES5in'. :snowman:

[2016-04-05 19:43] samccone commented on #110
After some significant trimming:

![image](https://cloud.githubusercontent.com/assets/883126/14295784/e66a64fa-fb2b-11e5-9b9b-4bafe5ed6372.png)

[2016-04-05 22:17] paulirish commented on #81
Tried to capture a few usecase for timing in this doc: https://v.etherpad.org/p/MCiOMkGOcf

@deepanjanroy was thinking it may make more sense to have gathers extend a base class that has these lifecycle events defined.. e.g. setup, beforeLoaded, pageLoaded, teardown.

This is in line with how Telemetry does it, in fact. In [key_silk_cases.py](https://code.google.com/p/chromium/codesearch#chromium/

[2016-04-05 22:35] #110 closed

[2016-04-05 23:11] paulirish commented on #98
seems good.

[2016-04-05 23:11] #98 closed

[2016-04-05 23:26] brendankenny commented on #135
I'm a fan of the reorganization. The current implementation seems over-complicated by using inheritance for what is essentially a mixin of a utility function, which we could just as easily `require` (although the utility of that utility function is declining as so many arguments get added to it :). Ensuring an `Audit` interface would get us a compile-time check of required properties (and if we wa

[2016-04-05 23:40] brendankenny commented on #138
So I added that function because the manifest-parser was already using `debugString` on that object to indicate top level errors, like the manifest being invalid JSON, so I just hitched the fetching errors to that. Not sure if it will be a generally useful model.

I'd like to see where #81 is going, as that will likely end up with a major refactoring of the gatherers, and it starts showing the spe

[2016-04-06 01:10] brendankenny commented on #23
To add to this, on a macbook pro, I get a "256px square icon is required" in Chrome. The 256px appears to come from it not taking the emulated screen into account, but we may need to investigate the "square" part of that.

This seems to discard non-square icons:
https://code.google.com/p/chromium/codesearch#chromium/src/chrome/browser/manifest/manifest_icon_selector.cc&rcl=1459883706&l=43

but thi

[2016-04-06 07:40] paullewis commented on #81
There's already a gather base class IIRC so we should be gtg there.

[2016-04-06 07:41] paullewis commented on #81
Yyyyyyyeah https://github.com/GoogleChrome/lighthouse/blob/master/gatherers/gather.js

[2016-04-06 18:41] paulirish commented on #135
Yeah. I do admit it's a bit funny that we are agreeing gathers could use stronger base classes, and meanwhile I'm advocating for removing that structure from audits.. but ... so it goes. :stuck_out_tongue_closed_eyes:

[2016-04-06 18:49] paullewis commented on #135
I see it, and generally I favor composition over inheritance, I just think it's premature to refactor this. When we know more about the stronger base classes I think we should be in a better position to make the call. As it is it feels like we would be choosing without a fuller picture.

[2016-04-06 18:53] paulirish commented on #135
works for me.

lets get the perf diagnosis moving to see what parts we need to excercise

closing.

[2016-04-06 18:53] #135 closed

[2016-04-06 21:59] paulirish commented on #27
I've updated the definition of the TTI above metric based on latest discussions with @benshayden, @skyostil, japhet@, @paulbakaus and others.

[2016-04-06 22:29] paulirish opened #142 "Offline score is 50%, only 1 pass within"
![image](https://cloud.githubusercontent.com/assets/39191/14334906/4a79a024-fc0c-11e5-98de-b3813149df0d.png)

Seems a bug.

[2016-04-06 22:31] paulirish commented on #33
[[public] 2G Network Issues observed while in India - Google Slides](https://docs.google.com/presentation/d/1fZ7ftsJJ4adiPov4y_8AtV_zjqAmEASaSxRBHBwkiOw/edit?pref=2&pli=1#slide=id.g73cf3c208_0_158) will help inform for any presets we define for a "typical emerging market mobile user" persona

[2016-04-06 22:41] paulirish opened #143 "manifest `display` property"
Do we want to suggest or require any specific display property for PWA?

The options, thanks to a [great presentation](https://dev.opera.com/blog/pwa-taipei/) by @brucelawson

### `"display": "standalone"`
![image](https://cloud.githubusercontent.com/assets/39191/14335036/24430a70-fc0d-11e5-95b9-5026c6c8ad72.png)

### `"display": "fullscreen"`
![image](https://cloud.githubusercontent.com/assets/39

[2016-04-06 22:47] paulirish commented on #83
try https://jakearchibald.github.io/svgomg/ with your PR. i get invalid JSON errors with the extension currently.

[2016-04-06 23:14] samccone commented on #142
seems bugged

[2016-04-06 23:26] paulirish commented on #56
Thinking we'll use ServiceWorkerManager.js for SWs, so going to close this for now until things settle down

[2016-04-07 00:01] paulirish opened #144 "Always run lint, unit, & closure on travis"
Since they are `lint && unit && closure` daisy chained, an error in lint means the unit tests wont run on travis.

Since it's nice to have an error stacktrace with a URL, It'd be useful to make sure the 3 components always run on travis, even if the 1st fails.

Doesnt sound tricky, just need to carry over the exit codes? Yall done this before?

[2016-04-07 00:16] paulirish commented on #133
this is blocked by #83

[2016-04-07 00:19] paulirish commented on #82
Yeah sorry Jeffrey.

Right now it's lacking details on the readme so we can stay in quiet mode a bit longer. Just trying to manage expectations.

Googlers can read the details at https://goto.google.com/project-lighthouse

For the moment, everyone else will have to build the app/extension to get a feel for the project. Soon we'll have a proper description of the project available.

[2016-04-07 00:19] #82 closed

[2016-04-07 05:37] samccone opened #146 "load phase should be extracted from the gatherers"
(just want to document this task)

[2016-04-07 17:46] samccone commented on #143
I wonder for apps like moji-brush where I have a bottom menu if full-screen would actually be optimal.

[2016-04-07 18:01] PaulKinlan commented on #143
we should be recommending either standalone or fullscreen (anything else should be a warning imo.)  Fullscreen would be frequently used for games, video players etc.

[2016-04-07 21:28] paulirish opened #149 "URL shouldn't be passed into gatherers"
Once manifest lands, I think it'll only be used in  the "url" gather...

I _think_ this weird "gather" was to help out the chrome extension, so we probably need to sort that out, but it shouldn't be hard.

[2016-04-07 21:33] brendankenny commented on #149
the scheduler can push the url into the artifacts as it does in #148 with network records and the trace

[2016-04-07 22:27] umaar opened #151 "Style guide: Thoughts on destructing"
Thoughts on turning this:

[code]

Into this?

[code]

Or does that make it too unreadable? It uses [destructuring](https://gist.github.com/mikaelbr/9900818#file-destructuring-js-L115).

[2016-04-07 22:34] brendankenny commented on #151
I think that particular example is less readable, but I think there are cases where it can improve legibility. We don't have a compile step, though, so we can only use what Node 5 currently supports, which doesn't include destructuring.

[2016-04-07 22:37] umaar commented on #151
Oh fair enough, thanks anyway.

[2016-04-07 22:37] #151 closed

[2016-04-08 00:45] paulirish commented on #23
Fixed by the icons PR: https://github.com/GoogleChrome/lighthouse/pull/116

[2016-04-08 00:45] #23 closed

[2016-04-08 01:16] paulirish opened #152 "Cleanup post-scheduler"
There's a few cleanup items I'm already thinking about.. ya'll feel free to tack on here.

* [x] #149 URL shouldnt be passed into gatherers
* [x] remove pendingCommandsComplete completely
* [x] remove `driver.off` if neccessary? post-manifest PR i dont think we'll stop the network recording anymore.
* [x] `detachDebugger_` must set `this._debuggerConnected = false;`
  * see also [chrome.debugger -

[2016-04-08 01:23] paulirish commented on #143
1. We could report passively and recommend without affecting your score.
1. We could dock your score and say your work is incomplete without a display prop of either standalone/fullscreen

Preference?

[2016-04-08 09:10] paulirish commented on #146
fixed by #148

[2016-04-08 09:10] #146 closed

[2016-04-08 15:58] paulirish opened #157 "getResourceContent fails for manifest file when its requested early"
Why?

[2016-04-08 16:16] paulirish commented on #19
v1 is done.
v2 on security domain remains.

[2016-04-08 16:18] paulirish opened #158 "SW registration audit fails consistently"
is registered fails in extension

[2016-04-08 16:18] paulirish opened #159 "broken fmp metric : -1"

[2016-04-08 17:21] paulirish opened #160 "Straightforward clientside Manifest gatherer"
something along these lines? https://gist.github.com/anonymous/f1009dcaedb41552e06c74df5ab63100

mostly rip out the contents of https://github.com/GoogleChrome/lighthouse/blob/master/gatherers/manifest.js otherwise.

[2016-04-08 17:49] paulirish commented on #158
likely relevant: https://github.com/GoogleChrome/lighthouse/commit/ce0c02855?short_path=0730bb7#diff-0730bb7c2e8f9ea2438b52e419dd86c9

[2016-04-08 17:52] paulirish commented on #157
This is an upstream issue, so we can close it once we have the crbugs filed.

1. proactive fetches of manifest on ALL sites once "reqAppBanner" was toggled in that browser session.
1. failed getResourceContent on manifest in those proactive fetch cases.

[2016-04-08 22:02] #158 closed

[2016-04-08 22:03] samccone opened #163 "offline reload detection is broken :("

[2016-04-09 16:14] #144 closed

[2016-04-09 16:53] boopathi opened #168 "Remove gulp-browserify"
+ gulp-browserify is a deprecated module.

A few questions before I send a PR regarding this.

+ Since we use only latest chrome, we could simply use es6 code in browser - why transpile ? (edit: no uglify for es6 )
+ And why browserify and rollup ?, if we have all our files as ES6 modules (transpile only es6 module stuff for node), it would be possible to use rollup along with rollup's commonjs, n

[2016-04-10 05:00] samccone commented on #142
This was resolved 😘

[2016-04-10 05:00] #142 closed

[2016-04-11 04:33] samccone opened #170 "Aggregators should throw if audit data is not present."
This will be a runtime exception, since the current structure of the code allows an audit to listed in an aggregator but not actually run upstream.

[2016-04-11 08:50] paullewis commented on #170
I think we should do this at bootup: an intersection of what audits we intend to run against the criteria for the listed aggregators. Throw if there's a discrepancy?

[2016-04-11 15:01] samccone commented on #163
https://bugs.chromium.org/p/chromium/issues/detail?id=602051#c1

[2016-04-11 15:38] #163 closed

[2016-04-11 16:27] paullewis commented on #160
Fixed by 052a7f5dc33d5badaa92b90d7a95508221994082

[2016-04-11 16:27] #160 closed

[2016-04-11 18:19] petele opened #171 "manifest test fails if manifest is linked with a path"
The manifest check fails in Lighthouse if the manifest link tag starts with `/`.

Eg: `<link rel="manifest" href="/manifest.json">`

In this case, Lighthouse tried to retrieve `https://udacity-ud811.firebaseapp.com//manifest.json`. If you remove the `/` from the href, it works fine.

You can try this on: https://udacity-ud811.firebaseapp.com/

[2016-04-11 20:26] samccone opened #172 "Offline detection causes process to exit when not supported"
this is my fault and was introduced in this commit: https://github.com/GoogleChrome/lighthouse/commit/8ae1a13ab5dc5ce5ef5b238c3d0b2a1303740233

spins on  Runtime.evaluate {"expression":"window._offlineRequestStatus"}

and then
[code]

[2016-04-11 22:14] paullewis commented on #171
Thanks Pete, we have a few Manifest issues we are smoothing out ATM, hopefully this will get fixed in them. I'll keep this open to make sure.

[2016-04-12 01:12] #172 closed

[2016-04-12 01:17] brendankenny commented on #171
So, on master, I'm now getting
[code]
Does this look right, @petele? The extension might need updating before it gets these same results.

[2016-04-12 02:05] petele commented on #171
Looks much better, but it does have a service worker that supports offline, so not sure why it's reporting that it doesn't.

[2016-04-12 02:30] samccone commented on #171
Fixed it :sparkles:

![image](https://cloud.githubusercontent.com/assets/883126/14448258/da5a0540-001b-11e6-9eb2-f7023021b0f3.png)

[2016-04-12 12:38] paullewis opened #177 "Add README.md note that extension requires Canary"
I just got bitten by `setForceUpdateOnPageLoad` not existing in stable's SW domain.

[2016-04-12 13:10] #177 closed

[2016-04-12 13:23] paullewis opened #179 "Offline XHR fails if SW is newly activated."
Not at all sure why.

Steps for repro:

1. Unregister SW in chrome://serviceworker-internals for https://voice-memos.appspot.com/
2. Hit https://voice-memos.appspot.com/ (note prompt that app is now ready for offline)
3. Run extension, see that XHR request fails
4. Refresh
5. Run extension again, see that XHR request succeeds

[2016-04-12 18:34] paullewis opened #183 "SW updating can cause hangs"
In some cases you can see this kind of output from the extension:

[code]

The page seems to hang on `ServiceWorker.workerVersionUpdated`, and `Page.loadEventFired` never seems to fire. When this happens the load spinner stays on, and if you go into chrome://serviceworker-internals and try and unregister the SW it hangs. Not sure if our bug or Chrome's here.

[2016-04-12 18:40] paullewis commented on #183
Interestingly if #179 happens, then this will happen immediately after. Which is to say if the XHR doesn't give back a 200 (for something with a valid SW) then when you try and run the extension or the CLI it will hang as described above.

[2016-04-12 18:47] paullewis commented on #183
Annnnnnnd here's a repro:

1. Launch a new instance of Chrome
2. Visit https://voice-memos.appspot.com
3. Open a new tab to chrome://serviceworker-internals
4. Stop the SW for Voice Memos
5. Run the extension. Note #179
6. Ask it to reload and get perf data. Chrome hangs.

[2016-04-12 18:59] paullewis commented on #183
FWIW I can't repro this "directly" via DevTools itself. Not sure how I figure out what commands its sending.

[2016-04-12 19:28] paulirish opened #184 "Better debugging of the Protocol"
Any requests here on what everyone's debugging needs are and how things could be better?

To get started.. here's some docs that I can drop into a real markdown file..

#### Inspecting DevTools' Protocol Traffic

![image](https://cloud.githubusercontent.com/assets/39191/14472852/2c76c2d0-00c3-11e6-94df-876622f47bd2.png)

1. close yr tabs
2. open voicememos in a tab
3. open http://localhost:9222 in

[2016-04-12 19:32] brendankenny commented on #184
flags to start with?
something about right docking so you can turn on mobile emulation? Or is that no longer needed

[2016-04-12 19:47] paullewis commented on #183
Looks like `Page.navigate` is the issue. Using `Page.reload` resolves the issue, though it makes our code more fiddly because we now need to figure out whether the Chrome instance we're talking to is blank or not.

[2016-04-12 21:00] #183 closed

[2016-04-12 21:37] paulirish commented on #184
good call. added to the above.

[2016-04-13 09:08] paullewis opened #188 "Guarantee CLI chooses a "real" tab"
Occasionally I don't see the page updating, though the answers I get from the CLI seem broadly correct. Mostly the FMP metric comes back as -1.

A quick check on chrome://inspect shows that we have zombie / rogue / outlaw / unexpected / underhand / peculiar / irregular / mean-spirited / weird pages under "Other"

<img width="456" alt="Other in about:inspect" src="https://cloud.githubusercontent.co

[2016-04-13 18:59] paullewis opened #194 "Lacking unit tests for gatherers"
Just dropping here so we have it logged.

[2016-04-13 19:46] #188 closed

[2016-04-13 22:58] brendankenny commented on #179
cc @ebidel
Just ran into this in the CLI for https://events.google.com/io2016/ but it appears to behave the same with voice-memos under the CLI.

Once you unregister the SW and run with the CLI, you get
[code]
if you then rerun the CLI (with or without restarting Chrome), you'll continue to get false on both of these. Only manually refreshing or navigating to the page seems to correct the issue, a

[2016-04-14 04:15] paulirish opened #197 "Speed Index Metric"
Let's consume speedline https://github.com/pmdartus/speedline

And power it using our trace. (We already collect `'disabled-by-default-devtools.screenshot'` so we're all good)

[2016-04-14 04:16] paulirish commented on #159
closed by #174

[2016-04-14 04:16] #159 closed

[2016-04-14 04:18] paulirish commented on #26
Our phase 1 implementation using firstContentfulPaint landed.

Now that ksakamoto has finished the spec of first meaningful paint, based on the layout sizes, we will track our phase 2 implementation with this ticket.

[2016-04-14 06:35] paulirish commented on #143
@samccone wanna take this?

[2016-04-14 09:26] brendankenny opened #200 "Switch Travis to Trusty"
https://groups.google.com/a/chromium.org/d/topic/chromium-dev/FoE6sL-p6oU/discussion

Things appear to be working fine right now, but who knows. To switch Travis over to Trusty:

https://docs.travis-ci.com/user/trusty-ci-environment/

[2016-04-16 01:57] samccone commented on #143
Sure I can do this.

[2016-04-16 23:40] samccone commented on #183
A really interesting side effect here is the fact that when we issue a Page.reload it prevents the service worker from taking over... it is very interesting...

[2016-04-19 03:58] samccone opened #207 "Investigate why we have waitForLoaded in driver"
is anyone using this?

[2016-04-19 04:54] brendankenny commented on #207
@paullewis added it originally, so may have had a plan there. Given the addition of/changes to the scheduler since then, I doubt we'll ever want this. Any sort of shenanigans there would be something more explicit in the scheduler rather than in the driver.

[2016-04-19 06:14] paullewis commented on #207
100% in favor of removing it.

[2016-04-19 09:20] #143 closed

[2016-04-19 16:09] paullewis commented on #207
I'll take this.

[2016-04-19 16:15] paullewis opened #210 "Integrate a11y audits"
https://github.com/GoogleChrome/accessibility-developer-tools/tree/master/src/audits are awesome, and I would love it if we could find a way to integrate them. At the moment they export to `goog` and require closure, but perhaps we can find a way to make it work.

[2016-04-19 16:17] paullewis commented on #179
@samccone this should be fixed by #187, right?

[2016-04-19 16:21] robdodson commented on #210
Nice! @alice any ideas on how to integrate the audits?

[2016-04-19 16:24] samccone commented on #179
indeed

[2016-04-19 16:43] paullewis commented on #210
I've got a path. I'm `npm i accessibility-developer-tools` and then I can try injecting `node_modules/accessibility-developer-tools/dist/js/axs_testing.js` to the page. Then pick up the evaluation and post it back to the page.... what could go wrong? (Don't answer that.)

[2016-04-19 16:46] alice commented on #210
@paullewis They don't actually require closure (they require closure compiler, and pull one or two tiny closure utils, but the compiled version is standalone).

Your proposal seems good to me.

[2016-04-19 16:55] alice commented on #210
s/one or two tiny closure utils/400 lines of closure utils/ ¯\_(ツ)_/¯

[2016-04-19 19:08] #179 closed

[2016-04-19 19:10] brendankenny opened #211 "Integrate invalid Manifest `display` and mobile-friendly `display` debugStrings"
Currently in the [display audit](https://github.com/GoogleChrome/lighthouse/blob/a15674aab32e078c7ca587ae3a3e482671aa7c03/audits/mobile-friendly/display.js#L58), if you have an invalid `display` property in your manifest, you get a `debugString` from the parser but the invalid value is dropped and the property is set to `undefined`.

The audit is even more strict, looking only for `fullscreen` or

[2016-04-19 21:50] paulirish opened #213 "Breakdown of main thread costs"
We're interested in drilling into the main thread costs from the trace a few directions.

There's a few cost breakdowns that we want to try:
- By File
- By Subdomain
- By Event Name
- By Event Category
- **later: By Frame (top & iframes)**

---

There's similarity to the bottom-up view in Timeline and Tracing's filesize groupings and WPT's processing breakdown:

![image](https://cloud.githubuserco

[2016-04-19 21:52] paulirish commented on #213
Unanswered questions:

* What category grouping do we use?
* Frame grouping, how? Lots of questions here, and best to sync with caseq/skyostil on frame blaming, etc.
* Can we match the same file attribution done in devtools? (Forced layouts attributed to script that forced it, etc)

[2016-04-20 16:22] samccone opened #217 "create a driver.evalAsync helper"
Now with https://github.com/GoogleChrome/lighthouse/pull/216/ and my earlier work with service worker async js calls, it now makes sense to make a common helper. I will do this.

[2016-04-20 17:47] #184 closed

[2016-04-20 18:03] paulirish opened #218 "--mobile CLI flag is broken"
A few issues here

* the CLI describes the mobile flag as being on by default, but it's not.
* the flag is described as "--mobile" but it appears to be "--emulate-mobile-device", based on gather-scheduler.js

IMO we should use a flag to **disable** emulation, so we don't have to deal with weird default-on logic for flags. (this also affects the `load-page` flag)

[2016-04-20 18:06] paulirish opened #219 "Support inspection of mobile devices"
Currently Lighthouse is designed to run a local desktop browser that has its debugger agent exposed. It then emulates mobile characteristics.

We also want to support connecting to real devices, when available. We can then disable a good amount of our emulation.

---

I'm going to dump some notes that will be helpful to someone taking this on

Here's me trying to do classic remote debugging on the

[2016-04-20 18:11] brendankenny commented on #218
it should be default true already?
https://github.com/GoogleChrome/lighthouse/blob/16ff07fbea326d5c1fe35e3f9e4d660d85e1834c/runner.js#L67

or are you talking about in the extension? I think it should be default true for the non-reload case there, too, but curious what others thing
https://github.com/GoogleChrome/lighthouse/blob/16ff07fbea326d5c1fe35e3f9e4d660d85e1834c/extension/app/scripts.babel/a

[2016-04-20 18:13] paullewis commented on #218
It was broken after the gatherer refactor. Should have been fixed by my earlier PR

[2016-04-20 18:13] paulirish commented on #218
ah lewis fixed this a few hours back;

https://github.com/GoogleChrome/lighthouse/commit/ebd3b6adfa315b6a5dd6bee341038f730e2a9b49

[2016-04-20 18:13] #218 closed

[2016-04-20 18:14] paulirish commented on #218
I still prefer disable-* flags for these situations, but we can handle that separately.

boom

[2016-04-20 18:37] paulirish opened #220 "Improve readability of gather-scheduler"
@samccone can you make this easier to parse?

![image](https://cloud.githubusercontent.com/assets/39191/14686095/2d931c7a-06ec-11e6-9269-1ac1755046bf.png)

if its a line length issue perhaps we can rename the class, etc?

[2016-04-20 18:38] brendankenny commented on #220
Current state is my fault :) I'll take a pass at it, let others judge me for once

[2016-04-20 18:39] paulirish commented on #220
k thx dude

[2016-04-20 18:49] samccone commented on #220
What I had prior:

![image](https://cloud.githubusercontent.com/assets/883126/14686518/e5e4f874-06ed-11e6-9776-bcbbb3cd9805.png)

(just a ref)

[2016-04-20 20:02] brendankenny opened #222 "clean up after smoke test"
It's handy to be able to run the smoke test locally instead of just on travis, but the smoke test script should shut down its SimpleHTTPServer and delete the temporary `results` file it creates when complete.

Giving it to you, @samccone, but feel free to pass

[2016-04-21 00:43] brendankenny opened #224 "Centralize npmlog init"
Move
[code]
into a central place so it can just be `require('helpers/log')` or whatever wherever it's needed

[2016-04-21 01:55] samccone commented on #219
this is really cool. :clap:

[2016-04-21 02:12] paulirish commented on #217
Brendan got a technique from pavel and dgozman on how to handle this

basically:

* flip the commandlineAPI flag for runtimeeveluate
* save the `inspect` function early on
* at the end of async, use it with your return object
* you'll get an [inspectrequested](https://chromedevtools.github.io/debugger-protocol-viewer/Runtime/#event-inspectRequested) event holding the object reference

[2016-04-21 09:04] paulirish commented on #149
fixed nowadays

[2016-04-21 09:04] #149 closed

[2016-04-21 09:30] paulirish commented on #171
all fixed on master these days.

[2016-04-21 09:30] #171 closed

[2016-04-21 09:31] #83 closed

[2016-04-21 09:31] paulirish commented on #73
fixed by #83

[2016-04-21 09:31] #73 closed

[2016-04-21 09:31] paulirish commented on #69
fixed by #145

[2016-04-21 09:31] #69 closed

[2016-04-21 09:33] paulirish commented on #35
deep's upcoming patch starts to encroach on this one some more.

I think we can close this one until we have a need.

[2016-04-21 09:33] #35 closed

[2016-04-21 09:34] paulirish commented on #133
this WFM now.

[2016-04-21 09:34] #133 closed

[2016-04-21 09:39] paulirish opened #227 "Move postPageLoad gatherers to be after pageload"
Previously, we went -> load page, finish trace, run other gatherers (DOM, etc)

Now, we go -> load page, run other gatherers, finish trace.

As such our profile includes some of LH's clientside work, which is incorrect.

This is a scheduler issue, but we may want to make the function names clearer if we need to say that a phase is during profiling, etc.

![image](https://cloud.githubusercontent.co

[2016-04-21 09:41] paulirish commented on #227
discovered when we were adding comments to the scheduler:
https://github.com/GoogleChrome/lighthouse/pull/223/files?w=1#diff-0e9f586a86b1aa17afa1c046d1e7d775R107

[2016-04-21 10:36] paulirish commented on #152
all are addressed now.

[2016-04-21 10:36] #152 closed

[2016-04-21 10:49] paullewis opened #229 "Extension occasionally hits uncanny valley and hangs."
https://github.com/GoogleChrome/lighthouse/blob/master/gather-scheduler.js#L41

This presupposes the page isn't on `about:blank`. Sooooometimes it seems like the extension can get a bit bamboozled, so I think we should consider checking if the current URL is `about:blank` here, and issuing a reload if it is.

Which probably means we should be using `driver.gotoURL('about:blank')` rather than issui

[2016-04-21 10:54] gauntface commented on #219
Was there a reason for not spinning up a new chrome browser for each run of lighthouse from the CLI?

[2016-04-21 15:14] #207 closed

[2016-04-21 17:25] #220 closed

[2016-04-21 17:37] paulirish opened #233 "stray printer log"
![image](https://cloud.githubusercontent.com/assets/39191/14718674/ebf54f10-07ac-11e6-9c94-640363feb095.png)

sez lewis:

![image](https://cloud.githubusercontent.com/assets/39191/14718680/f7fdb356-07ac-11e6-92ed-5b96d833a9b3.png)

[2016-04-21 21:02] paullewis commented on #52
This is done nao.

[2016-04-21 21:02] #52 closed

[2016-04-21 23:45] paulirish opened #236 "File structure refactor proposal"
I've been dreaming about some slight changes to the folder structure. A few motivations:

* clean up the root folder so we don't have legit source files astrewn with our dotfiles.
* codify some of the conventions we've found
* make the structure a bit more newb-friendly

Here's what i'm proposing

[code]

* CLI would now be via `node src/cli https://pwa.rocks.com` or continue to use `npm link` & `

[2016-04-22 00:57] samccone commented on #236
l
g
t
m

[2016-04-22 02:44] paulirish commented on #219
^ matt edited and left a bunch of questions above, FYI.

[2016-04-22 05:06] paulirish commented on #26
Did the initial port: https://github.com/GoogleChrome/lighthouse/compare/master...paulirish:fmp1point0

However! This analysis relies on a few trace points that are not yet landed (https://codereview.chromium.org/1773633003), so we can't adopt it yet. I'll work with ksakamoto to move this forward.

[2016-04-22 09:25] gauntface commented on #236
+1

[2016-04-22 09:32] gauntface commented on #219
@paulirish when you say edits and bunch of Q's, I cannot see them . . . . .

I was digging through the old device lab code, I had a script that would open chrome on an android device and open the debug port but it seems a bit temperamental, but could be sured up. Worth investigating for lighthouse?

[2016-04-22 10:00] paulirish commented on #219
did you mean **aren't** cleaned up? I am also feeling like we should clean up the new tabs we create.. yup.

We've discussed it, but it would slow down development quite a bit, so we're deferring this until later. For CI, that pattern should be the default; so this is in the roadmap.

Flipkart and a few other apps serve different assets based on the mobile UA. We also want to make sure that if any

[2016-04-22 10:04] paulirish commented on #236
@paullewis if you're keen, i'll put this up over the weekend so we minimize disruption of active development.

[2016-04-22 10:19] paullewis commented on #236
Yeah it's cool. Go for it, sir!

[2016-04-22 10:35] gauntface commented on #219
Commands are basically the same, just wrapped in a node helper (I think).

Will have a play next week to just have lighthouse running over and over, fixing some of the above as I go.

First thing will be the tab clean up.

[2016-04-22 10:41] #233 closed

[2016-04-22 10:43] paulirish commented on #197
@samthor me and @samccone have been widdling away at speedline's dependencies, making it much more straightforward for us to pull in.

You ready to take a crack at this?

[2016-04-22 10:46] paulirish commented on #168
afaik, the browserify is mostly used because of the require().

feel free to hack on this! we can probably remove one of the two, though I'm unsure which suits us better.

[2016-04-22 10:46] paulirish commented on #157
@brendankenny you file these?

[2016-04-22 10:47] #81 closed

[2016-04-22 10:49] samthor commented on #197
Definitely. Thanks - I've been busy with a few other things but will look
in the next couple of days.

On 22 April 2016 at 20:43, Paul Irish <notifications@github.com> wrote:

[2016-04-22 17:56] samccone commented on #197
I can also take a look, I have lots of time this weekend.

[2016-04-22 23:06] brendankenny commented on #236
LGTM. Make sure to `git mv` so history isn't lost :)

[2016-04-23 10:28] pmdartus commented on #197
I have opened a [PR](https://github.com/pmdartus/speedline/pull/14) to allow to consume speedline as a module. Let me know, if you have extra concerns to integrate it.

[2016-04-23 11:36] samthor commented on #197
@pmdartus that PR looks good to me.

[2016-04-23 20:28] sindresorhus commented on #236
@brendankenny http://stackoverflow.com/a/3010099/64949

[2016-04-23 22:48] brendankenny commented on #236
it depends on how much the file has to subsequently change to work with the refactor. If you move and then commit the delete/add and *then* make changes, that should always work, but then you might as well `git mv` :)

It's also partly working around github's interface. I don't think they support `--follow` for file history, so the first commit for a moved file would be the creation of it, not a m

[2016-04-23 23:53] paulirish opened #240 ""Printer writes file for results" test is flaky"
It fails on like 20% of runs, it seems.

[2016-04-23 23:57] #240 closed

[2016-04-24 19:18] #236 closed

[2016-04-25 13:24] paullewis opened #248 "Discard / stop run in extension if popup dismissed."

[2016-04-25 18:38] paulirish commented on #222
agree. i want to run this all the time.

@samccone can you make this work if we are rerunning it locally nonstop    ?

[2016-04-25 18:52] samccone commented on #222
ya

[2016-04-25 21:15] #229 closed

[2016-04-25 21:19] paulirish commented on #210
We now have one a11y check in beta. Available from master

[2016-04-25 21:19] #210 closed

[2016-04-25 21:26] paulirish commented on #222
For me, the goal is to get these smoke tests running as part of the new [watch script](https://github.com/GoogleChrome/lighthouse/blob/master/package.json#L13).

Here's my WIP for that, which I'll merge your fixes into before putting up: https://github.com/GoogleChrome/lighthouse/compare/master...paulirish:brwoserifysmoketest

[2016-04-25 21:39] paulirish commented on #227
@deepanjanroy i think this is closest to you.

[2016-04-25 21:40] paulirish commented on #168
@brendankenny you were looking at this. do you have work in flight, or shall @boopathi take this on?

for the record, this issue is about replacing gulp-browserify with browserify.

[2016-04-25 21:44] brendankenny commented on #168
I was already looking at this since I was in the extension gulpfile, so I'm happy to take it if @boopathi doesn't already have something going

[2016-04-25 21:53] deepanjanroy commented on #227
How about `afterPageLoad =>  profiledPostPageLoad` and `afterTraceCollected => postProfiling`? All the current `afterPageLoad` phases can probably be safely moved to the `postProfiling` phase.

[2016-04-25 21:59] paulirish commented on #227
👍 💯

[2016-04-25 21:59] paulirish commented on #168
yeah go for it

[2016-04-26 03:17] #168 closed

[2016-04-26 03:17] #224 closed

[2016-04-26 03:35] paulirish commented on #26
Update from ksakamoto. He's landing half of his CL this week.
The second half (the fonts part) will have to wait until he returns from vacation (after May 8th). However the fonts part is something that we can calculate on our end, if need be, so it shouldn't be a problem. :)

[2016-04-26 17:01] paulirish opened #260 "Audit for push notifications"
Use of push notifications is considered a core component of the PWA experience.

However they don't make sense for all usecases, so scoring-wise it shouldn't be mandatory.

But there should be a check in Lighthouse to detect if the app is going to make use of push notifications, so we can acknowledge them if they are (and FYI them if they didn't know it was possible).

**Question:** what's the bes

[2016-04-26 18:25] samccone opened #261 "pylint"
Now that we have python code in the repo, we should add  https://www.pylint.org/ to our CI process.

[2016-04-27 00:43] brendankenny commented on #227
fixed in #254

[2016-04-27 00:43] #227 closed

[2016-04-27 08:01] paulirish commented on #261
Looks like it has some challenges with importing so far:
![image](https://cloud.githubusercontent.com/assets/39191/14845489/5fd11350-0c13-11e6-96da-ebba85f2dad8.png)

[2016-04-28 15:20] #261 closed

[2016-04-28 17:20] slightlyoff opened #263 "Audit: http -> https redirect in place"
Something we see some sites fail at is redirecting Chrome users to HTTPS. Would be good to make sure we audit for this.

[2016-04-28 17:40] paullewis commented on #263
We do a second load, I wonder if we try and capture this then. It could jeopardize SW tests if we don't recover, but that seems doable.

[2016-04-28 17:40] paullewis commented on #263
On second thought, I wonder if we just do this up front... Meh, one to ponder. Thanks for the bug though!

[2016-04-28 17:50] paulirish commented on #260
talking to @beverloo it sounds like we can check if service worker has event listeners registered for "push" and "notificationclick"

boom boom [DOMDebugger.getEventListeners](https://chromedevtools.github.io/debugger-protocol-viewer/DOMDebugger/#method-getEventListeners)

[2016-04-29 01:25] paulirish commented on #217
Closing this because #247 is on its way..

[2016-04-29 01:25] #217 closed

[2016-04-29 01:40] paulirish commented on #157
filed: https://bugs.chromium.org/p/chromium/issues/detail?id=607774

[2016-04-29 01:41] #157 closed

[2016-04-29 01:46] #200 closed

[2016-04-29 21:34] paulirish commented on #197
fixed by #239

[2016-04-29 21:34] #197 closed

[2016-05-03 16:39] paullewis opened #266 "Update offline gatherer to use `evaluateAsync`"
Sam, you okay to take this?

[2016-05-03 16:51] samccone commented on #266
sure am :dancer:

[2016-05-04 08:47] paullewis commented on #263
Taking this on.

[2016-05-04 11:31] paullewis opened #269 "Extension shows -1 for Speed Index"
Bit of digging suggests it's to do with the DevTools model stuff:

<img width="292" alt="screen shot 2016-05-04 at 12 30 38 pm" src="https://cloud.githubusercontent.com/assets/617438/15012901/1fae545e-11f4-11e6-8e6f-3b2b216c6921.png">

[2016-05-04 15:54] Whiteseeker opened #272 "Un-explicable issue"
When I use the chrome extension with this url:
https://whiteseeker.github.io/ everything is green

When I use it with that URL:
https://whiteseeker.github.io/mobile/game/2016/04/16/the-greedy-cave.html
It complains the service worker doesn't register, but it does, and it's the same code on both pages :/

I can't spot the issue, maybe it's in the website but it really is the same code executing :/

[2016-05-04 16:48] paullewis commented on #272
Thanks for the report. Looking into it.

[2016-05-04 16:54] paulirish opened #274 "Scoring for FCP and Speed Index"
To use ben hayden's lognormal distribution scoring curve: https://codereview.chromium.org/1837983002

We may adjust with two slightly different parameters for our audience. ben knows the details.

@brendankenny you got this?

[2016-05-04 17:04] paullewis commented on #272
I think I've found the issue, just might take me a little while to get the PR in. On it, though.

[2016-05-04 17:06] bryanmcquade commented on #27
Are we sure TTI should block on domContentLoadedEventEnd? I find that many pages start to become interactable before parsing is complete. If for instance there's a script in the footer inserted via doc.write, this can delay DCL firing when the CPU will be idle and the page interactive.

That said, I think it's also reasonable to discourage pages from running the parser a long time after their cont

[2016-05-04 17:15] paulirish opened #275 "Add inline docs on our Chrome version dependencies"
We require chrome 52 for the CLI or extension. (Though we're not 100% certain why.)

Best guesses:

1. to force the SW, so that we don't skew PLT metrics
1. how we're pulling the manifest relies on a new protocol method (was it #83 ?)

Let's add some inline docs so we can easily keep track of these sorts of version dependencies. Maybe something like..

[code]

[2016-05-04 17:17] Whiteseeker commented on #272
Cool ! Thx for letting me know (^_^). I was worried something was wrong on the website. Again thank you very much (^_^)

[2016-05-04 18:57] paullewis commented on #272
Tested this as part of #276; when it lands you should be good to go!

[2016-05-04 21:28] paulirish opened #277 "Audit: Security v2 audits meta"
Spoke with @lgarron, the brains behind devtools security panel to better understand a comprehensive view of security testing.

### HTTPS redirect.
Because of HSTS, we cannot fully trust this browser's redirect behavior to be representative of what will happen in the wild. (A site can be in the local HSTS list, but not actually have a redirect in place. This would result in a false positive. It's a

[2016-05-04 22:48] paulirish commented on #27
Hah. Pat pretty much the same comment yesterday on the Progressive page Load Metrics doc yesterday(https://docs.google.com/document/d/1oiy0_ych1v2ADhyG_QW7Ps4BNER2ShlJjx2zCbVzVyY/edit#)

Quoting him, then me..

---

I agree that DCL be a direct dependency here as its not visual. Main thread availability will tackle CPU contention, and layout stability for the rest of the blocking script impact.

[2016-05-04 22:56] lgarron commented on #277
Thanks for writing this up; that's a good overview of what we talked about.

Also @estark37 :-)

I'd like to note that this is an edge case in the sense that it applies to very few sites on the internet, but it applies to many "modern sites" (sites that "have their act together" and care about security) – i.e. PWAs.

[2016-05-05 01:47] paulirish opened #279 "Offline audit: is start_url cached?"
We've seen some cases where the start_url in the manifest is slightly different than what is cached by the service worker.

* https://m.example.com/?from=homescreen is in the manifest start_url
* https://m.example.com/ cached via the SW Toolbox cache

This results in a sad tab.

[2016-05-05 03:13] ebidel opened #280 "Speedindex reported as -1"
Version 0.6.1 on events.google.com/io2016

<img width="908" alt="screen shot 2016-05-04 at 8 12 51 pm" src="https://cloud.githubusercontent.com/assets/238208/15035232/a56143c8-1234-11e6-88c7-cbb9070d0078.png">

[2016-05-05 03:49] gokulkrishh opened #281 "Print option is not working in report page"
Adding screenshot for reference. Not sure if this print option is in progress or not

![screen shot 2016-05-05 at 9 17 56 am](https://cloud.githubusercontent.com/assets/2944237/15035672/663636f4-12a2-11e6-82d8-ab2a74a8d100.png)

[2016-05-05 06:04] paullewis commented on #280
Dupe of #269. I think @paulirish is on this one :)

[2016-05-05 06:04] #280 closed

[2016-05-05 07:51] paullewis commented on #281
I know what the issue is: the extension doesn't allow scripts in the page because of CSP. I'll either need to move this script to a separate file, or allow it via CSP.

[2016-05-05 07:55] paullewis commented on #279
This bears a striking resemblance to the offline check. However for cleanliness I think we should dupe that, parse the start_url and then ping it when offline.

[2016-05-05 08:06] #266 closed

[2016-05-05 08:06] paullewis commented on #277
Terrific write-up! I really like the idea of using the existing HSTS stuff 👍

A+ would security again.

[2016-05-05 08:11] paulirish commented on #269
Yup. devtools timeline model.

sorted out a few issues, but more remain.

Right now stuck here:

![image](https://cloud.githubusercontent.com/assets/39191/15039053/330ff240-125e-11e6-9a82-28d9a176e318.png)

fs.readfilesync isn't a function.

:/

This'll take some work.

[2016-05-05 09:36] paullewis commented on #269
Taken a totally different route to fixing this >:]

[2016-05-05 12:37] gokulkrishh commented on #281
@paullewis 👍

[2016-05-05 13:42] paullewis commented on #279
Okay, after a little more investigation we're going to have to make a decision or two. This audit needs to have access to the manifest's gather before it does its work, since it needs to know the start_url. At the moment we don't expose the other artifacts to a gatherer.

An option here would be to have an object which is passed to the gatherers that they add their results to, and we can add a bai

[2016-05-05 13:49] gauntface opened #285 "require('lighthouse');"
Would be good to support importing of lighthouse as a module.

What I was thinking of doing adding in a new file `module/index.js` and that can have usage of:

    const lighthouse = require('ligthouse');
    lighthouse(url, options)
    .then(results => {
        console.log('magic here');
    });

the options would allow setting flag for verbose / error - essentially act as the flags from the co

[2016-05-05 15:09] paullewis opened #288 "generateAuditResult should take an object"
I'm feeling like:

[code]

should really be

[code]

Thoughts?

[2016-05-05 15:56] paulirish commented on #288
Definitely. Can't wait.

[2016-05-05 15:57] paullewis commented on #288
I'll do it nao.

[2016-05-05 15:57] paulirish commented on #281
We could remove the option to print?

[2016-05-05 16:46] paulirish commented on #260
Score: we dont penalize if you don't

[2016-05-05 17:05] paullewis commented on #281
The logic also makes the nav sticky. I think we're going to need to be able to bundle JS properly for the report anyway, because it'll need to support a bunch of additional behaviors at some point, so I'm more inclined to create a proper way to inline JS for the CLI, and include separate files for the extension.

[2016-05-05 18:31] #269 closed

[2016-05-05 18:37] #285 closed

[2016-05-05 18:55] #288 closed

[2016-05-05 19:25] #272 closed

[2016-05-05 20:01] #263 closed

[2016-05-05 21:19] paulirish opened #291 "Audit: icon size coverage"
### Homescreen icon requirement

in `//src/chrome/android/java/res/values/dimens.xml` and [app_banner_data_fetcher.cc](https://code.google.com/p/chromium/codesearch#chromium/src/chrome/browser/banners/app_banner_data_fetcher.cc&q=%22bool%20AppBannerDataFetcher::IsManifestValidForWebApp%22&sq=package:chromium&type=cs)

[code]
### Splash screen  requirement

**TLDR:** There are 2 layouts for splash

[2016-05-06 00:13] paulirish opened #292 "Diagnosis: Longest critical path chain"
Render-blocking resources that request additional render-blocking resources. (e.g. scripts that document.write()'s a script, which adds a stylesheet to the  head, which includes a @font-face rule)

Identifying the problem:

* Render-blocking resources == network requests with priority of {Medium, High,
  VeryHigh}
* DevTools's [network request initiator
  callstack](https://chromedevtools.github.i

[2016-05-06 00:17] paulirish opened #293 ".lighthouserc configuration"
Necessary for CI-running of lighthouse

Whitelisting what parts of Lighthouse to run.

#### Open questions:
* Whitelisting audits or aggregators?
* We resolve dependencies for gatherers and only gather neccessary artifacts?
* Do we allow all configurability that CLI has options for?

[2016-05-06 00:19] paulirish opened #294 "gulp-lighthouse task"
Standalone task for kicking off a lighthouse run.

@brendankenny what's your thinking on the shape of this?

[2016-05-06 00:31] paulirish opened #295 "Migrate to new Page.getManifest method for retrieving the manifest"
It was added in Chrome 52, so we'd maintain our dependency on the latest and greatest Chrome.

Bonus: it returns errors from the Chrome manifest parser. DevTools now uses this in the resources > manifest pane.

We're not in a rush to migrate to this, but it'll be better in the long run vs the existing clienside XHR.

https://github.com/ChromeDevTools/devtools-frontend/commit/cc6259a82804490ecb3139

[2016-05-06 01:57] paulirish commented on #275
Turns out nope. We use `ServiceWorker.setForceUpdateOnPageLoad` but that's been there forever.

Nope we use clientside XHR. No magic here until we do #295

but a PR coming...

[2016-05-06 04:29] gokulkrishh commented on #281
Sound good @paullewis

[2016-05-06 05:40] PaulKinlan commented on #291
Noooooo, I would argue that 192 is the only icon we need for honescreen
(it's also what we've documented extensively) because it scales down well
on all other densities. If you have this you don't need anything else today
or in near future.

I would not recommend requiring all the other icons at all as it is a
massive overkill and it would get more complex for other platforms, ios
might have diffe

[2016-05-06 05:57] paulirish commented on #291
I haven't personally tested scaling things down, so i'm in no position to refute this.

:+1: to dropping the recommendation for `72, 96, 144` in manifest then.

I'm not crazy about `80dp`. It turns into px sizes of 120, 160, 240, and 320.
Whereas using the "ideal" large `128dp` turns into 192, 256, 384, 512.

In addition to being the preferred sizes, they also feel like the appropriate extension o

[2016-05-06 12:04] paullewis commented on #292
This looks great. I think outputting the chains will be invaluable for diagnosing long first paint times.

[2016-05-06 12:53] paullewis opened #298 "Automatically update the extension"
There's an API and everything: https://developer.chrome.com/webstore/using_webstore_api

Feels like we should maybe do something off tags? wdyt?

[2016-05-09 13:30] #275 closed

[2016-05-09 13:37] paullewis opened #303 "Move Speed Index test files"
https://github.com/GoogleChrome/lighthouse/tree/master/test/audits/performance should be in test/src/audits/performance alongside FMP

[2016-05-09 17:49] #281 closed

[2016-05-09 19:06] paullewis opened #306 "Refactor report"
To match https://docs.google.com/document/d/1ZEPbE79DmMXLyUQ3k8pxQVQaiWxcg4wCDfLlwy3BZaE/edit#

[2016-05-09 19:07] paullewis opened #307 "Create suite of pages that pass and fail LH audits"
In all manner of ways, so we can test that we get the right set of outputs.

[2016-05-09 21:58] samccone commented on #307
https://github.com/GoogleChrome/lighthouse/tree/master/test/fixtures

[2016-05-10 02:11] paulirish commented on #291
@addyosmani @jakearchibald based on the above i see no reason to recommend devs do any icons but 192 and 512.

192 should be straight up logo.
512 has enough room for extra detail, and will be presented separately.

[2016-05-10 07:01] jakearchibald commented on #291
I'd say just 512 if it scales down nicely. Less for the user to download too.

[2016-05-10 07:02] jakearchibald commented on #291
(Unless the larger icon is not just a scaling)

[2016-05-10 10:54] gauntface commented on #307
I'm going to have a crack at adding a few of these with the small refactor of tests.

[2016-05-10 12:33] dvotion opened #311 "Wrong Chrome Canary Path"
When running the tool at first, it complained about a wrong Google Chrome Canary path. When replaced it in launch-chrome.sh to an absolute path, everything worked out fine

[2016-05-10 14:52] PaulKinlan commented on #291
512 doesn't fit in to 48 dp scaling properly for homescreen.  you would
have to use 528.  I think you need 192 and 512 so that they work for HS and
SS.

On Tue, 10 May 2016 at 00:02 Jake Archibald <notifications@github.com>
wrote:

[2016-05-10 14:58] jakearchibald commented on #291
Why does it have to be a multiple?

FWIW I'm using single icons on my projects and it appears to work fine.

[2016-05-10 16:45] paullewis commented on #291
Won't it be fuzzy if the multiples are out?

[2016-05-10 16:47] jakearchibald commented on #291
It can be fuzzy without that. A sharp line can become two blury lines at
50%.

On Tue, 10 May 2016, 17:45 Paul Lewis, <notifications@github.com> wrote:

[2016-05-10 20:17] paulirish commented on #311
paths are hard and we've done something not terribly robust.
Want to help us out with a PR for launch-chrome thats a bit smarter?

[2016-05-10 21:05] paulirish opened #313 "Report UI modifications"
Feedback on the latest report UI in PR #312
##### PWA Section
* `Will Get Add to Homescreen Prompt` => `User can be prompted to Add to Homescreen`
* Re-sort them to match order in [doc](https://docs.google.com/document/d/1ZEPbE79DmMXLyUQ3k8pxQVQaiWxcg4wCDfLlwy3BZaE/edit) -- basically: offline, perf, secure, homescreen, splashscreen, omnibox, mobilefriendly
* We need descriptions for a few other ag

[2016-05-10 21:20] #306 closed

[2016-05-11 17:53] #313 closed

[2016-05-13 01:59] paulirish commented on #46
these are mostly in now.

[2016-05-13 01:59] #46 closed

[2016-05-13 12:38] dvotion commented on #311
Certainly don't mind helping out. But with no experience in shell scripts, I don't think I could make it more robust. :(

[2016-05-13 15:20] phbernard commented on #291
As @jakearchibald, @PaulKinlan and @paullewis discussed it above, scaling down can be an issue.

I already investigated this issue for iOS because [RealFaviconGenerator is in the process of generating only one, 180x180 icon](https://github.com/RealFaviconGenerator/realfavicongenerator/issues/211). Since iOS icons are numerous and supposed to be declared right in the page, RFG policy of creating th

[2016-05-15 18:09] umaar commented on #26
Just a heads up: in the `report.html`, I get a `-1` for `Fast first paint of content (target value: 1,000ms )`.

[2016-05-15 18:30] paulirish commented on #26
with this PR or just in general?

[2016-05-15 18:33] umaar commented on #26
In general via the webstore extension, was commenting here because of the related title, oops

[2016-05-15 18:34] paulirish commented on #26
all good. this PR will fix the bug. but thank you. :)

[2016-05-16 17:17] deepanjanroy opened #326 "Redirects in a critical request chain not detected properly"
Assume `index.html --> foo.js --> bar.js --302--> bar-redirected.js --> baz.js`. The true critical chain should be `[foo, bar, bar-redirected, baz]` but currently the output breaks up the chain as `[foo, bar, bar-redirected]` and `[baz]`.

[2016-05-17 17:36] addyosmani opened #328 "Expose ability to export a report to a shareable URL"
For most of the Lighthouse reports I've been generating, I need the ability to easily link to a snapshot of the report from slides/tweets/etc. Print/Save to PDF is currently supplied as an option, but this is a little cumbersome and doesn't have the same data sharing convenience of a URL. Use case: I'm claiming PWA score N or FMC M in a slide - I'd like to show the full breakdown of what the repor

[2016-05-17 17:44] brendankenny commented on #328
Yeah, I agree. Since the extension report is just a webpage, my first instinct is to copy and paste the url to share, which of course won't work :)

Right now it's simple enough that you could probably encode all the report information in the URL, but we're about to add a lot more information (like the critical network chains), so that will quickly stop being an option.

To do this right, I think

[2016-05-17 17:46] addyosmani commented on #328
A copy/paste mode that either outputs markdown or just the raw HTML being output would be super helpful. I was going to suggest a 'Post to JSBin' option (you can post HTML to their API to create new bins) but was unsure if that would be considered an abuse of the service :)

[2016-05-17 17:53] deepanjanroy opened #329 "Handle ResourceChangedPriority event in network recorder"
https://github.com/ChromeDevTools/devtools-frontend/commit/8d63e09c2834c45898d89c12b47b757ce8023758 adds a resourceChangedPriority event. We need to bump the version of chrome-devtools-frontend dependency to use this, but bumping to the latest version is non trivial because we need a mock a few more things and cause more global pollution. When we do bump the devtools-frontend version, we can handl

[2016-05-17 18:47] #274 closed

[2016-05-17 21:39] paulirish opened #332 "Placeholder audits"
I think this is a good list for now:

1. Manifest's start_url is in cache storage for offline use
1. Service worker makes use of push notifications, if appropriate
1. Tap targets are appropriately sized for touch
1. Payment forms marked up for with [autocomplete] attributes
1. Login forms marked up with [autocomplete] attributes
1. Input fields use appropriate [type] attributes for custom keyboard

[2016-05-17 22:25] paullewis opened #335 "Reject getSecurityState after timeout"

[2016-05-17 22:50] #332 closed

[2016-05-18 01:56] brendankenny commented on #303
fixed in #319

[2016-05-18 01:56] #303 closed

[2016-05-18 01:58] brendankenny opened #336 "Correct Input Readiness audit"

[2016-05-18 08:42] boopathi commented on #311
@dvotion Can you share the Chrome Canary Path that you used ?

[2016-05-18 08:44] wardpeet commented on #311
Cool cool, i can give it a shot :)

[2016-05-18 08:50] dvotion commented on #311
Of course, the path:
CHROME_CANARY_PATH="/Applications/Google Chrome Canary.app/Contents/MacOS/Google Chrome Canary"

[2016-05-19 14:40] deepanjanroy commented on #326
This is because priority is not reported correctly for redirects. Chromium CL to fix this: https://codereview.chromium.org/1994173002/

[2016-05-19 22:41] hemanth opened #339 "Unable to locate and launch chrome canary."
Two cases:

1. When the chrome installer is mounted.
2. Even after the chrome canary is installed.

First one can be fixed by enhancing the `grep` [RE](https://github.com/GoogleChrome/lighthouse/blob/master/scripts/launch-chrome.sh#L8) to check for `/Applications/`

`"$CHROME_CANARY_PATH` looks like: `/Applications/Google Chrome Canary.app/Contents/MacOS/Google Chrome Canary` looks like we needs s

[2016-05-19 22:52] boopathi commented on #339
Already discussed here - https://github.com/GoogleChrome/lighthouse/issues/311

[2016-05-20 00:05] boopathi opened #343 "Warn when devtools is open"
When trying to use lighthouse with devtools open, we will now get an error saying "Another debugger is attached". Would it be useful to display "You probably have devtools open or something else is debugging your current tab. Close them to use lighthouse".

I tried something and it ended up not so clean - https://github.com/boopathi/lighthouse/commit/75a66ac8a84f35cf46864134f87dcd832f512630

[2016-05-20 00:22] #311 closed

[2016-05-20 05:16] #339 closed

[2016-05-20 13:26] boopathi opened #345 "Circular references in artifacts. Cannot save to file"
Unable to use `--save-artifacts` due to circular references in artifacts and JSON.stringify fails.

[2016-05-22 21:01] NekR opened #348 "manifest's "short_name" isn't required if "name" is short enough"
See this thread for details: https://twitter.com/nekrtemplar/status/734483891071922182

Not sure about what is exactly "short enough", but 4 symbols seems to be.

[2016-05-23 11:52] boopathi opened #349 "Run chrome as a part of lighthouse cli"
I've been trying some stuff with finding chrome and spawning it as a part of CLI.

`lighthouse <url>`

1. When connection fails to Remote Debugger, try launch chrome
2. osx - find chrome and if there is more than 1 installation, use inquirer to let user select
3. I don't know how to tell when chrome remote-debugger is ready since I don't get any message or event that tells it's ready. So I poll(ev

[2016-05-24 01:21] mgerakis opened #351 "--no-mobile flag causes errors."
Using the --no-mobile flag causes various bugs to occur:
  - Using the query 'head meta['viewport']' on a document that lacks such a tag (like a desktop web app) will cause the cli to stall. Also, because driver.querySelector does not reject on elements that are not found (nodeIDs === 0), the catch block in **cli/index.js** on line 88 will also raise an error because no err is passed in and so err

[2016-05-24 17:10] mgerakis commented on #351
`// If this gets to 15s and it hasn't been resolved, reject the Promise.`
`asyncTimeout = setTimeout(reject, 15000);`

I believe this line causes the problem for accessibility. At least when testing kevlar/polymer on youtube, the site takes more than 15s to perform the aXe test. Since no reject handler is passed in, _asyncTimeout_ causes an error to propagate.

[2016-05-24 19:12] #345 closed

[2016-05-24 21:00] paulirish commented on #351
It's been a while since we've run this flag, so I'm not too surprised it's regressed.

thanks for digging in here. Now peeking at your PR (#352)

[2016-05-25 20:32] paulirish opened #356 "Include docs on Firefox's a2HS trigger"
The [trigger logic for Firefox](https://twitter.com/Anti_Hype/status/727970196531625984):
- Nightly firefox
- enrolled in the experiment (currently 50/50 chance). [use this ext](https://addons.mozilla.org/en-US/android/addon/switchboard-experiments/)
- HTTPS
-  5+ visits
- 30secs <= last visit <= 10mins
- "once per URL"

video of the flow: https://t.co/iPjft2cQH6

---

I want to make sure this is

[2016-05-25 21:56] samthor opened #358 "Audit Closure annotations for codebase"
Let's check the codebase for type annotation completeness.

[2016-05-25 21:58] brendankenny commented on #358
currently files are whitelisted for type checking [here](https://github.com/GoogleChrome/lighthouse/blob/fe9de41f24fef9f887a9b60e50a4a15b2e90e18e/closure/closure-type-checking.js#L29)

[2016-05-25 21:59] paullewis commented on #358
Hero

[2016-05-26 13:56] auchenberg opened #362 "Question: Is there an overview of used API's over the Chrome Debugging Protocol?"
Hypothetically, if other browsers, such as Edge, should be able to work with `Lighthouse` which API's would need to get implemented.

Is there an easy way to extract an overview?

[2016-05-26 14:21] paullewis commented on #362
I made [a little patch](./363) for this just now to answer the question. I'll PR it in, but it might need a little wrangling before we land it.

In any case, the ones we use today are:
[code]

With each call's details being found here: http://chromedevtools.github.io/debugger-protocol-viewer/ (though I imagine you already know that exists!)

[2016-05-26 14:23] paullewis commented on #362
Also it's worth noting that a lot of our performance metrics are heavily reliant on tracing data, i.e. save a Timeline JSON file and that's what we output. I'd be high fiving any other browser that supports a similar output, but without that data none of the perf stats can be calculated.

[2016-05-26 18:20] addyosmani opened #364 "Support User Timing"
This would be incredibly useful for libraries/frameworks and would be setup through client-side JS. Are lighthouse interested in exploring support for this @paulirish?

From convo with @brendankenny

[2016-05-26 19:34] wardpeet commented on #364
this would be awesome!

[2016-05-26 20:09] wardpeet commented on #358
so just remove them from whitelist and start fixing through pr?

[2016-05-26 20:24] paulirish commented on #364
cc @mgerakis

[2016-05-26 20:39] paullewis commented on #364
I'm interested in us doing this for sure, we should just outline what the appropriate mechanism is here, as well as how we think we should report it, so that anyone can apply it to their codes

[2016-05-26 20:49] paulirish commented on #364
Here's the basic approach with the devtools-timeline-model

[code]
![image](https://cloud.githubusercontent.com/assets/39191/15589198/a9371888-2346-11e6-92bc-29cafa6b8e1b.png)

[2016-05-26 21:39] paulirish opened #366 "restore speed index raw value reporting"
it was removed by accident

[2016-05-27 00:31] paulirish opened #372 "[P0] Fix failing tests on master"
happened after merge of #321, etc.

i'm on it.

[2016-05-27 00:53] #372 closed

[2016-05-27 02:04] zhaoz opened #374 "Track delayed event handling"
It is common in large applications to have a busy main thread that is unresponsive to events.
It would be nice to be able to label specific events as 'important' and produce timing data on how long it took for that event to be handled on the main thread.

By event, I do not necessarily mean user input. A busy main thread blocks a bunch of events such as XHR 'onload', MediaSource 'sourceopen' event

[2016-05-27 07:52] wardpeet commented on #362
perhaps it's a good idea to consider somekind of strategy pattern so browsers don't have to use the chrome api methods but can use their own. Of course i'm all for one api :p

[2016-05-27 07:56] paullewis commented on #362
Then you have a meta API on the APIs which is kinda no fun really 😞

[2016-05-27 08:15] kdzwinel commented on #248
UX here is really bad - audit takes solid 20s to finish and you can't do anything during that time since popup has to be focused for script to finish. Also, since 20s is already quite a lot (and I assume it will get even longer over time), it'd be nice to show some kind of a progress bar.

IMO audit script has to be moved to the background page and progress should be shown on the extension button

[2016-05-27 09:56] paullewis commented on #248
@kdzwinel totally hear you, but for performance data we need you to not interact with the page, otherwise it gets skewed. But yeah we could give more of an update on the processing. Let me think on it a little first, I know it's an issue, I'm not sure what the best solution is just yet.

[2016-05-27 09:58] kdzwinel commented on #328
Publishing markdown version of the report as a gist makes more sense to me and it is as simple as creating a bin:

[code]

[2016-05-27 10:16] boopathi commented on #248
Spawn a new window in the background and run audits in that ? - Have this as an option in the popup where you can choose to run on current tab or a new window.

[2016-05-27 10:44] kdzwinel commented on #248
TBH I haven't really thought of that, it does complicate things.

Progress bar will definitely ease the pain of waiting a bit. It can also expose which tests are especially time-consuming.

Unfortunately, a new window doesn't change anything as it would have to be focused through the whole audit to avoid skewing the data.

[2016-05-27 11:16] Garbee opened #378 "Chrome sandbox issues on Linux"
On Linux at least, it seems the sandbox is mis-named. It is provided as `chrome_sandbox` however, this causes a core dump at launch unless you launch with `--no-sandbox`. Renaming that file to `chrome-sandbox` fixes the problem.

Can we work-around this in our process until the problem can be investigated more within the builds itself? I'm thinking in our `update-chromium.sh` script we simply unzi

[2016-05-27 11:31] youngdelaney commented on #378
O right
On May 27, 2016 7:16 AM, "Jonathan Garbee" <notifications@github.com> wrote:

[2016-05-27 11:42] paullewis commented on #374
I'm wondering if this tallies closely with the input readiness metric that we're working on in #28. It essentially tries to estimate how problematic it would be if an input event came in at any given point. That said, you're right that it _could_ be extended to other criteria like XHR et al, but it then has a specificity problem: input is something that virtually _all_ apps do, but the other event

[2016-05-27 12:42] Garbee commented on #378
I just talked this roadblock over with Torne on IRC a bit...

The sandbox file itself is not required on newer systems. The [check for it hasn't been removed](https://bugs.chromium.org/p/chromium/issues/detail?id=598454) which is causing the problems. However, older systems may still require it. The thing is, *renaming alone* is only enough to apparently make any errors silent (or will cause it to

[2016-05-27 19:02] brendankenny opened #381 "More robust smoke test testing"
building on existing [smoke test](https://github.com/GoogleChrome/lighthouse/blob/1548a45a0f172526110e7dd1cdeaf4d91cbb31de/scripts/run-smoke-tests.sh), separate from the unit tests. See also #307

[2016-05-27 19:22] brendankenny commented on #378
any reason not to just use `--disable-setuid-sandbox` [as we do on Travis](https://github.com/GoogleChrome/lighthouse/blob/c3bf95ba7ad07d6cd30d0882e98a2e2ea97d6590/.travis.yml#L18)? Reading through the bugs, the check does nothing anymore and the older systems that may be an issue sound like they aren't actually Chromium-supported systems anymore.

[2016-05-27 19:48] Garbee commented on #378
Ah, didn't know that flag existed. Looking in the [bug](https://bugs.chromium.org/p/chromium/issues/detail?id=245376) for it...

  sandbox without disabling seccomp-bpf.

Looks good to me to go with this route, I'll update my PR accordingly.

[2016-05-27 23:46] #378 closed

[2016-05-28 02:11] paulirish opened #382 "Add warning for whitelisted audits that do not exist"
Also I think we should output the list of audits that will not be run, due to your choice.

[2016-05-28 03:04] brendankenny commented on #366
so, this is two issues.

The easier one is that the raw value is correctly being displayed still, it's just being dropped when the raw value is zero (since zero is falsey and the template checks against that [here](https://github.com/GoogleChrome/lighthouse/blob/b9941b19744cd65c1df6611ff1e93894cb2b7a5e/report/templates/report.html#L109)). That's an easy fix if we want to support 0 (though zero is

[2016-05-28 03:31] paulirish commented on #366
I think we're concluding its an upstream issue, but mostly for simple sites with <= 3 frames.
https://github.com/pmdartus/speedline/issues/21

[2016-05-28 03:49] paulirish opened #384 "Getting 0 scores for all the aggregators"
Tracked this down and it happened in the network chains PR from @paullewis.
Pretty sure it's this:

![image](https://cloud.githubusercontent.com/assets/39191/15624967/192ae9a2-244c-11e6-9a5a-71b88f60cb21.png)

these objects never have the `contributesToScore` property on them:
![image](https://cloud.githubusercontent.com/assets/39191/15624971/4f1a87fc-244c-11e6-84f0-af399a69ccd8.png)

as that prop

[2016-05-28 04:07] paulirish commented on #384
Partially fixed with #385

@paullewis the `test/src/aggregators/aggregate.js` test sets `contributesToScore` on audits, but that prop live at the aggregatorType, which isn't isn't included in the criteria once we go into `compare()`

I imagine you'll have another iteration on this, so i'll leave that to you.

[2016-05-28 04:13] paulirish commented on #364
All set, thanks to @mgerakis's work.

screenshot:
![image](https://cloud.githubusercontent.com/assets/39191/15625088/d76de9e8-244f-11e6-8fc4-d41950a79b19.png)

[2016-05-28 07:02] #364 closed

[2016-05-28 07:02] paulirish commented on #351
from offline conversation, this is now settled.

[2016-05-28 07:02] #351 closed

[2016-05-28 07:03] #292 closed

[2016-05-28 12:38] addyosmani commented on #364
Thanks so much for getting this through so quickly @mgeraki!

[2016-05-28 15:49] wanderview opened #389 "check and penalize user-agent string restrictions"
It seems there is a some trend towards using UA strings checks in PWAs.  This is an anti-pattern that should be discouraged.  Progressive sites should really do feature detection and graceful fallback to normal site behavior.

It would be nice if lighthouse check for blatant UA checks that redirect to other sites, produce blocking interstitials, etc.

[2016-05-28 18:40] zhaoz commented on #389
Unfortunately some things cannot be easily feature detected for without a lot of work, e.g. touch events.

Additionally, device performance classification is hard to do client side without penalizing the application in some way. You may want to serve a lower fidelity UI to the user based on the constraints of his/her device.

[2016-05-28 19:03] praveenvijayan opened #390 "UI issue on report"
UI breaking with long content.

<img width="1348" alt="screen shot 2016-05-28 at 11 01 02 pm" src="https://cloud.githubusercontent.com/assets/176655/15629356/1a418bde-2528-11e6-8fff-97780cd6fe8b.png">
<img width="1401" alt="screen shot 2016-05-28 at 10 51 43 pm" src="https://cloud.githubusercontent.com/assets/176655/15629357/1a41fca4-2528-11e6-8b95-605956e2cf9b.png">

[2016-05-29 04:35] youngdelaney commented on #390
why wasn't anyone comment on your stuatus

[2016-05-29 10:42] stuartlangridge opened #392 "Check and penalise sites that require client-side JS"
A progressive web app should be progressively enhanced, and so it shouldn't fail without client-side JavaScript. This may be difficult to test for (most sites don't show _nothing_, they show an empty app which never loads any content), but is an important metric.

[2016-05-29 13:39] paullewis commented on #392
There's definitely something here to check. I think we need to first figure out what's testable in this space, though. As you said, a site could throw something on screen. Though perhaps at least we can check that without JS there is at least something rendered, and perhaps that there is text content?

[2016-05-29 13:49] paullewis commented on #389
I think we do want to check for interstitials for sure, they're bad UX. I am less sold on the redirection, here. While I do think they're less than ideal compared to a RWD site, there might be reasons why this is the case. But let me switch it around, what's the behaviour we would want to test for and advise against?

[2016-05-29 13:56] stuartlangridge commented on #392
I can think of a bunch of ways of doing this, but they're all hack city and will require me to hand back my web developer membership card -- disable JS and then check things like "if the page HTML contains no interactable elements like <a>, you probably haven't rendered anything" and "if clicking on everything on the page never changes anything about the page, you probably require your JS to load

[2016-05-29 17:51] paullewis commented on #392
Yep, perhaps our first attempt at this is fairly loose, and we look to iterate and improve. Certainly I think we can attempt something and see how it pans out. We might be able to get a bunch of signals together (and yep, all of them are hacktown!)

[2016-05-29 18:43] wanderview commented on #389
A well behaved site does not redirect the client to the play store if they don't recognize the user-agent string.  A "progressive" site should be able to run in a browser even if the UA does not offer a prompt to add-to-homescreen.

[2016-05-29 19:41] auchenberg commented on #362
Thanks! I wrote this tool to compare Chrome, Safari and Edge API support, and there's still some way for parity: https://remotedebug-compat-tables.herokuapp.com, but simple tests should be working.

Profiling data is indeed a challenge, but not unsolvable. Requires some more stability.

[2016-05-30 07:25] youngdelaney commented on #382
i hope everyone is enjoying these new number how we are doing better and getting better respon since i been on the team i really don't know what i'm doing just guessing at it

[2016-05-30 09:42] addyosmani commented on #392
Two cents. I strongly advocate for fully functioning without client-side JS as much as possible, but I think it's valuable to be mindful of certain classes of application where this might not be quite as feasible (I guess this is where being fairly loose helps).

For example, https://voice-memos.appspot.com/ can do an SSR for the shell and provide you with static content but it's not particularly

[2016-05-30 09:44] addyosmani commented on #348
Hopefully the ongoing work in https://github.com/GoogleChrome/lighthouse/pull/350 will nail this one down. Good find.

[2016-05-30 14:02] stuartlangridge commented on #392
Certainly I can get behind the idea that, say, Voice Memos might say "sorry, this just flat doesn't work because my JS library didn't load". But an app which says "Hi there {{user.name}}!" when that happens, nobody wants that :)

[2016-05-30 18:11] addyosmani commented on #328
I would be down for a markdown version of the report. It's better than the current copy/pasta/format cycle :)

[2016-05-30 23:12] samccone commented on #392
Here is a simple check...

Disable JS, reload the page ... is anything on the page? If so good job.. if not alert the user that they should provide at least some fallback content.

This is a fine first check and will catch the worst offenders (those that do 100% client side rendering).

We can do more in this space but this is a real good first step. Thanks for the idea @stuartlangridge

@stuartla

[2016-05-30 23:23] samccone commented on #389
ok so what if we did the following...

1. request the page with several U/A strings (safari / chrome / (others))
2. save the html for each one
3. compare them after the fact
4. if they are different... say something?

This would be a fun one to experiment with.. Obviously these steps are not bullet proof however this check would catch "blatant" redirections

thoughts?

[2016-05-30 23:27] stuartlangridge commented on #392
I'd like to take a look at this later this week if I can, yep. (I think even people doing totally client-only rendering put _something_ on the screen; sites which are literally just `<body></body>` are thankfully rare these days (that much of the message has got through!)) but as you say it'll be a first step at least.

[2016-05-31 09:09] boopathi commented on #389
I guess there is no right way to do this. If it was a content diff, it'll be turn out to be incorrect where the pages insert content based on UA - say meta tags, polyfills, different stylesheet, different classes, or styles, etc... Even if we are looking at % of diff, how much might be tough to answer.

Visually similar - capture screenshot for different UA and compare the diff between these scree

[2016-05-31 14:28] samccone commented on #389
yep I agree there is no sure fire way to do this, but an initial pass would at least give us some idea and a place for us to iterate from

[2016-05-31 14:31] samccone commented on #390
This has been fixed. :)

[2016-05-31 14:31] #390 closed

[2016-05-31 15:05] paullewis opened #395 "Resolve istanbul ignored code"
We ignore a few bits and pieces for coverage, for example https://github.com/GoogleChrome/lighthouse/blob/master/src/scheduler.js#L89-L119

I didn't want to block the test coverage work I'm doing on resolving these, but there's a question here of testability, mainly that we should either move those pieces of functionality to a separate module, and test it, or add it to the exported functions, and

[2016-05-31 19:54] paulirish commented on #381
FTR we removed the smoke tests from the module unit tests:
https://github.com/GoogleChrome/lighthouse/commit/62adf05401f759abf54e5fce0346b2a775c51566#diff-eff7ed6076e98649f26365cd1701d25d

[2016-05-31 19:57] brendankenny commented on #381
right, just to be clear, this is to track building on `run-smoke-tests.sh` since we removed the end-to-end tests from the unit tests in #375

[2016-05-31 23:53] brendankenny commented on #395
I think you’re getting at the critical point correctly.

I do think we need to be careful with code coverage of unit tests alone. Code coverage can introduce a perverse incentive to optimize for coverage by sacrificing architecture, understandability, etc. Exposing internal functions just for testing should be a red flag as we’re then testing that the implementation is implemented in a certain way

[2016-06-01 00:25] brendankenny commented on #395
some more thoughts:

- we should be more careful of why a test is being added. Just because internal implementation details are testable doesn't mean they should be if their exact configuration doesn't affect output and ensuring they fit a single execution pattern doesn't ease development.

- centralize mocking. Component-level testing helps here, as there are fewer things to mock and the mocking

[2016-06-01 11:12] paullewis commented on #395
In general I agree with all those points. My overriding concern is that we have some coverage for areas we take for granted as "working" today. I also hear you that the driver stuff may be an issue, but realistically we can over-engineer here, too. We have mocks for the driver, which itself has to do a bunch of stuff, so we lose confidence that the test doesn't itself need testing. I'm of the gene

[2016-06-01 11:15] paullewis commented on #395
Also in _this_ particular situation, saving assets has exactly nothing to do with a scheduler, it's just a case of the assets being available at that point in Lighthouse's lifecycle that we can take advantage of it. Even if there's a certain amount of coupling, I'd rather we made a conscious (and documented) decision here, which is why I've included comments against each `istanbul ignore` statemen

[2016-06-01 12:05] paullewis opened #402 "Add tests for network recorder"
Coverage is pretty low atm:

![screen shot 2016-06-01 at 1 04 21 pm](https://cloud.githubusercontent.com/assets/617438/15708888/6e530c1a-27f9-11e6-8631-e78b63a369e4.png)

@brendankenny you okay to take a look at this?

[2016-06-01 13:29] stuartlangridge opened #403 "Audit tests require strict mode"
$ npm run unit

    /home/aquarius/Programs/Others/lighthouse/test/src/audits/audit.js:22
    class A extends Audit {}
    ^^^^^
    SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode

This is trivially solved by adding `"use strict"` to `test/src/audits/audit.js`, but perhaps that's not done because some other setting is expected somewhere?

[2016-06-01 17:50] paulirish commented on #403
fixed by ec140b93670c96fcd27563fa5dbc7f1e77816724

[2016-06-01 17:50] #403 closed

[2016-06-01 17:56] samccone commented on #403
Thanks @stuartlangridge :clap:

[2016-06-01 17:57] paulirish commented on #403
Yes thanks for reporting! The bug was only there for 6 hours but you managed to hit it during that time. :)

[2016-06-01 18:03] stuartlangridge commented on #403
ha! Story of my life. :)

[2016-06-01 22:56] brendankenny commented on #402
I think there's [not really anything in here](https://github.com/GoogleChrome/lighthouse/blob/b1e091957e045a38b71d077eb6b161cfd394c02a/src/lib/network-recorder.js); it's just a dispatcher for CRI events -> WebInspector events. It is a good case for coverage from an end-to-end test. On a single run you'll get coverage of each line for each network request to load a page.

Mocking WebInspector would

[2016-06-02 22:57] #348 closed

[2016-06-03 05:59] NekR commented on #348
Great 👍

[2016-06-03 17:28] paulirish commented on #336
Brendan is gonna take the new work in https://codereview.chromium.org/1992303003 and adapt our impl  to use it.

[2016-06-06 20:59] paullewis opened #415 "Some thoughts on n passes & configuration"
Below is a suggested format for configuring a Lighthouse run. The theory here is that you configure passes, audits and the report you want out of the other side. I figure we can encode what we currently have as the default and essentially allow anyone to override it with the `.lighthouserc` file.

As part of this we can allow a couple of extra flags:

* `--config=/some/config.json`: Allows you to

[2016-06-08 07:28] brendankenny commented on #415
My main concern with this proposal is that while lighthouse becomes super configurable (with a configuration default for the status quo), there's basically only a state of configure nothing or configure everything. We run the risk of gaining configurability in exchange for making it a pain to configure anything. This can mean losing some usability even if small configs are taken as diffs on the de

[2016-06-08 07:37] brendankenny commented on #415
as a concrete example, audit whitelisting (with associated gather culling) is amazing while writing audits. It would be very unfortunate to lose that with this change.

[2016-06-08 09:14] paullewis commented on #415
We can either allow overriding of defaults, or we allow partial configs, i.e. you don't set `aggregations`, we don't run them. We can also break this down to multiple files, and then we `Object.assign` to a single config. So you cherry pick the bits you want to override.

This we can be smart about. We still have the requiredArtifacts object, and we can use that still if we want to check that post

[2016-06-08 10:11] brendankenny commented on #415
It isn't being smart about this, though, which is part of my point. If I'm asking for a set of gatherers and an audit in my config, wouldn't I expect those gatherers to always run? What are the rules here?

on the contrary, a refactor in multiple, separate, decoupled stages, each runnable and correct on their own? sounds great :P

that didn't land, and not sure what it has to do with reducing redu

[2016-06-08 10:20] paullewis commented on #415
Yeah we can iterate some more and highlight unnecessary gatherers. At the moment if you define it, it gets run. Which I think is a pretty sensible default.

I can make this one bigger instead?

It didn't, it was about limiting the amount of stuff that LH needed to run, which is one of the major drivers of having a config. Works well for devving LH, and for anyone who _does_ want to limit the audit

[2016-06-08 10:39] paulirish commented on #415
Good conversation here so far.

I don't see a need to split apart the PR. Yes, there are a lot of changed files... but many of them rote; the substantial changes are easy to spot.
Moreover, The test coverage from last week is good money in the bank here, and it provides nice evidence that the PR is stable.

It's obvious to me that in `master`, our specific ordering in both lighthouse.js and schedu

[2016-06-08 11:00] paullewis commented on #415
@paulirish fair enough, I've added that in #414. I've also pushed a [copy of this to origin](https://github.com/GoogleChrome/lighthouse/tree/refactor) so if you feel you need to make changes before this lands you can do that.

[2016-06-09 10:04] #415 closed

[2016-06-09 10:04] #395 closed

[2016-06-09 11:50] niutech opened #418 "Check for Application Cache support"
My web app targets older browsers, which do not support Service Workers, only Application Cache. I do not need to implement Service Workers since AppCache works fine. Can Lighthouse check for AppCache support too?
Progressive web apps should be backwards compatible. Why should I be penalized for not using the latest bells'n'whistles like Service Workers when the old AppCache is enough and works al

[2016-06-09 15:13] samccone commented on #418
I like the idea of detecting if a site has appcache, since service workers are not everywhere yet. :+1:

[2016-06-09 16:37] paullewis commented on #418
AppCache isn't something I would recommend people deploy today, and I wouldn't really want Lighthouse to imply that they should. On balance I don't think we want to add this.

[2016-06-09 16:37] slightlyoff commented on #418
We will not do this. See: https://infrequently.org/2016/05/service-workers-and-pwas-its-about-reliable-performance-not-offline/

[2016-06-09 16:38] #418 closed

[2016-06-09 17:34] samccone commented on #418
Hmm interesting.

Let me give you my usecase. I would like to provide users an experience that works "offline" for IOS. What should I do for these users?

While I agree the network flake situation is a good counter point for appcache.. however providing my users with a 0 experience is no good imho. I want to provide an experience that gets better and better depending on what their given browser su

[2016-06-09 20:34] niutech commented on #418
I support @samccone's view. Until Service Workers are widely supported, AppCache should not be deprecated.

[2016-06-09 21:36] paulirish commented on #366
@brendankenny this is closable now yah?

[2016-06-09 21:36] #384 closed

[2016-06-09 21:37] paulirish commented on #298
Would be nice but the current procedure aint terrible.

Let's optimize towards DT anyhow. :)

[2016-06-09 21:37] #298 closed

[2016-06-09 21:38] paulirish commented on #293
nearly tackled with the new config stuff by @paullewis

[2016-06-09 21:38] #293 closed

[2016-06-09 21:41] paulirish commented on #343
This seems good.  left another comment on https://github.com/boopathi/lighthouse/commit/75a66ac8a84f35cf46864134f87dcd832f512630

[2016-06-09 21:43] brendankenny commented on #366
Except on the speedline side. On our side, a 0 score should now be an error, yeah

[2016-06-09 21:43] #366 closed

[2016-06-09 21:43] #382 closed

[2016-06-10 02:09] paulirish commented on #392
fixed now with #405 being landed

[2016-06-10 02:09] #392 closed

[2016-06-10 02:10] paulirish commented on #358
@samthor any update on this?

[2016-06-10 02:11] #362 closed

[2016-06-10 03:41] samthor commented on #358
See #360.

Then I went on holidays. I'm back next week.

[2016-06-10 05:08] paulirish opened #420 "--flag to output trace-categories required"
For the standalone artifact processing usecase, we need to share what trace categories we expect, so the driver can collect them successfully.

FWIW these are the categories: https://github.com/GoogleChrome/lighthouse/blob/a0c8b05d4c706821535ae365c7ed2ac0cc3373a3/src/lib/drivers/driver.js#L30-L42

[code]

Parent ticket: #422

[2016-06-10 10:25] boopathi opened #421 "Config in extension?"
[Question]

Lighthouse now requires a config object with `passes`, `audits` and `aggregations`. How to set this in extension? I'm not able to run the extension. This fails in `isValidConfig()`.

I see the only options passed from extension to lighthouse.js are -

[code]

[2016-06-10 10:34] paullewis commented on #421
Yeah I did a big refactor to make large parts of the Lighthouse flow generic, and #414 fixes the issues introduced by the change. Hopefully we'll land that soon.

[2016-06-10 22:53] paulirish opened #422 "Lighthouse as trace processor"
In addition to driving the browser to load a page, we'd like Lighthouse to also function as an offline trace processor.

This will only work for a subset of existing audits, however the common usecase is for performance metrics.

Lighthouse will require 2 things.

1. A trace with these categories enabled: https://github.com/GoogleChrome/lighthouse/blob/a0c8b05d4c706821535ae365c7ed2ac0cc3373a3/src/

[2016-06-10 23:13] paulirish commented on #422
A few steps I'm seeing

[ ] ingest the "event-log" of Network protocol events and chuck them into Network Recorder to build our model.
[ ] add the CLI flag and support for trace.json instead of URL as primary `lighthouse` argv
[ ] bypass the gatherer stages completely
[ ] something about the configuration?

[2016-06-11 00:13] paulirish commented on #374
I've taken this item to scheduler-dev as they might have a general solution:
[Measuring latency of event dispatch - Google Groups](https://groups.google.com/a/chromium.org/forum/#!topic/scheduler-dev/M3XKZGJSYgw)

[2016-06-13 07:17] #421 closed

[2016-06-13 20:24] jeffposnick opened #425 ""Works Offline" should simulate a navigation request"
The "works offline" audit [currently](https://github.com/GoogleChrome/lighthouse/blob/a0c8b05d4c706821535ae365c7ed2ac0cc3373a3/src/gatherers/offline.js#L29) performs the following:

[code]

Some service worker implementations (like the one `sw-precache` [uses](https://github.com/GoogleChrome/sw-precache/blob/1ca4494e40da50364cce34b7daa01259c848f0a4/service-worker.tmpl#L120)) have logic in place to

[2016-06-13 20:27] samccone commented on #425
the iframe approach sounds good. We could easily do that.

[2016-06-13 20:32] paullewis commented on #425
@jeffposnick Do you fancy giving that PR a go?

[2016-06-14 11:24] paullewis opened #427 "Audit whitelist not working"

[2016-06-14 11:38] paulirish opened #428 "Address dependency tree size"
* [ ] [yargs](http://yargs.js.org/) is already available in g3. do we want to move to it and leave meow?
* [x] do we need to address babar/loud-rejection/meow within speedline? possible to spoof via shrinkwrap, but unclear if that's even neccessary.
* [x] `devtools-timeline-model` has to match the version speedline uses.

[2016-06-14 11:53] paulirish commented on #427
+ add the logging we had before.

[2016-06-14 11:55] #343 closed

[2016-06-14 12:52] paulirish commented on #427
The PR landed but I'm not sure its working totally.

[code]

it appears to not run the rest of the audits, but I am still seeing 3-ish passes  on the page load.

[2016-06-14 13:14] paullewis opened #433 "Boost test coverage"
We've got a ~4% regression on testing, which is due to my monster refactors of late.

[2016-06-14 13:20] #427 closed

[2016-06-14 21:23] brendankenny opened #438 "screenshot gather/save broken"
[this line](https://github.com/GoogleChrome/lighthouse/blob/487744ec1da735715b0c5607592c7b299f655f4d/lighthouse-core/lib/asset-saver.js#L63) is resulting in `var shots = undefined;` in the saved *.screenshots.html, I assume because the artifact is actually on `artifacts.Screenshots`

[2016-06-14 21:39] paullewis commented on #438
It's `artifacts.ScreenshotFilmstrip`

[2016-06-14 21:41] #438 closed

[2016-06-14 22:04] brendankenny commented on #428
these are only loaded by speedline's `cli.js`, so aren't needed by us (and verified that manually deleting `babar` and `loud-rejection` still gets us full speedline results.

@zhaoz not sure how the equivalent of `npm install` works for you. Do you control what dependencies are needed independent of what's in speedline's `package.json` file? If so, then you should be fine just skipping those two c

[2016-06-14 22:18] brendankenny commented on #428
Moving to yargs is fine with me; we don't do anything crazy on the command line so the migration wouldn't be too difficult, and [not much has changed since the 3.30 version](https://github.com/yargs/yargs/blob/master/CHANGELOG.md#v3300-20151113-1629-0700) we currently have. Someone with interest in touching the cli is welcome to take this.

[2016-06-14 22:19] #402 closed

[2016-06-14 22:20] brendankenny commented on #336
closing since this will now be covered by #28

[2016-06-14 22:20] #336 closed

[2016-06-15 14:24] paulirish opened #442 "fix smoke test"
Broken at the moment

[2016-06-15 15:38] #442 closed

[2016-06-17 01:03] brendankenny opened #446 "occasional errors in critical request chain gather"
every few runs with default test site:
[code]

[2016-06-17 04:54] #446 closed

[2016-06-17 08:28] paulirish opened #447 "Investigate integration: JavaScriptIssuesStudy"
@brendankenny came across this. looks interesting enough for some free time investigations.

https://github.com/marijaselakovic/JavaScriptIssuesStudy

Not sure if they have heuristics to identify them, but perhaps they started down that direction..

[2016-06-17 08:31] paulirish opened #448 "Investigate integration: sitespeed coach"
https://github.com/sitespeedio/coach
https://chrome.google.com/webstore/detail/coach-panel/olecfjmnejnkjipoicfpneceppjeaemo/

The results from paulirish.com:
![image](https://cloud.githubusercontent.com/assets/39191/16144952/808c66cc-3476-11e6-8a38-2c854a0c18ec.png)

There's some nice stuff in here, so I'm sure we can leverage it, similar to our dependency on axe-core.

[2016-06-17 20:58] brendankenny opened #449 "move to requiring Node 6 when LTS"
With the release of 6.2.2, I think it may be time.
- Node 6 will be the [next LTS version](https://github.com/nodejs/LTS) (skipping 5)
- it will give us a [few more es6 features](http://node.green/) like
  - [default parameters](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Default_parameters) (avoiding the `|| defaultValue` dance and especially eliminating the verbos

[2016-06-20 05:53] wardpeet commented on #449
maybe add a .nvmrc file as well for the nvm users :)

[2016-06-20 05:53] wardpeet commented on #448
+1

[2016-06-20 05:54] wardpeet commented on #433
would you mind having help on this issue?

[2016-06-20 12:43] addyosmani commented on #449
I believe this is being skipped to 7

[2016-06-20 15:24] ankon opened #451 "[Mac OS X] launch-chrome.sh gets confused with multiple Canary application entries"
On my 10.11.5 system:
[code]

There are seemingly two entries in the lsregister output (trimmed):
[code]
 I have no real idea how these entries came to be, or how to change them (or whether I even should), but maybe it would be enough if the script would check them in order, and pick the first matching one? Of course, the "better" approach looks like it should check the 'container mount state' :)

[2016-06-21 10:58] paulirish opened #454 "Handle priority changes in network-recorder"
@deepanjanroy knows more abou this than me, but i think we have some TODOs here (now that the prioritychanged events landed in blink)..

1. bump our devtools-frontend module to a newer version
2. hook up the prioritychanged protocol event into network-recorder

deep, that about right?

[2016-06-21 11:05] #28 closed

[2016-06-21 16:35] deepanjanroy commented on #454
Correct. I'll get on it.

[2016-06-21 16:59] brendankenny commented on #454
one thing to watch with our dependencies going forward is the google3 import. If we bump chrome-devtools-frontend we need to make sure speedline is compatible with that version (but I assume most changes with chrome-devtools-frontend are backwards compatible?)

[2016-06-21 19:33] zhaoz commented on #428
@brendankenny we can control dependencies independent of the package.json so we should be able to skip those things.

[2016-06-21 22:07] #326 closed

[2016-06-22 07:27] paulirish opened #458 "Resolve audit result values"
#### Currently...

* `result.value` - most of the time is actually === a score
* `result.rawValue` - many times its a string of "1232.32ms"  .. not exactly "raw"

#### Proposal
* `result.score`
* `result.rawValue` - which is either a number or boolean, never a string
*  `result.displayValue` - which is a string

[2016-06-22 07:33] brendankenny commented on #458
LGTM

[2016-06-22 09:36] paullewis commented on #458
LGTM

[2016-06-22 11:20] wardpeet opened #459 "Pull requests are not being started by travis ci"
Can someone have a look or restart the checks?

[2016-06-22 13:23] paullewis opened #460 "Straw man: amortization cost"
Just pondering our perf metrics a little. Today we capture a bunch of metrics around first load (FMP, TTI, etc), and let's assume that TTI roughly correlates to Load, i.e. you're now interactive, whether that means scrolling or something else. Let's also say that for first load Lighthouse reckons your TTI is 3,000ms.

Future loads of the page in question will hopefully make use of caching and a SW

[2016-06-22 15:03] boopathi commented on #451
It's already kinda fixed in latest master though.

https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/scripts/launch-chrome.sh#L7

For now, you can unmount the `/Volumes/Google Chrome Canary` which you used to install Google Chrome Canary.

[2016-06-22 15:39] ankon commented on #451
Fair enough, didn't find #340 when looking whether this was filed already.

[2016-06-22 15:39] #451 closed

[2016-06-22 15:43] wardpeet commented on #458
I'm working on this ticket as we speak but what should happen with rawValue when it's a color? should it just say true?

[2016-06-22 15:55] #459 closed

[2016-06-23 09:26] paulirish commented on #458
Theme-color?  TBH it's kinda superfluous that we report it. The rawValue there should be boolean. Can move the color into `extendedInfo`

shrug...

[2016-06-23 10:33] wardpeet commented on #458
I'll just prepare a pr and i'll just wait for feedback :p

[2016-06-23 18:02] #428 closed

[2016-06-23 20:08] paulirish commented on #454
fixed by #463

[2016-06-23 20:08] #454 closed

[2016-06-23 20:35] cdata opened #467 "Audit appears to hang in Chrome Canary for https://meatscope.camera"
Browser: Chrome Version 53.0.2777.0 canary (64-bit, OSX)

I tried to run the Lighthouse analysis on https://meatscope.camera. Unfortunately, towards the end of the audit the browser seems to hang, requiring the user to force-quit Canary to get back to a normal state.

![http://i.imgur.com/8zABdHk.gif](http://i.imgur.com/8zABdHk.gif)

[2016-06-23 20:35] deepanjanroy commented on #329
Closing - dup of #454

[2016-06-23 20:35] #329 closed

[2016-06-23 20:44] cdata commented on #467
Update: I would like to downgrade this issue a little. I let the Lighthouse analysis run for about ~10 minutes and it eventually finished. Still, this seems like an abnormally long time to expect a user to wait, and the analysis prevents Canary from closing in the mean time.

[2016-06-23 21:17] paulirish commented on #467
Thanks, I've seen this hang when its on `about:blank`.
I believe we've got a race condition while waiting for the load event or something along those lines..

[2016-06-27 16:56] paulirish commented on #449
I don't think we need to be in a rush here. A few folks who want to use Lighthouse are on v4 still, and v5 is a challenge for them.

Once LTS ships in october, we'll be in a better place for this sort of upgrade.  But until then, I'm in favor of staying with 5.

[2016-06-27 21:00] brendankenny commented on #449
I'd be ok waiting on 6 until it hits LTS

[2016-06-27 21:05] mgerakis opened #472 "Semver CLI dependency"
The cli uses semver, but it is not a required dependency in package.json.

[2016-06-27 21:19] #472 closed

[2016-06-27 21:21] #420 closed

[2016-06-27 21:22] #447 closed

[2016-06-27 21:27] paulirish commented on #260
Closing this, as we're not getting a signal this would be valuable.

[2016-06-27 21:27] #260 closed

[2016-06-27 21:28] paulirish commented on #358
sup!

[2016-06-27 21:37] brendankenny opened #474 "url shouldn't be required for --list-all-audits or --list-trace-categories"
with the move to yargs in #456, the url became a required argument for the cli. The downside of this is `lighthouse --list-all-audits` (or `--list-trace-categories`) now exits with "`Please provide a url`".

There may be a way to use yargs's `command()` to handle these, but I'm not sure how that works with grouping. Another option would be to drop the `demand` of the url and move the handling of i

[2016-06-27 21:37] brendankenny commented on #474
@wardpeet do you want to take a look at this since you were already in the thick of it? Feel free to say no :)

[2016-06-27 21:50] paulirish opened #475 "Travis: enable testing of node v4 + --harmony"
Thus bringing our test matrix to:

* v4 + harmony
* v5
* v6

Any takers?

[2016-06-27 21:57] brendankenny commented on #475
emphasizing *not* running v5 with `--harmony`, which makes this a bit harder, but ensures we really do run on vanilla v5.

[2016-06-27 23:23] mgerakis commented on #475
One solution that comes to mind would be to move the npm scripts into a Makefile. The scripts then become "make lint/smoke/etc". Inside the Makefile, we can check the version of node and if that version matches 4 we run files through node with the --harmony flag

[2016-06-28 00:59] brendankenny opened #476 "proposal: rename lighthouse-core/driver/ to lighthouse-core/gather/"
confusion is strong between the contents of driver/, contents of driver/drivers/, and driver/index.js (which contains class `Driver`) and driver/drivers/driver.js (which contains class `DriverBase`) :)

Really this directory is about running gatherers (via an interface to chrome) and producing artifacts, and a small rename could clear up some confusion, I think. One approach:

- renaming lighthous

[2016-06-28 01:05] paulirish commented on #476
yes definitely.

Only thing I wonder about is if we should call the folder structure /artifacts/ and more or less s/gatherer/artifact/.   Noun-centric instead of verb-centric.   But just an idea.

[2016-06-28 19:58] brendankenny commented on #474
fixed in #478

[2016-06-28 19:58] #474 closed

[2016-06-28 20:20] wardpeet commented on #474
@brendankenny sorry had a busy weekend, looks like it's fixed :)

[2016-06-28 20:21] wardpeet commented on #458
Fixing some bugs, almost done so will have a pr ready today or tomorrow

[2016-06-28 21:16] pantaluna opened #479 "false positive: Site is on HTTPS whilst the website is not."
The Lighthouse report lists a false positive for "Network connection is secure -> Site is on HTTPS" := Yes whilst the website is only on HTTP so it should report := No, right?

You can test it with this mobile website / webapp (I added the manifest today):
    http://m.feestdagen-belgie.be/

[2016-06-28 21:33] brendankenny commented on #479
whoops, yes, that's a bug.

`git blame d'oh`, that's mine

[2016-06-28 21:52] paulirish commented on #458
awesome! thanks for the update man

[2016-06-28 22:04] pantaluna commented on #479
Thanks for the quick action.
Hmm I reported a bug that will give my webapp less points :(, how honest can a man be.

[2016-06-28 22:11] brendankenny commented on #479
ha, well, hopefully we can introduce a different bug that raises your score while fixing this one :)

[2016-06-29 01:02] brendankenny opened #483 "when url redirects, requests with no parent are attributed to original url in CRC report"
and if 'about:blank' somehow sneaks in there, the `CriticalRequestChains` formatter throws.

Simple example is `node lighthouse-cli/index.js http://pwa.rocks` (which redirects to `https://pwa.rocks`). I get this report (see last `images/icon-228x228.png` entry):
[code]

A bigger issue is `node lighthouse-cli/index.js https://aliexpress.com`, which redirects several times. The report:
[code]
the `a

[2016-06-29 01:03] brendankenny commented on #483
adding @deepanjanroy in case you have time to figure out what's going on here

[2016-06-29 03:59] jcdalton2201 opened #486 "running CLI gets cannot find module handlebars"
When i run the cli i get the following error.
module.js:442
    throw err;
    ^

Error: Cannot find module 'handlebars'
    at Function.Module._resolveFilename (module.js:440:15)
    at Function.Module._load (module.js:388:25)
    at Module.require (module.js:468:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (/usr/local/lib/node_modules/lighthouse/lighthouse-core/report/

[2016-06-29 08:56] paullewis commented on #486
Is this off master?

[2016-06-29 14:46] deepanjanroy commented on #483
About the first case - this issue is not specific to redirects. If you go directly to `https://pwa.rocks`, the request to the icon is still attributed to Initial Navigation. I'm tempted to say this is working as expected - favicons and icons are handled quite differently by the browser and is not directly initiated by the html document. For example, the browser will still request a favicon at the

[2016-06-29 15:45] deepanjanroy commented on #483
Looks like aliexpress is indeed navigating to about:blank for an iframe.

![screenshot from 2016-06-29 11 34 58](https://cloud.githubusercontent.com/assets/3505637/16458601/9a2d730c-3ded-11e6-8338-34ac31a67019.png)

Since this navigation is done by the page, it should show up on the critical request chain. The initiator of this request should probably be the js script that does the navigation - I'

[2016-06-29 17:26] jcdalton2201 commented on #486
the package.json has v1.0.2.
This was installed with npm install -g GoogleChrome/lighthouse
with npm version 3.9.5 node version 6.2.2
i then ran
[code]
then after chrome came up fine i ran
[code]
this is where i get the handlebars errors

[2016-06-29 17:26] jcdalton2201 commented on #486
oh and this is a very fresh install of node

[2016-06-29 17:46] brendankenny commented on #486
Interesting. I'm running node v5.11.0 and running
[code]
and then
[code]

I'm not seeing any issues; no runtime errors and the html report looks correct.

Maybe some interaction with node v6 or a change in npm? Travis is testing with the latest node and also not seeing a problem, but it installs via git.

[2016-06-29 18:33] samccone commented on #486
This may be due to a bad publish if whoever published the latest version did it under 6
https://github.com/npm/npm/issues/5082

[2016-06-29 20:22] paulirish commented on #486
btw @samccone this is installing from the repo, not using a published version.

----------------------------------------------

I can repro.

![image](https://cloud.githubusercontent.com/assets/39191/16467464/544f2d4e-3dfc-11e6-9289-b5ee78da613f.png)
![image](https://cloud.githubusercontent.com/assets/39191/16467474/5c237a66-3dfc-11e6-8d18-4ab7b63fc998.png)

Note the size of the installed deps. It

[2016-06-29 20:32] wardpeet commented on #475
make or any other helper is probably much easier but you could do something like this
`$(test $(node -v) =~ "^v5.*" && echo $(npm bin)"/mocha --harmony" || echo $(npm bin)"/mocha") $(find lighthouse-core/test -name '*.js') --timeout 60000` inside your package.json of course it's not really pretty. probably can be written even shorter

[2016-06-29 21:00] samccone commented on #486
w e i r d :bug:

[2016-06-29 23:31] brendankenny opened #489 "Properly account for non-top-level `toplevel` tasks for estimating input latency"
@skyostil says:

"The Blink scheduler runs several tasks within a single message loop iteration to reduce the overhead of going in and out of the loop. Here's an example:

![1d4d6c54-405a-4432-81f1-1acef5f731fb](https://cloud.githubusercontent.com/assets/316891/16472071/30cba0e0-3e16-11e6-9464-4bf47a177664.png)

There's just one `MessageLoop::RunTask` at the top, but three `TaskQueueManager::Proce

[2016-06-30 04:52] wardpeet commented on #349
Probably better to wait for headless chrome?

[2016-06-30 05:50] #479 closed

[2016-06-30 05:51] #483 closed

[2016-06-30 13:11] samdutton opened #490 "Audits for contexts with connectivity, data cost, device, power and browser constraints"
A bug to gauge what Lighthouse could/should test for in contexts with any of the following constraints:

• Low bandwidth (poor 3G or worse) and high latency (RTT times).
• High data cost (such as data-roaming scenarios or contexts where data is expensive relative to median income).
• Low-spec devices (limited CPU, memory and storage).
• Small, low-spec screens (small viewports, low display quality

[2016-06-30 17:02] samccone commented on #490
^ are you considering that we have common gotchas that we scan for? such as missing css prefixes? using es2015 features ... using unsupported DOM apis?

Those three items are the most common issues that I have found when I have been working with UC browser.

[2016-06-30 17:26] samdutton commented on #490
Yes — my examples are HTML and CSS, but I was also thinking of unsupported JavaScript APIs and syntax.

[2016-06-30 18:36] brendankenny opened #491 "refactor so browser driver isn't instantiated if not running gather stage"
it is convenient to be able to [inject it into the runner](https://github.com/GoogleChrome/lighthouse/blob/c81118b65d95dcc918b499393db65ca7d9f853af/lighthouse-core/index.js#L54) since we differentiate on extension vs CRI driver at that point, but anyone using lighthouse purely as an artifact processor is never going to need the driver.

Not a huge priority right now since the CLI version doesn't d

[2016-07-02 21:10] wardpeet commented on #475
@paulirish @brendankenny what do you guys think? Do it native with bash or rather have something in between? I could do a pr with just a one liner and see what you guys think?

[2016-07-06 07:49] paullewis commented on #433
We're in a good spot here, closing.

[2016-07-06 07:49] #433 closed

[2016-07-06 07:49] #56 closed

[2016-07-06 07:49] #138 closed

[2016-07-06 09:22] paullewis opened #492 "yargs throws errors for CLI"
@wardpeet This seems to be related to your work. I get

[code]

I've tried version 3.30.0 that's in the package.json, as well as upgrading to 4.7.1, but neither is playing ball. I'll keep plugging away, see if I can figure out what's what.

[2016-07-06 09:37] paullewis commented on #492
Doing a quick sorted list of everything that yargs contains I get:

[code]

Which doesn't include group... but group is listed [in their docs](https://github.com/yargs/yargs/tree/v3.30.0#groupkeys-groupname)... wat?

[2016-07-06 09:38] paullewis commented on #492
Same, incidentally, for 'choices'.

[2016-07-06 10:04] paullewis commented on #492
Ignore me... well, a fresh clone and npm install of Lighthouse seems to have resolved it. Score an 11 for weird.

[2016-07-06 10:04] #492 closed

[2016-07-06 10:23] wardpeet commented on #492
ok np :) if it happends again just let me know than I can have a look.

[2016-07-06 21:26] brendankenny commented on #475
what about passing an argument into the npm scripts and let the `travis.yml` handle the node version detection part?

[2016-07-06 22:04] wardpeet commented on #475
sounds better but no idea how to do that :)

[2016-07-06 22:08] triblondon opened #495 "Remove standalone / fullscreen requirement"
The requirement for apps to have a display property of 'standalone' or 'fullscreen', implemented as a result of #143, is problematic.  Many in the web community object to this being considered a web best practice, notably articulated by Jeremy Keith in his [post](https://adactio.com/journal/10708), though I'm not endorsing all the sentiments he expresses there.

For me the question is whether Ligh

[2016-07-06 22:42] paulirish commented on #495
Really, it's both. And when there is a conflict between these two goals, then we need to resolve it as Chrome shouldn't require something that violates best practices.

I think it'd be good if Lighthouse required _a value_ for the `display` property, but not requiring any particular value. We certainly want the developer to decide what makes the most sense for their users.

I believe there's an ou

[2016-07-06 22:43] samccone commented on #495
+100

[2016-07-06 23:15] brendankenny commented on #495
Should this be two audits? It sucks to say, "yep, you're 100% good on add to homescreen prompting" when they aren't.

As pointed out in https://github.com/w3ctag/spec-reviews/issues/123#issuecomment-230384554, installability signals are non-normative and up to the UA. If we expand add-to-homescreen auditing to e.g. [Firefox (#356)](https://github.com/GoogleChrome/lighthouse/issues/356), there will

[2016-07-06 23:26] brendankenny commented on #495
Actually, is setting `display` to something a best practice? The value [falls back to `browser` if unset](https://w3c.github.io/manifest/#display-modes), which means no manifest should ever fail #496.

[2016-07-06 23:46] triblondon commented on #495
The manifest spec does not require the property to be set, which is why it has a default. Lighthouse is not in the business of changing web platform specs by the back door, so why be contrary to what is a very clearly expressed spec point? If a web app best practice were to have a standalone display mode, then wouldn't that be the default for any app that shipped a manifest with no display propert

[2016-07-07 01:08] marcoscaceres commented on #495
The decision to make "browser" the default was made because we (those of us working on the Web Manifest spec) foresaw the issues outlined in the "regressive web apps" blog post, and because we found extensive evidence that legacy applications rely heavily on the presence of, at least, a back button [1][2] - even if they claim otherwise.

We also acknowledge that other display modes don't provide t

[2016-07-07 01:36] brendankenny commented on #495
I think we're mixing a few issues here, so I'm confused by exactly what's being talked about :) To be completely explicit, I believe these are the points being discussed:

1. **`display === 'fullscreen' || display === 'standalone'` is not a PWA "best practice" test**

  Everyone who has commented so far seems to agree with this, so I'm not seeing an issue. Obviously there are those who disagree, h

[2016-07-07 02:38] triblondon commented on #495
@brendankenny we're only mixing issues in the sense that they are being mixed by Lighthouse itself. Paul said earlier that Lighthouse is both a community testing tool for verifying best practice, and also a means to assert compliance with Chrome's installability criteria, and that these should be one and the same.

That being the case, all these issues are inextricably linked and are issues with L

[2016-07-07 09:58] paullewis commented on #495
You're right, and I think the best thing to do is deal with them individually, as Brendan's done. I think it's right that we follow the spec when looking for a `display` property, and that we can acknowledge that a non-value or a value of `fullscreen`, `standalone`, or `browser` is valid. That's distinct from whether you get installability in any given UA.

We express Chrome's installability polic

[2016-07-07 10:18] PaulKinlan commented on #495
@marcoscaceres got me thinking about an different approach to what @brendankenny was suggesting.

Would the set of tests for standalone be different from browser display mode? If for example, you don't offer navigation aids etc in standalone that is more of an issue than if you didn't have them when you just launch a browser tab.  It might be worth exploring the tests that are critical based on th

[2016-07-07 10:20] paullewis commented on #495
This is a good point, and it taps into the fact that the different display modes imply different UX requirements for users. At this stage, the conversation is primarily around installability and ensuring the messaging is accurate for multiple UAs. But you should definitely open another issue where we can discuss how to test a site / app differently depending on display modes.

[2016-07-07 14:09] hsablonniere commented on #486
Has anyone found a way to fix it?

I'm having the same things as @paulirish screenshots with :

[code]

[2016-07-08 02:21] #458 closed

[2016-07-08 05:54] paulirish commented on #486
I have a workaround proposed in #500

[2016-07-08 05:55] paulirish commented on #486
(The very manual workaround is to cd to your `node_modules/lighthouse` folder, cd into `lighthouse-core` and run npm install, then go into `lighthouse-extension` and npm install. )  But hopefully we can automate that with this fix.

[2016-07-08 16:09] pierredewilde commented on #486
The manual workaround proposed by @paulirish solves dependencies issue but another error appears when running lighthouse CLI:

[code]

[2016-07-08 21:33] paulirish commented on #486
okay folks, the -g install should be fixed in master now. go ahead and try it.

@pierredewilde you'll want to do this instead: `npm explore -g lighthouse -- npm run chrome`  i'll update that error message.

[2016-07-08 21:37] paulirish commented on #486
@pierredewilde fixed for ya 466beff

[2016-07-08 22:41] pierredewilde commented on #486
Thanks for the more precise error message.

The -g install seems not yet fixed:

[code]

BTW `lighthouse --version` should return something like `1.0.5`.

[2016-07-10 01:13] kyleholzinger commented on #475
What about using a more node friendly task runner like gulp or grunt? Might help with the node versioning as well

[2016-07-11 10:39] crhym3 opened #503 "Can't run cli on linux: Error: Cannot find module 'handlebars'"
$ npm install -g googlechrome/lighthouse
    /usr/local/nodejs/bin/lighthouse -> /usr/local/nodejs/lib/node_modules/lighthouse/lighthouse-cli/index.js
    ...

[code]

Running on a 64bit linux 4.2.0-38-generic:

[code]

FWIW the same thing was happening on node v4.

[2016-07-11 11:21] paullewis commented on #503
Looks like a dupe of #486?

[2016-07-11 12:13] crhym3 commented on #486
Same as @pierredewilde. Not fixed for me either (#503).

[2016-07-11 12:15] crhym3 commented on #486
Also, I don't see how https://github.com/GoogleChrome/lighthouse/commit/466beffc3499906feb195d707ed8991b1343e06f fixed this issue. This should be reopened.

[2016-07-11 12:21] paullewis commented on #486
I'll take a look at this now, see if I can repro.

[2016-07-11 12:22] crhym3 commented on #486
Installing this locally from current master results in a slightly different error:

[code]

Installed with:

[code]

[2016-07-11 12:27] paullewis commented on #486
@crhym3 Yours looks to be an issue based on the fact that deps might not be installed properly when npm installing non-globally. Going to close this again as #500 does solve it for global. We should deal with this in a separate issue.

[2016-07-11 12:27] #486 closed

[2016-07-11 12:29] crhym3 commented on #486
@paullewis it was a side not really. global install doesn't work for me either: #503.

[2016-07-11 12:30] paullewis commented on #486
@crhym3 your install line was without the -g flag: `npm install googlechrome/lighthouse`, from what I can see.

[2016-07-11 12:30] paullewis commented on #503
With this one did node _install_deps.js run? It doesn't look like it.

[2016-07-11 12:32] crhym3 commented on #486
Hm.. do you not see the `-g` in #503?

[2016-07-11 12:49] crhym3 commented on #486
Sorry for the noise. This is indeed fixed in lighthouse. My local environment has npm scripts disabled, which is why it didn't install deps.

It's a shame though, that dependencies are installed using a script. I would suggest looking into solving it using the built-in deps management instead of using a post-install script. If at all possible.

[2016-07-12 18:19] paulirish commented on #422
I believe we're done here!

The docs in the readme capture usage.

[2016-07-12 18:19] #422 closed

[2016-07-12 18:29] paulirish commented on #381
Somewhat fixed by #504

Going to close for now until this is more specific

[2016-07-12 18:29] #381 closed

[2016-07-12 18:30] paulirish commented on #358
closing to keep our issues focused

[2016-07-12 18:30] #358 closed

[2016-07-12 19:09] paulirish commented on #475
fixed by #501

[2016-07-12 19:09] #475 closed

[2016-07-13 20:09] paulirish commented on #279
now tracked in #507

[2016-07-14 22:57] paulirish opened #513 "Clean up $harmony scripts"
@michaelgerakis I was thinking we could probably simplify the package.json scripts and travis config a bit.

The idea was: set an env variable in the node v4 case.
It's set to `"--harmony"` if true, otherwise its and empty string `""`.

Would this work?

[2016-07-15 18:06] michaelgerakis commented on #513
I believe in some cases it might be hard. Specifically for coveralls and mocha, we have to explicitly run the command through node (i.e "node mocha --harmony etc..") rather than through the packages themselves (i.e "mocha etc..")

[2016-07-15 18:08] michaelgerakis commented on #513
An alternative I think would be helpful is to extract some of the scripts from package.json, which seems to be limited for customization, to a build runner like grunt or gulp or a makefile.

[2016-07-18 07:09] wardpeet commented on #503
@paulirish can I give it a try?

[2016-07-18 16:41] wardpeet commented on #513
Let me know what you think, pretty nice cleanup in my opinion.

[2016-07-18 19:25] michaelgerakis opened #519 "Break trace down into segments based on user_timings"
There are certain situations that developers might be interested in that lighthouse currently doesn't have the capability of reporting on.
    Ex: A user clicks a button which activates a menu. What is the rendering time of that menu?

Proposed solution: Provide user the option to create user_timing events that label these event segments. Such timings would have to fall under a convention ( 'Lifec

[2016-07-18 21:14] paulirish opened #521 "Metrics: Target page is unknown without TracingStartedInPage trace events"
A few of our metrics use `TracingStartedInPage` to identify the renderer process we want to inspect.
When ChromeDriver collects a trace, it connects to the browser instead of a renderer target, and therefor these events don't show up in the trace.

We need a fallback path if TracingStartedInPage isn't found in the trace.

We can also look for other events that indicate a renderer of interest is do

[2016-07-18 22:29] wardpeet commented on #389
What if you have a server redirect?

[2016-07-20 21:23] paullewis commented on #19
Can we close this now? I think so.

[2016-07-20 21:24] paullewis commented on #279
Merged, so closing this.

[2016-07-20 21:24] #279 closed

[2016-07-20 21:24] paullewis commented on #425
Nudge! How's this going, Jeff?

[2016-07-21 12:31] paullewis commented on #476
I'm all up for this. Brendan, are you happy to take this on? Feels like we want to get this sorted soon to minimize disruption.

[2016-07-21 14:23] jeffposnick commented on #425
It's not going yet!

But I still would like to do this, and should have some time to get it done soon-ish.

[2016-07-21 17:19] paulirish commented on #19
yah sg.

[2016-07-21 17:19] #19 closed

[2016-07-21 17:44] paulirish commented on #495
I've just merged #496. It changes lighthouse behavior to validate that the user has defined a value for the `display` property. It must be set (to one of the 3 valid values).

We're not done here. There are (at least) three more steps I believe are left.

1. Adding an explicit check that you have requirements to trigger the a2hs prompt in Chrome.
2. Adding an explicit check that you have requireme

[2016-07-22 00:50] #27 closed

[2016-07-22 08:59] marcacohen opened #523 "extensible audits"
Had a convo w/ Paul Lewis over breakfast and it dawned on me that instead of trying to compile and maintain the canonical set of audits for everyone ever, it might be more effective to define an extensible interface for adding audits to Lighthouse.

Example: I'm interested in a family of apps that do aggressive pre-fetching of content so that you can view pages you've never visited. I'd like to cr

[2016-07-22 09:24] paullewis commented on #523
I'm very supportive of this. We do support custom configs at the moment, but there's no feature (yet) for adding custom gatherers and audits, which would both be needed for this to work. We'd also need to define & document the APIs and so forth that the custom pieces can use, none of which are blockers of course.

Short version: I'm +1'ing this idea, I'm just not certain what the timeline looks li

[2016-07-25 14:12] paulirish opened #524 "Move log.log('status') off of stdout"
As requested by @crhyme

[2016-07-25 14:48] paulirish opened #525 "Configuration for extension"
We now have the plumbing available to expose a configuration in the chrome extension.

With this, you could _just_ test performance metrics or another configuration setup.

[2016-07-25 17:55] paulirish commented on #521
We have at least two more signals we can use. Neither is a sure thing, but for a fairly controlled environment, it shouldn't be a problem.

### 1. page `<title>`

The trace has `process_labels` metadata events like so:
[code]

The this label is set in [`RenderFrameImpl::didReceiveTitle` here](https://cs.chromium.org/chromium/src/content/renderer/render_frame_impl.cc?dr=C&q=f:render_frame_impl+Upda

[2016-07-25 19:43] wardpeet commented on #525
What configuration are you looking for? Everything the cli supports?

[2016-07-25 20:27] wardpeet commented on #503
PR #526 should fix this

[2016-07-26 00:04] paulirish commented on #525
Choosing which audits (and therefore which gatherer passes) should run.
They could be grouped into categories that match the aggregations

On Jul 25, 2016 3:43 PM, "Ward Peeters" <notifications@github.com> wrote:

[2016-07-26 21:10] crhym3 opened #527 "Cannot read property 'defaultPass' of undefined"
[code]

lighthouse was installed with `npm install googlechrome/lighthouse#d07719e7`.
node v6, npm v3

[2016-07-26 21:11] crhym3 commented on #527
@surma could it be that it has something to do with your commit at https://github.com/GoogleChrome/lighthouse/commit/eaede963c7c7a73ca6facb6537865eb599d0572a?

[2016-07-26 21:35] surma commented on #527
Yes definitely related to that. Will take a stab at that in the morning.

[2016-07-26 22:36] #527 closed

[2016-07-26 22:41] paulirish commented on #527
I've reverted that commit in the meantime. We'll have to land it in another go, @surma
master should be good for you now, @crhym3

---

@surma I'm pretty sure this is because the speedline needs the trace in `afterPass` but the `traces[...]` assignment happens directly *after* that: https://github.com/GoogleChrome/lighthouse/commit/eaede963c7c7a73ca6facb6537865eb599d0572a#diff-1decc169d5e091afb56f

[2016-07-26 22:43] brendankenny commented on #527
we should make sure to check why the tests didn't catch this. Overly permissive on mock data, maybe?

[2016-07-27 14:26] surma commented on #527
Fixed w/ #531

[2016-07-27 15:40] paulirish opened #532 "ServiceWorker origin matching doesn't consider ports"
Which means a SW for localhost:8080 is gonna get "matched" for a site on localhost:3000.

Yikes

Should be an easy fix, obv.

[2016-07-27 15:47] amohideen opened #533 "name of the output file"
Is is possible to write the name of the outputfile to be the URL instead last-run-results.html. (I have not checked the code yet) It will also be good if lighthouse could dump the pages with all its resourses.

[2016-07-27 16:01] paulirish commented on #533
You could do this instead

[code]

the --save-assets flag saves the trace and screenshots.

There's not a standard way for us to dump the entire page. (Would we dump it as delivered or the finished DOM after JS and all that). Because this gets pretty messy, we're avoiding it right now.
What question do you want to answer with these resources?

[2016-07-27 17:28] NickTulett opened #536 "Reports http site as https"
For an internal site on Canary 54 with Lighthouse 0.6.9, I got a Yes for "Site is on HTTPS" but the site is HTTP.

[2016-07-27 17:44] brendankenny commented on #536
is there a 0.6.9? We're on 1.0.5 on master and npm, but we had some wonky versioning at one point.

If this is an older version of lighthouse, there was a bug fixed in #480 where all URLs were passing the test, so you'll need to update it to get this addressed.

If it's a current version, we use the debugger protocol's `Security.securityStateChanged`, so Chrome DevTools may have the same bug. Does

[2016-07-27 17:44] paulirish commented on #536
can you share a screenshot of the chrome devtools security panel viewing this site?
if you can't share here, you can share to me and brendan on email.

[2016-07-27 17:55] NickTulett commented on #536
It's the extension that is reporting version 0.6.9

![image](https://cloud.githubusercontent.com/assets/350365/17186086/a9e5ae96-542b-11e6-992a-7b3617d33db7.png)

[2016-07-27 17:58] wardpeet commented on #513
Can be closed 🔐 @paulirish

[2016-07-27 17:59] wardpeet commented on #503
This one can be closed @paullewis @paulirish

[2016-07-27 17:59] NickTulett commented on #536
Extension from is from 2nd June

[2016-07-27 18:07] paulirish commented on #536
reload and view the main origin details?

kinda weird.

here's how we define "is on https"

https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/driver/drivers/driver.js#L161-L170
https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/driver/gatherers/https.js#L53

[2016-07-27 18:10] brendankenny commented on #536
If the extension was from June 2nd, #480 would have been after that (June 29th), so that's likely the issue.

[2016-07-27 18:17] paulirish commented on #536
good call.

[2016-07-27 18:18] NickTulett commented on #536
It's the version that's live when you click the link for the extension on the home page of this project
On 27 Jul 2016 19:10, Brendan Kenny <notifications@github.com> wrote:If the extension was from June 2nd, #480 would have been after that (June 29th), so that's likely the issue.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the

[2016-07-27 18:18] #532 closed

[2016-07-27 19:04] wardpeet commented on #425
i'm up for this one as well, no rush :) @jeffposnick

[2016-07-27 19:09] wardpeet commented on #525
By configuration you mean an option page on the extension screen or rather have something fancy on the lighthouse screen itself?

[2016-07-27 19:51] #503 closed

[2016-07-27 19:51] paulirish commented on #503
cheers. thanks ward

[2016-07-27 20:38] #513 closed

[2016-07-27 22:23] amohideen commented on #533
Hi Thanks,

lighthouse http://mysite.com --output=html --output-path=./mysite-results.html

Thanks for that.

We woould like to run a PLT benchmarking on a local setup.. so if we
could dump all resources of a web page we will
be able to run a bunch of tests on our harness. At the moment we are
using dependency trees (jason HAR like files)
to reproduce all of it.

(We will be using lighhouse to stu

[2016-07-28 08:33] christophe-g opened #539 "Timer Evaluating Runtime Error"
Hi,

Running into the following error when trying out for my test site:

[code]

npm@3.6.0
node@v5.6.0
DISTRIB_ID=LinuxMint
DISTRIB_RELEASE=17.2
DISTRIB_CODENAME=rafaela
DISTRIB_DESCRIPTION="Linux Mint 17.2 Rafaela"
NAME="Ubuntu"
VERSION="14.04.2 LTS, Trusty Tahr"
ID=ubuntu
ID_LIKE=debian

Cheers and thanks,
C.

[2016-07-28 10:52] andreban opened #540 "Node version error message not being printed when running with Node 4 without --harmony"
When running with node 4.2.6

`node lighthouse-cli/index.js https://airhorner.com `

prints

[code]

It seems the log library is using the spread operator, therefore displaying an error instead of the desired warning message. Should a simple console.log be used to display this error?

Also, running with --harmony still displays the message:
`node --harmony lighthouse-cli/index.js https://airhorner

[2016-07-28 13:20] paulirish commented on #540
Probably makes most sense to do a feature detect for the spread operator
and issue the warning based off that.

[2016-07-28 16:03] paulirish commented on #519
Will need to make sure FMP, etc can be 0'd against an arbitrary time and not dependent on navigationStart

[2016-07-28 16:22] wardpeet commented on #519
+1 for the convention of using "LifecycleInteraction:" as a namespace for user_timings.

As an extra option I would add configuration to add a list of user timings to lighthouse so we can measure already existing timings without changing them in the application code with the LifecycleInteraction prefix

[2016-07-28 16:24] wardpeet commented on #540
you can assign me if you want

[2016-07-28 16:34] paulirish opened #542 "Derived artifacts"
Screenshots, Speedline, etc. They are all generated from a trace, but do not need to interface with the protocol/browser.

This has caused some awkwardness ([for example](https://github.com/GoogleChrome/lighthouse/pull/538/files#diff-a6b18ac2e75e02d6c1e53d586a319643R180))

#### Strawman proposal

* create `/gather/derived/`
* Speedline, screenshots, critical-request-chains go in there
* devtooltim

[2016-07-28 16:39] brendankenny commented on #542
Nice. Should be an easy replace at https://github.com/GoogleChrome/lighthouse/blob/df6e013ae6e1cbf4e66199e32148121796476d43/lighthouse-core/driver/index.js#L209, putting in a class with the request* methods instead of the empty `{}`

[2016-07-28 16:45] brendankenny commented on #519
This will immediately work for imported traces, but we likely want to support this with traces collected by lighthouse itself, which will require being able to tell lighthouse to continue recording traces until some user_timing event(s) occur.

[2016-07-28 16:58] paulirish commented on #540
@andreban is gonna take this, actually. :)

[2016-07-28 17:03] wardpeet commented on #540
perfect 👍

[2016-07-28 17:07] wardpeet commented on #519
@brendankenny isn't it as simple as just setting up a convention like "LifecycleInteraction:finish". Unsure about the name though

[2016-07-28 17:56] paulirish opened #543 "Do audits need to know which pass their trace comes from?"
This is some followup from @surma's #531 that outlines a potential refactor that should clean things up.

Brendan pointed this out. I'm gonna _try_ to capture it here...
- each gather exists only in one reload pass.
- so we have a binding between that pass's trace and the gather.
- each audit declares which gathers they need

So, in theory, an audit could automatically get the trace it wants, by w

[2016-07-28 18:02] brendankenny commented on #543
one kind of weird thing is artifact import, where it doesn't make much sense to talk about passes. However this was already introduced in #531 [here](https://github.com/GoogleChrome/lighthouse/pull/531/files#diff-a6b18ac2e75e02d6c1e53d586a319643R103), so we'll have to deal with the weirdness of that one way or the other.

[2016-07-28 18:42] surma commented on #543
True. I can take a stab at extracting this data.

@brendankenny raises a good point tho. Do we ignore that for now?

[2016-07-28 19:15] paulirish commented on #543
I _think_ we're safe if imported artifacts are always treated as defaultPass

[2016-07-29 15:53] wardpeet commented on #539
can you tell us an url you're trying?

[2016-07-29 17:10] christophe-g commented on #539
of course :
https://test.preignition.org/
C

[2016-07-29 17:31] brendankenny commented on #543
also, ideally traces wouldn't need names at all with this change

[2016-07-29 20:33] paulirish opened #545 "extension: "Either tab id or extension id must be specified." exception"
This guy pops up from time to time.
I typically get it in the `IO.read` loop

![image](https://cloud.githubusercontent.com/assets/39191/17262557/26b3b060-55aa-11e6-9254-797e7c0d8e18.png)

[2016-07-30 13:40] wardpeet commented on #525
I will just give it a spin in a few days

[2016-08-01 10:26] surma opened #548 "Can’t update trace processor"
Followed the instructions in [the README](https://github.com/GoogleChrome/lighthouse#trace-processing-1) while working on my PR #469.

[`lighthouse-core/scripts/traceviewer-module-index.html`](https://github.com/GoogleChrome/lighthouse/blob/999d3bf744761e727d398045c2940299490a3e60/lighthouse-core/scripts/traceviewer-module-index.html#L14) explicitly includes `/tracing/metrics/value_list.html`. Tha

[2016-08-01 17:59] #540 closed

[2016-08-01 20:26] paulirish opened #550 "Audit dependencies v2"
Here's the [disc](https://github.com/hughsk/disc) view of the current lighthouse-background script once its browserified. (Insert disclaimers that there are some differences between the clientside lighthouse vs node one, but generally the changes are fairly subtle)

https://dl.dropboxusercontent.com/u/39519/lighthouse-disc.html

<a href="https://dl.dropboxusercontent.com/u/39519/lighthouse-disc.ht

[2016-08-02 00:59] #548 closed

[2016-08-02 01:14] paulirish commented on #525
It'd happen in the popup itself. Fancy sounds good. :)

I'm envisioning a config screen with checkboxes along these lines:

--------------
--------------

* [x] App can load on offline/flaky connections
* [x] Page load performance
* [x] Site is progressively enhanced
* [x] Network connection is secure
* [x] User can be prompted to Add to Homescreen
* [x] Installed web app will launch with custom s

[2016-08-02 02:48] paulirish commented on #545
Fixed by fe634e7c1216729ee2a09299bc465a800301d508 and  #546

[2016-08-02 02:48] #545 closed

[2016-08-02 02:48] #550 closed

[2016-08-02 15:49] wardpeet commented on #539
When running from source using this command: `npm start https://test.preignition.org` no issues.
Running `lighthouse https://test.preignition.org/`also works.
What version of lighthouse are you using? (npm is now on 1.06)

[2016-08-02 16:01] wardpeet commented on #328
@addyosmani @paulirish Are we still wanting this?
If so what scenario? Just markdown export, push to gist/jsbin, ...

[2016-08-02 17:11] brendankenny commented on #536
The [extension has been updated](https://chrome.google.com/webstore/detail/lighthouse/blipmdconlkpinefehnmjammfjpmpbjk) to 0.7.0, so this should now be fixed. Let us know if you see any other issues!

[2016-08-02 17:11] #536 closed

[2016-08-02 17:23] NickTulett opened #555 "Performance timing errors on extension 0.7.0"
First meaningful paint
-1
Speed Index
-1
Estimated Input Latency
-1
Time To Interactive (alpha) (target: 1,700)
-1

Seems to be the same on our web app or even this very page

[2016-08-02 17:36] brendankenny commented on #555
Generally that means there was some error when collecting data. -1 on Speed Index and First Meaningful Paint sometimes mean the page loaded so quickly that the sampling of page painting wasn't fast enough to yield any useful information, but I've never seen -1 on all of these before.

Is this still on an internal page not accessible to us?
What performance numbers are you seeing on a PWA like http

[2016-08-02 17:48] paulirish commented on #533
I don't know of a good mechanism to dump the entire webpage/webapp such that it can reliably be run again. however WebPageRelay can at least capture/replay network traffic.

But I wonder if instead of dumping the page assets, you could do your analysis from within lighthouse itself. What additional answers do you want from the page?

[2016-08-02 17:53] paulirish commented on #328
I think we're always going to have a richer HTML report than whatever we do in markdown, etc. I'd prefer investing in that direction, despite the markdown/gist being easy to do.

---------------

I wonder if we could beam the JSON to moonlight and have that provide us a URL of the html report. cc @crhym3

[2016-08-02 17:56] NickTulett commented on #555
I get the same

[2016-08-02 18:03] wardpeet commented on #525
Something like this? Or am I in the wrong direction?
![Options button
](https://cloud.githubusercontent.com/assets/1120926/17339427/1ce93e70-58ec-11e6-99a8-e5d90071ce0c.png)
![Options panel](https://cloud.githubusercontent.com/assets/1120926/17339436/2445d9b2-58ec-11e6-8a44-0bc07b3a13ab.png)

[2016-08-02 19:41] crhym3 commented on #328
@paulirish it's an interesting suggestion, but wouldn't it collide with moonlight's own tests? I mean, how would that relate to the audits executed by moonlight.

This seems more of a storage question to me, where lighthouse could support different storage backends (or even just define and consume a storage API provided by plugins): S3, Google Cloud Storage, Drive, Dropbox, etc.

[2016-08-02 21:03] paulirish commented on #328
Yup, it's totally a storage question. Admittedly it has nothing to do with the moonlight-driven audits.

The ideal situation is that with no setup at all, we get a single URL for each run.

[2016-08-02 21:06] paulirish commented on #525
​That's right in line with what I was thinking, yup. :) Nice.

[2016-08-02 21:09] crhym3 commented on #328
That was in my next question :)
How much lighthouse audits are reproducible exactly based on the environment? E.g. OS, network conditions, available memory, CPU, etc.

[2016-08-03 15:06] amohideen commented on #533
We would like to have a more controllable locally reproducible setup so
that we can tweak transport and app layer network parameters. I think I
will look more into lighthouse.

Thanks.

On Tue, Aug 2, 2016 at 6:48 PM, Paul Irish <notifications@github.com> wrote:

[2016-08-04 13:15] surma opened #557 "Lighthouse crashes on manifests without a URL"
[code]

[2016-08-04 18:02] surma opened #559 "Give lighthouse an option to ignore certificate errors"
If people serve the site via a local webserver using a self-signed certificte (e.g. [simplehttp2server](https://github.com/GoogleChrome/simplehttp2server) 🙄), lighthouse just blocks (showing the interstitial in the Chrome instance).

[2016-08-04 20:32] brendankenny commented on #476
fixed in #537

[2016-08-04 20:32] #476 closed

[2016-08-04 20:34] brendankenny commented on #555
I think this is an update in tracing format in Chrome (no `TracingStartedInPage` event in the trace). Currently only happening in Canary...I've bisected it and will follow up

[2016-08-04 22:02] paulirish commented on #559
Looked into things and I don't think it's possible to do this at runtime. (Currently at least)

There is a `--ignore-certificate-errors` runtime flag that would probably do the trick.

We can add that in our launcher. Extension users and other folks would be in the dust, but ... that's something.

[2016-08-04 22:19] surma commented on #559
There’s also `chrome://flags/#allow-insecure-localhost`, which would cover most situations I think. Not sure if we can control that, though.

[2016-08-04 23:13] paulirish commented on #559
we can add whatever into we want into here https://github.com/GoogleChrome/lighthouse/blob/master/lighthouse-core/scripts/launch-chrome.sh#L17

I'm fine with both, fwiw.

If we do this, we should log what flags we're launching chrome with so we can be clear with users on the security status.

[2016-08-04 23:16] brendankenny commented on #559
isn't launch-chrome.sh set up to pass in args, so you could just do `npm run chrome -- --ignore-certificate-errors`?

[2016-08-05 00:01] #555 closed

[2016-08-05 01:36] #557 closed

[2016-08-05 04:42] wardpeet commented on #559
Yes you can just run it with the extra arg . Chrome script uses the $@ which makes it possible

[2016-08-05 05:11] paulirish commented on #539
Fixed by #558

[2016-08-05 05:11] #539 closed

[2016-08-05 16:41] paulirish opened #565 "error with `npm explore -g lighthouse -- npm run chrome`"
Reported by john pearson over email.

[code]

[2016-08-05 17:28] wardpeet commented on #565
Can not reproduce on El Capitan. Perhaps it's a specific issue on Yosemite? It looks like he can't find Chrome Canary but he doesn't output the string that should come with it.

[2016-08-05 19:24] paulirish commented on #533
@amohideen (In case you still want to try to save the page)....

I now see this API https://developer.chrome.com/extensions/pageCapture which can capture a page as MHTML
I don't know that we can trigger that via the protocol, but there may be another way.  Shrug.

[2016-08-06 01:21] tjsavage opened #566 "Seeing unexpected failure for "Cache contains start_url from manifest""
https://shop.polymer-project.org fails the "Cache contains start_url from manifest" but I'm not sure why.

start_url is just listed as "/", which appears to be navigable from the cache?

[2016-08-06 05:55] paulirish commented on #566
I think this is resolved in the latest master.

Are you in the chrome extension?

[2016-08-06 10:05] christophe-g commented on #539
Confirmed - latest commit fixes this issue, thanks,
C.

[2016-08-08 12:55] blaine commented on #523
+1 I would *love* to see this, and agree with all of the motivations. For what it's worth, I looked at doing this after the Amsterdam PWA conference, and (for obvious reasons) didn't dive right in. I've been on vacation / traveling for a few weeks, and I'm just getting back online now – super happy to see this in here.

If I can be helpful towards getting this going, I'm happy to write some code.

[2016-08-08 21:45] paulirish commented on #523
Hey blaine. Yeah sounds good.

I think the setup you have sketched out here is mostly what we've been thinking too.

I don't think we're ready to boot our built-in audits to separate modules, but we can definitely start exploring how to register audits + gatherers that are pulled in from NPM.

If you're interested, I think it'd be great to dig in here. :)

really valuable to explore this some more

[2016-08-08 22:32] brendankenny commented on #523
The good news is that we've been relatively disciplined about moving toward this design(ish) since the beginning, so I believe we're only a few small changes away from it. A path from here to there could be something as simple as:
- the config already allows specifying gatherers and audits by name. Expand this to something like the node [`require` algorithm](https://nodejs.org/api/modules.html#mod

[2016-08-09 18:30] ebidel opened #568 "Report: no clear indication that results are for a 3g connection"
It's unclear that the results are for a simulated 3g connection.

Description text at the top of the report would be helpful that indicates the report is for:
- the first run of the page
- on a 3g simulated connection, with the exact network conditions that were simulated
- anything else I'm forgetting.

[2016-08-09 18:31] ebidel opened #569 "Report - user timeline results only show start of mark"
https://www.chromestatus.com/features uses the User Timing API to record metrics to the timeline. The report only shows the start of each mark, and not the measurement (total time it took):

![screen shot 2016-08-09 at 11 26 53 am](https://cloud.githubusercontent.com/assets/238208/17528533/b29ecbf0-5e24-11e6-93b8-fb478fecf17f.png)

[2016-08-09 19:15] brendankenny commented on #569
Looks like this is an issue of waiting long enough for the page to consider itself loaded. The gather phase pauses for too short a time after page load ([500ms by default right now](https://github.com/GoogleChrome/lighthouse/blob/0269917f968214a8ac58b26246bf0927998af133/lighthouse-core/gather/drivers/driver.js#L29)) for the features on chromestatus to load and call `performance.measure()`, so the

[2016-08-09 21:54] #533 closed

[2016-08-09 21:54] paulirish commented on #559
closing as we found a resolution.

[2016-08-09 21:54] #559 closed

[2016-08-09 21:55] paulirish commented on #521
fixed by #538

[2016-08-09 21:55] #521 closed

[2016-08-09 22:07] kaycebasques opened #570 "update chrome extension description"
![image](https://cloud.githubusercontent.com/assets/4713486/17535378/fcd2e7e2-5e42-11e6-8a60-d1a06b8cfe56.png)

m52 is now stable, no?

[2016-08-09 22:13] paulirish commented on #570
updated. :)

thanks

[2016-08-09 22:13] #570 closed

[2016-08-10 04:38] paulirish opened #575 "RFC: A few file renames"
Proposal for file renames in the codebase:

* All tests like `test/audits/icons.js` get a `-test` filename suffix so: `icons-test.js`
* `config/index.js` to `config/config.js`

I think that may be it. Any others people would like?

[2016-08-10 05:51] wardpeet commented on #575
they stay in a test folder or will they be moved into src as well? (I rather have them separate)

[2016-08-10 14:56] paulirish commented on #575
stay separate in `/test` yeah.

[2016-08-10 16:22] hsablonniere commented on #523
Yeah, definitely!

Looking at this tool in the details (source code, issues and PRs) for a few days, I think this is really promising. Lighthouse's baseline talks about PWA and yes we need tools to push the PWA concept and make it known and easy to access. But as a newcomer, looking a the gatherer/audit/aggregator architecture, I really see a broader performance swiss army knife.

The title of thi

[2016-08-10 16:50] jpmedley opened #576 "Moonlight is reporting no HTTPS on site with HTTPS"
For https://events.google.com/io2016/

![image](https://cloud.githubusercontent.com/assets/8204171/17562442/c9379264-5edf-11e6-804c-9d1761112823.png)

[2016-08-10 16:53] jpmedley opened #577 "Moonlight and Chrome extension are reporting different values for page load performance"
Ran against https://events.google.com/io2016/

The two are different enough to make me think one isn't right.

Extension:
![image](https://cloud.githubusercontent.com/assets/8204171/17562520/16d6eaa6-5ee0-11e6-954f-98c51873fccb.png)

Moonlight:
![image](https://cloud.githubusercontent.com/assets/8204171/17562531/27bea0a2-5ee0-11e6-8121-34e3ddd017d8.png)

[2016-08-10 16:56] brendankenny commented on #577
Need to verify, but I believe this will just be fixed by moonlight updating to master, which will add the trace fix in #561

[2016-08-10 16:56] brendankenny commented on #577
@crhym3

[2016-08-10 17:18] crhym3 commented on #577
good point, I'll sync with lighthouse master.
note that moonlight's using headless_shell exclusively. could that also contribute to the difference?